
  
<div class="container-fluid" class="bg-img">
  <div class="row justify-content-center" >
    <div  class="col-sm-9 col-md-6 col-lg-4 col-10 mx-auto ml-auto mr-auto text-center" style="background:rgb(43, 42, 42);margin-top: 80px;">
       <div  class="content ">
      <h2>
       Sign<span> In</span>
      </h2>
      
    
      <div class="card-body px-lg-5 pt-0" *ngIf="signup  == 1" >
    
        <form class="text-center" style="color: #757575;" [formGroup]="loginuser">
    
          <div class="md-form">
            <input type="email" id="materialLoginFormEmail" (keyup)="checkUserExist()" formControlName="username"  class="form-control">
            <label for="materialLoginFormEmail">Enter Email or Phone Number</label>
          </div>
    
          <mat-form-field *ngIf="pass  == 1" class="example-full-width" >
            <mat-label>Enter Password</mat-label>
            <input matInput type="password"  id="myInput"  style="border: none;"  formControlName="password" >
            <mat-icon onclick="myFunction()" (click)="passvible()" matSuffix *ngIf="visibility" class="cursor-pointer">visibility</mat-icon>
            <mat-icon onclick="myFunction()" (click)="passvible()" matSuffix *ngIf="!visibility" class="cursor-pointer">visibility_off</mat-icon>
          </mat-form-field>
    
          <div class="d-flex justify-content-around">
          
            <div>
              <a *ngIf="pass  == 1" (click)="openXl(content2)">Forgot password?</a>
            </div>
          </div>
    
          <button class="project-button w-100 mt-2" mat-raised-button (click)= "login()" *ngIf="pass==1" >Log in</button>
          <button class="project-button" mat-raised-button *ngIf="pass==0" style="cursor: not-allowed!important;">Login/Signup</button>
          <button class="project-button" mat-raised-button   *ngIf="pass==2" (click)= "onSubmitSign()"  type="submit">Get Otp</button>
          <button class="project-button w-100 mt-2" mat-raised-button *ngIf="pass==1" (click)="openXl(codOtp)" >Login with Otp</button>
    
        </form>
    
      </div>
    
      <div class="card-body px-lg-5 pt-0" *ngIf="signup == 2">
    
        <form class="text-center" style="color: #757575;" [formGroup]="otpForm">
    
          <mat-form-field class="w-100">
            <mat-label>Enter OTP</mat-label>
            <input matInput required  formControlName="otp" type="number">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Enter Password</mat-label>
            <input  (keyup)="checkConfirmPassword()" matInput required  id="myInput" formControlName="password" type="password">
            <mat-icon onclick="myFunction()" (click)="passvible()" matSuffix *ngIf="visibility" class="cursor-pointer">visibility</mat-icon>
            <mat-icon onclick="myFunction()" (click)="passvible()" matSuffix *ngIf="!visibility" class="cursor-pointer">visibility_off</mat-icon>
          </mat-form-field>
         
          <mat-form-field class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput required  (keyup)="checkConfirmPassword()" id="myInput3" formControlName="confirmPassword" type="password" [class.is-invalid]="otpForm.errors?.misMatch">
            <mat-icon onclick="myFunction3()" (click)="passviblek()" matSuffix *ngIf="visibilityk" class="cursor-pointer">visibility</mat-icon>
            <mat-icon onclick="myFunction3()" (click)="passviblek()" matSuffix *ngIf="!visibilityk" class="cursor-pointer">visibility_off</mat-icon>
            <mat-hint class="text-danger" *ngIf="is_confirm">Confirm Password do not match with Password</mat-hint>
          </mat-form-field>
    
          <div class="d-flex justify-content-around">
            <!-- <div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
              </div>
            </div> -->
            <div>
              <a  (click)="openXl(content2)">Forgot password?</a>
            </div>
          </div>
    
          <button class="project-button " mat-raised-button   (click)= "onSubmitOTP()">Verify</button>
          <button class="project-button " mat-raised-button  (click)= "onSubmitResendOtp()">Resend Otp</button>
    
        </form>
    
      </div>
    </div>
  </div>
  </div>
</div>

  <ng-template #content2 let-modal >
    <div class="modal-header p-3"  >
      <h4 class="modal-title project-heading" id="modal-basic-title" align="center">
        Forgot Password
      </h4>
  
      <mat-icon
        (click)="modal.dismiss('Cross click')"
        class="text-danger cursor-pointer"
        >close</mat-icon
      >
    </div>
  
    <div class="modal-body " >
      <div class="container-fluid" >
        <form [formGroup]="forgotForm">
          <div class=" ">
   
   <div class="row justify-content-center mt-1" >
     <div class="col-md-10 project-heading">Enter Your Email or Mobile No.</div>
   </div>          
            <div class="row justify-content-center">
              <div class="col-md-10">
  
                
                 <div class="input-group mb-1 mt-2 ">
                           
                            <input type="text"  class="form-control" formControlName="username" placeholder="Please Enter Email/Mobile" >
                        </div>
               
                
               
              </div>
            </div>
           
           
            <div class="row justify-content-center mt-2 mb-3">
              <button
                class="project-button"
                mat-raised-button
                matTooltip="Send Password"
                (click)="forgotPassword(); modal.close('Save click')"
              >
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  
  
  <ng-template #codOtp let-modal>
    <div class="modal-header  justify-content-center" >
      <h4 class="modal-title font-weight-600 project-heading" id="modal-basic-title" align="center" *ngIf="verify==false || shownamebox">
        Enter mobile number or email
      </h4>
      <h4 class="modal-title font-weight-600 project-heading" id="modal-basic-title" align="center" *ngIf="verify==true">
        Veirfy mobile number or email 
      </h4>
  
     
    </div>
    <div class="modal-body "  >
      <div class="container-fluid">
        <form [formGroup]="otpFormLogin">
       
                <div class="row mt-2 justify-content-center">
                  <div class=" col-lg-6"> 
               
                    <mat-form-field  class="example-full-width " appearance="outline" *ngIf="verify==false || shownamebox">
                      <input
                        matInput 
                      class="pl-3"
                        formControlName="username"
                        required
                      />
                      <mat-icon matPrefix class="text-success">perm_phone_msg</mat-icon>
                    </mat-form-field>
                   
                
                       <div class="row justify-content-center">
                   
               
                      <div  class="col-sm-8 text-center">
                        <h6> <span class="checkout-register-otp font-weight-500" *ngIf="verify==true">{{otpFormLogin.controls.username.value}}</span>   <span matTooltip="edit " (click)="edit()" *ngIf="verify==true && !shownamebox" class="text-primary">(change)</span><span *ngIf="shownamebox" (click)="cancel()" class="text-danger">(cancel)</span> </h6>
                      </div>
                      <p class="font-weight-500" *ngIf="verify==true">A text with a code has been sent to the number or email above.</p>
                    
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-4" *ngIf="verify == true">
                  <div class="col-lg-6 text-center">
                    <mat-form-field  class="example-full-width" appearance="outline">
                      <input
                        matInput type="number"
                        placeholder="Enter OTP"
                        formControlName="otp"
                        required
                      />
                    </mat-form-field>
                   
                  </div>
                </div>
          
            <div
              class="row mt-2 mb-3 justify-content-center"
            >
            
            <button *ngIf="verify == true"
            class="project-button w-35"
            mat-raised-button
            matTooltip="Verify OTP"
            (click)="otpVerificationUser(); modal.close('Save click')" [disabled]="!loading"
          >
            Verify
          </button>
          &nbsp; &nbsp;
           
              <button *ngIf="otpgeneration == true " [disabled]="!loading"
              class="project-button w-35"
              mat-raised-button
              matTooltip="Resend OTP"
              (click)="resendOtpVerify()"
            >
              Resend OTP
            </button> 
              &nbsp; &nbsp;
              <button  *ngIf="verify == false && otpgeneration == false"
              class="project-button mb-3 w-35"
              mat-raised-button
              matTooltip="cancel"
              (click)="modal.dismiss('Cross click')" [disabled]="!loading"
            >
              Cancel
            </button>
            &nbsp;&nbsp;
              <button  *ngIf="verify == false"
              class="project-button mb-3 w-35"
              mat-raised-button
              matTooltip="Send OTP"
              (click)="otpGenerate()" [disabled]="!loading"
            >
              Send OTP
            </button>
          
            </div>
          
           
        </form>
      </div>
    </div>
  </ng-template>



 <!-- new card by juned -->
 <!-- <div class="logo">
 
</div>
<div class="box bg-img" style="margin-left:530px">
  <div class="content">

    <h2>Sign<span> In</span></h2>

    <div class="forms" *ngIf="signup  == 1">

      <div class="user-input" [formGroup]="loginuser">
        <input type="text" class="login-input" (keyup)="checkUserExist()" formControlName="username" placeholder="user name" id="name" required>
        <i class="fas fa-user"></i>
      </div>

      
      <div class="pass-input">
        <input type="password" class="login-input" placeholder="password" id="my-password" required>

        <span class="eye" onclick="myFunction()">
          <i id="hide-1" class="fas fa-eye-slash"></i>
          <i id="hide-2" class="fas fa-eye"></i>
        </span>
      </div>

    </div>

    <button class="login-btn">Sign In</button>

    <p class="new-account">Not a member? <a href="#">Sign Up now!</a></p>

    <br>

    <p class="f-pass">
      <a href="#">forgget password?</a>
    </p>

  </div>
</div>

<script src="https://kit.fontawesome.com/c0078485ae.js" crossorigin="anonymous"></script> -->
