	
<div class="header" style="background:#202328;">
    <nav class="navbar" style="height: 70px; ">
      <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
              <i class="fa fa-bars"></i>
          </label>
     <!--  <a href="#" class="logo">logo</a> -->
  <!--    <img src="list.png" width=40px" style="color: white"> -->
  
     <img src="./assets/1.png" width="120px" height="60px" routerLink="/" style="padding: 10px;">
      <input type="checkbox" id="chkToggle">
      
      
     
  <ul class="navbar-nav mr-auto flex-row"  id="js-menu">

    <li *ngFor="let category of categories2; let i = index" style="color: antiquewhite;padding:10px" class="nav-item dropdown has-megamenu">
      <a class="nav-link sub-cat" href="#" data-toggle="dropdown" (click)="navigateCategory(category.name, category.category_no);hidesubcategoryclick()"
    style="font-family: 'Cinzel', serif;color: white;font-size: 18px;"
      >{{
      category.name
    }}  </a>
        <div class="dropdown-menu megamenu" role="menu" *ngIf="category.sub_category && hidesubcategory">
                   <div class="row justify-content-center">
                 <div class="col-md-10 pl-5" >
                  <div class="row category-name">
                    <div class="col-md-2" style="border-right: 2px solid green;">
                      <p class="project-heading">What's New</p>  
                      <p class="project-heading">Bestsellers</p>   
                    </div>
                    
                    <!-- <h3>Gifts for Her</h3><br/>
                    <h3>Gifts for Her</h3><br/> -->
                  <div class="col-md-10">
                    <div class="row">
                      
                      <div class="col-md-4 " style="color: white;" > 

                        <div *ngFor="let categoryi of category.sub_category | slice:0:8;">
                        <p class=""  (click)="navigateCategory(category.name, category.category_no)"  ><span class="sub-1-category first-category-on"> {{categoryi.name}} </span></p>
                       
                      
                            <div *ngIf="categoryi.sub_category2" class="text-right second-category-on" >
                              <p *ngFor="let categoryj of categoryi.sub_category2 | slice:0:4;">
                                <a style="color: white;" class="sub-2-category project-discription " (click)="navigateCategory(category.name, category.category_no)">{{
                                  categoryj.name.length > 25
                                    ? (categoryj.name | slice: 0:25) + "..."
                                    : categoryj.name
                                }}</a>
                              </p>
                            </div>
                          </div>
                      
                      </div>
                          
                      <div class="col-md-4 " style="color: white;" > 
                        <div *ngFor="let categoryi of category.sub_category | slice:8:16;">
                        <p class=""  (click)="navigateCategory(category.name, category.category_no)"  ><span class="sub-1-category"> {{categoryi.name}} </span></p>
                       
                      
                            <div *ngIf="categoryi.sub_category2">
                              <p *ngFor="let categoryj of categoryi.sub_category2 | slice:4:8;">
                                <a style="color: white;" class="sub-2-category project-discription " (click)="navigateCategory(category.name, category.category_no)">{{
                                  categoryj.name.length > 25
                                    ? (categoryj.name | slice: 0:25) + "..."
                                    : categoryj.name
                                }}</a>
                              </p>
                            </div>
                          </div>
                      
                      </div>
                          
                      <div class="col-md-4 " style="color: white;" > 
                        <div *ngFor="let categoryi of category.sub_category | slice:16:24;">
                        <p class=""  (click)="navigateCategory(category.name, category.category_no)"  ><span class="sub-1-category"> {{categoryi.name}} </span></p>
                       
                      
                            <div *ngIf="categoryi.sub_category2">
                              <p *ngFor="let categoryj of categoryi.sub_category2 | slice:8:12;">
                                <a style="color: white;" class="sub-2-category project-discription " (click)="navigateCategory(category.name, category.category_no)">{{
                                  categoryj.name.length > 25
                                    ? (categoryj.name | slice: 0:25) + "..."
                                    : categoryj.name
                                }}</a>
                              </p>
                            </div>
                          </div>
                      
                      </div>
                      
                    </div>
                  </div>
                    
                   
                </div>
                 </div>
                   </div> 
          </div> 
    </li>
  </ul> 
<!-- end -->

      <ul style="display: contents; list-style: none;" class="ml-auto">
        <li style=" text-decoration: none; list-style: none!important;" class="">
         
          <div class="search searchFull"  >
            <mat-card>
              <input
                type="search"
                (keyup)="search($event.target.value)"
                (keyup.enter)="
                  navigateCategory(
                    searchList.category[0].name,
                    searchList.category[0].category_no
                  )
                "
                (focus)="searchFocus = !searchFocus"
                placeholder="Search for brand, category, product more..."
                aria-label="search..."
              />
              <i
                class="searchIcon fa fa-search "
                title="search"
                (click)="
                  navigateCategory(
                    searchList.category[0].name,
                    searchList.category[0].category_no
                  )
                "
              ></i>
              <mat-card *ngIf="searchFocus" class="searchItems w-100">
                <div
                      class="d-flex align-items-center mt-2 mb-1 cursor-pointer category-hover"
                      *ngFor="let category of searchList.category | slice: 0:6"
                    >
                      <i class="fa fa-search mr-3 ml-3"></i>
                      <a
                        (click)="
                          navigateCategory(category.name, category.category_no)
                        "
                      >
                        <div style="font-size: 12px">
                          in {{ category.name }}
                        </div>
                      </a>
                    </div>

                    <div
                      class="d-flex align-items-center cursor-pointer mt-1 category-hover"
                      *ngFor="let brand of searchList.brand | slice: 0:6"
                    >
                      <i class="fa fa-search mr-3 ml-3"></i>
                      <a (click)="navigateBrand(brand.name, brand.brand_id)">
                        <div style="font-size: 12px">in {{ brand.name }}</div>
                      </a>
                    </div>

                    <div 
                      class="d-flex align-items-center category-hover text-success"
                      *ngFor="let product of searchList.product | slice: 0:3"
                    >
                      <i class="fa fa-search mr-3 ml-3"></i>

                      <a 
                        routerLink="/product/{{
                          getSlug(
                            product.name,
                            product.product_no,
                            product.slug
                          )
                        }}"
                      >
                        <div style="font-size:13px" class="p-1 text-success">
                          {{ product.name | slice: 0:40 }} |
                          {{ product.model | slice: 0:40 }}
                        </div>
                      </a>
                    </div>
              </mat-card>
            </mat-card>
          </div>
        </li> 
      
        <li *ngIf="is_logged_out" class="mr-1">
          <a routerLink="/login" style="list-style-type:none;" class="nav-links" style="color: green;"><i class="fas fa-user"></i></a>
        </li>
        <li *ngIf="is_logged_in" routerLink="/client-info" class="mr-2">
          <a routerLink="/" style="list-style-type:none;" class="nav-links" >  <i
            *ngIf="nm != null" 
            class="fas fa-user text-center " style="color: green;"
            title="{{ nm }}"
          >
            <!-- {{ nm.length > 10 ? (nm | slice: 0:10) + "..." : nm }} -->
            </i
          >
          <i
            *ngIf="nm == null"
            class="fas fa-user text-center"
            title="user"
            >user</i
          > </a>
        </li>
     

<li style="list-style: none;" class="ml-1" *ngIf="is_logged_out">
  <a class="nav-link" routerLink="/login"
    ><i class="far fa-heart text-center text-success"></i>
  </a>
</li>
<li style="list-style: none;" class="ml-1" *ngIf="is_logged_in">
  <a class="nav-link" routerLink="/client-info"
    ><i class="far fa-heart text-center text-success"></i>
  </a>
</li>
        <li style="list-style: none;" class="ml-1" routerLink="/cart">
           <a> <i class="fas fa-shopping-cart text-center" >

               <sup class="text-danger ">
              {{ cart }}
            </sup></i
          >
          </a>
        </li>
      </ul>
              
   
            
  
 
    </nav>

                  


    
</div>



  <router-outlet></router-outlet>

  
  
