@media only screen and (max-width: 600px) {
  body {
    background-color: #202328;
  }
}

.header{
  margin-bottom: 6%;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.sub-cat{
  color: white!important;
  width: 100%;
}
.sub-cat:hover{
  background-color: white;
  color: #000000!important;
  width: 100%;
}
.navbar {
    font-size: 18px;
    background: #000000!important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 44444444;
    height: 70px;
    color: green;
    padding-bottom: 10px;
    /* box-shadow: 0 0 9px gray; */
  }
  
  
  
  .main-nav {
    list-style-type: none;
    display: none;
    text-decoration:none;
   
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: #777;
  }
  
  .main-nav li {
    text-align: left;
    margin: 9px auto;
    color: black;
    font-size: 16px;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 5px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
       background:#202328;
  text-decoration:none;
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-left: 5px ;
      margin-top: 10px;
      flex-direction: row;
      justify-content: flex-end;
  text-decoration:none;
    }
  
    .main-nav li {
     
      outline: none;
    }
    .nav-item{
      display: flex;
      margin-left: 5px ;
      margin-top: 10px;
      flex-direction: row;
      justify-content: flex-end;
  text-decoration:none;
    }
  
    .nav-links {
      margin-left: 30px;
      font-size: 18px;
      text-decoration: none;
  
      }
  
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
  
    }
    #searchInput{
        outline: none;
        text-decoration: none;
        border-radius: 15px;
        
    }
  
    .logo:hover,
    .nav-links:hover {
      color: #64E619;
    }
  }
  
  
  /*start---------*/
  /* @import url('https://fonts.googleapis.com/css?family=Sarabun'); */
  
  /* *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    box-sizing: border-box;
    background-color:   rgba(229,229,229, .3);
    font-family: 'Sarabun', sans-serif;
  
  }
  
  .container {
    width: 25rem;
    height: 100%;
    margin: 0 1rem;
    position: relative;
  }
  
  h1 {
    margin: 2rem;  
  }
  
  .searchbar {
    font-size: 1rem;
    width: 15rem;
    height: 1rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    padding: 2rem;
    position: relative;
    transition: all .2s;
    transition-delay: .1s;
  }
  
  /* .searchbar:hover {
    width: 27rem;
    height: 6rem;
  }bhai mega menu may dekho uska xolor chng kaise hua css may
  */
  /* .button {
    height: 2rem;
    
    position: absolute;
    
    margin-left: 12rem;
    transition: all .2s;
    transition-delay: .1s;
  }
  
  .button:hover {
    cursor: pointer;
  }
   */
  /*.searchbar:hover + .button {
    height: 2.5rem;
    top: 1.8rem;
    right: 0;
  }
  */
  /* .searchbar::placeholder {
    opacity: .5;
  }
   */
  

  /* new .searchbar start */
   
  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
/* <<<<<<< HEAD
    height: 60px; */
   

    height: 40px;

    background-color: #353b48;
    border-radius: 21px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 230px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    /* background: white; */
    color: #e74c3c;
    }

    .search_icon{
      height: 20px;
      width: 21px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      text-decoration: none;
    }

    /* dropdown show */
    
		.dropdown-menu .dropdown-toggle:after{
			border-top: .3em solid transparent;
		    border-right: 0;
		    border-bottom: .3em solid transparent;
		    border-left: .3em solid;
		}
		.dropdown-menu{	
			margin:0; 
		}
		.megasubmenu{ 
			left:100%; top:0; min-height: 100%; min-width:1000px;
    }
  
		
		.dropdown-menu > li:hover .megasubmenu{
			display: block;
		}
    /* new hover dropdown*/
   
    main-nav a:hover{
      padding: 1px 1px;
        background: linear-gradient(to left, #4E50B3, #2ceedc)!important;
    }
   

    li a:hover{
      cursor:pointer;
      
        background: linear-gradient(to left,white)!important;
        color:   #4E50B3;
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted white; 
    }
      .dropdown-menu > li:hover .megasubmenu{
        display: block;
        
      }
li a:hover{
        background:white ;
        color:  #4E50B3;
        }  
        li .dropdown-item{
          color: white;
       
        } 
        .dropdown-menu{
          background-color:#202328;
        }
       
    /* :start */
