	
<div class="header" style="background:#202328;">
    <nav class="navbar">
      
      
  
  
      <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
              <i class="fa fa-bars"></i>
          </label>
     <!--  <a href="#" class="logo">logo</a> -->
  <!--    <img src="list.png" width=40px" style="color: white"> -->
     <img src="discovery1.svg" width="190px">
      <input type="checkbox" id="chkToggle">
      <ul class="main-nav" id="js-menu">
        <li>
          <a href="#" class="nav-links" style="text-decoration: none;">Home</a>
        </li>
        <li>
          <a href="#" class="nav-links" style="text-decoration: none;">Explore</a>
        </li>
        <li>
          <a href="#" class="nav-links" style="text-decoration: none;">Shorts</a>
        </li>
        <li>
          <a href="#" class="nav-links" style="text-decoration: none;">MindBlown</a>
        </li>
        <li>
          <a href="#" class="nav-links" style="text-decoration: none;">Premium</a>
        </li>
        <li>
                  <a href="#" class="nav-links" style="text-decoration: none;">login</a>
                </li>
      </ul>
              
      <DIV>
        <div class="container">
      <input type="text" maxlength= "12"             placeholder="Search..." class="searchbar">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="Magnifying Glass" class="button">
  
    </div>
    
      </DIV>  
  
  
    </nav>
  
  
