
<div class="container-fluid dash1 mt-5 border-top" id="back">
    <div class="row mt-3">
  
      <div class="col-md-6 mt-6 ml-6">
        <ul style="color: white;text-decoration: none;list-style: none; font-size: 15px;font-family: Cinzel Semi Bold;">
         <li><p class="text-white project-discription" style="font-size: 15px;">{{compd?.email}}</p></li> 
       
            <li class="text-white project-heading"><p style="font-size: 15px;">{{compd?.contact_no}} (Mon-Fri, excluding Holidays 11am-4pm)</p></li>
            
            <li class="text-white project-discription"><p style="font-size: 15px;">  {{compd?.line1}}, {{compd?.line2}}, {{compd?.landmark}}, {{compd?.city}},
              {{compd?.state}}, {{compd?.country}} -{{compd?.pin_code}}.</p></li>
            <br> 
            <li> <p style="font-size: 15px;" class="project-discription">FAQ's&nbsp;&nbsp;&nbsp;&nbsp;   Privacy &nbsp;&nbsp;&nbsp;&nbsp;    PolicyTerms of Use &nbsp;&nbsp;&nbsp;&nbsp; <span class="project-heading text-success cursor-pointer" routerLink="/member-login">Member Registration</span> </p></li>
      
            </ul>
      
          </div>
  
      <div class="col-md-6 mt-6 ml-6" >
        <div class="row">
          <div class="col-md-3">
            <h6 class="text-white project-heading" id="text" style="color:white;margin-left: 20px;font-size: 15px;">follow us</h6>
            <a  target="_blank" class="facebook"
            href="{{ data?.facebook }}"
            ><img src="./assets/facebook1.png"   width="50px"> </a>
            
            <a   href="{{data?.twitter}}" target="_blank" class="twitter"
            >      <img src="./assets/youtube.png"  width="50px" style="margin-left: 10px;"></a>
         

        </div>
          <div class="col-md-3">
            <h6 class="text-white" id="text" style="color:rgb(59, 21, 21); margin-left: 20px;font-size: 15px;font-family: Cinzel Semi Bold;">Roar Club App</h6>
              <div class="row">
                <div class="col-md-1"><img src="./assets/app-store.png"  width="100px"></div>
                <div class="col-md-1"><img src="./assets/play-store.png"  width="100px" style="margin-left: 80px;"></div>
            </div>


      </div>
      
       </div>
       <div class="row">
        
        <div class="col-md-12 mt-6 project-discription text-success" style="margin-top: 10px;"  >Copyright © 2020 RoarClub All rights reserved.</div>
      </div>
           </div>


         
       

  
     


  
  
