
<div class="container-fluid dash1 mt-5" id="back">
    <div class="row">
  
      <div class="col-md-6 mt-6 ml-6">
        <ul style="color: white;text-decoration: none;list-style: none; font-size: 15px;">
         <li><p class="text-white" style="font-size: 15px;">sapnadresses.soi@gmail.com</p></li> 
    
            <li class="text-white"><p style="font-size: 15px;">+91 8369975454 (Mon-Fri, excluding Holidays 11am-4pm)</p></li>
            
            <li class="text-white"><p style="font-size: 15px;">10, Samrat Estate, J.N.Road, Mulund-West, Mumbai - 400080</p></li>
            <br> 
            <li> <p style="font-size: 15px;">FAQ's&nbsp;&nbsp;&nbsp;&nbsp;   Privacy &nbsp;&nbsp;&nbsp;&nbsp;    PolicyTerms of Use  </p></li>
      
            </ul>
      
          </div>
  
      <div class="col-md-6 mt-6 ml-6" >
        <div class="row">
          <div class="col-md-3">
            <h6 class="text-white" id="text" style="color:white;margin-left: 20px;font-size: 15px;">follow us</h6>
            <img src="./assets/facebook1.png"  width="50px">
            <img src="./assets/youtube.png"  width="50px" style="margin-left: 10px;">

        </div>
          <div class="col-md-3">
            <h6 class="text-white" id="text" style="color:rgb(59, 21, 21); margin-left: 20px;font-size: 15px;">Roar Club App</h6>
              <div class="row">
                <div class="col-md-1"><img src="./assets/app-store.png"  width="100px"></div>
                <div class="col-md-1"><img src="./assets/play-store.png"  width="100px" style="margin-left: 80px;"></div>
            </div>


      </div>
      <br> <br> <br> <br> <br> <br> 
      <div class="row">
        
        <div class="col-md-12 mt-6" style="color: white;margin-top: 10px"  >Copyright © 2020 RoarClub All rights reserved.</div>
      </div>
       </div>
           </div>


         
       

  
     


  
  
