@media only screen and (max-width: 600px) {
    body {
      background-color: #202328;
    }
  }
  


#back{
    background-color: #202328;
}
#text{
    color: white;
}
.footer-text-for-3 span{
  font-size: 12px;
}

.twitter {
  color: rgb(	29, 161, 242);
}
.facebook{
  color: rgb(59,89,152);
}

.instagram{
  /* color: #d6249f; */
  
  color: whitesmoke;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}