
<div class="container-fluid dash1 mt-5" id="back">
    <div class="row">
  
      <div class="col-md-6 mt-6 ml-6">
        <ul style="color: white;text-decoration: none;list-style: none;">
           
           <li>hello@discovery.com.</li>
        <li class="text-white">+91 8433774761 (Mon-Fri, excluding Holidays 11am-4pm), 022-43491100</li>
         
        <li class="text-white">Discovery India, 5th Floor, WeWork BKC, C20 G Block, Bandra Kurla Complex, Mumbai 400051</li>
  <br>
        <li> FAQ's&nbsp;&nbsp;&nbsp;&nbsp;   Privacy &nbsp;&nbsp;&nbsp;&nbsp;    PolicyTerms of Use  </li>
  
        </ul>
  
      </div>
  
      <div class="col-md-6 mt-4 ml-4">
       <div class="col-md-3 mt-2 ml-2">
       <h6 class="text-white mt-2 justify-content-center" style="color: white;margin-left: 30px; font-size: 15px";>Follow us</h6>
       <div class="col-md-1 "> <img src="facebook1.png"  width="50px"></div>
       <div class="col-md-1 " style="margin-left: 30px"> <img src="youtube.png"  width="50px"></div>
       </div>
  
  
        <div class="row">
           <div class="col-md-3 mt-2 ml-2">
        <h6 class="text-white mt-2" style="color: white;margin-left: 10px; font-size: 15px">Discovery Plus App</h6>
      <div class="col-md-1 "> <img src="app-store.png"  width="100px"></div>
      <div class="col-md-1" style="margin-left: 80px"><img src="play-store.png" width="100px"> </div>
  
  
   </div>
           </div><br> 
           <div class="row">
               <!-- <div class="col-md-6"><p>FAQ's   Privacy     PolicyTerms of Use  </p></div> -->
               <div class="col-md-12 mt-6" style="color: white;margin-top: 10px"  >Copyright © 2020 Discovery, Inc. or its subsidiaries and affiliates. All rights reserved.</div>
           </div>
       
      </div>
  
     


  
  
