<div
  *ngIf="!loader"
  class="row justify-content-center"
  style="margin-top: 10%;"
>
  <div class="col-md-4 text-center">
    <img src="assets/img/loader.gif" height="200" width="200" />
  </div>
</div>
<div *ngIf="loader">
 
  <div class="container-fluid"  >
   

<div class="row justify-content-center ">
  <div class="col-md-11">
    <div class="row mt-3 mb-3" *ngIf="!forpaymentshow">
      <div class="col-lg-7 pl-3">
        <h4 class="font-weight-600 text-white project-heading">Order Sum<span style="border-bottom: 2px solid green;">mary</span></h4>
      </div>
      <div class="col-lg-5">
        <div class="row justify-content-center project-heading"><div class="col-md-11  text-center pt-1">
          <span class="stepper-for-order"><i class="fas fa-shopping-cart"></i>&nbsp; Your Cart  --------  </span>  <span class="stepper-for-order"> <i class="fas fa-file-invoice"></i>&nbsp; Order Summary -------- </span>  <span class="" style="color: green;"> <i class="far fa-credit-card"></i>&nbsp; Payment </span> 
        </div></div>
      </div>
    </div>
<!-- for payment mode -->

<div class="row mt-3 mb-3" *ngIf="forpaymentshow">
  <div class="col-lg-7 pl-3">
    <h4 class="font-weight-600 text-white project-heading">Payment Details</h4>
  </div>
  <div class="col-lg-5">
    <div class="row justify-content-center project-heading"><div class="col-md-11  text-center pt-1"> 
      <span class="stepper-for-order"><i class="fas fa-shopping-cart"></i>&nbsp; Your Cart  --------  </span>  <span class="stepper-for-order"> <i class="fas fa-file-invoice"></i>&nbsp; Order Summary -------- </span>  <span class="stepper-for-order"> <i class="far fa-credit-card"></i>&nbsp; Payment </span> 
    </div></div>
  </div>
</div>

<!-- for payment mode -->


  <div class="row">
    <div class="col-lg-7" >
      <mat-card *ngIf="shipAddShow == false" style="overflow: hidden;">
        <div class="row justify-content-start pl-3">
          <div class="col-lg-4">
            <!-- <button type="button" class="btn btn-primary btn-block waves-effect waves-light" (click)="WtoutLoginCheckout()">go to checkout</button> -->
          <button type="button" class=" button-for-address project-heading "   (click)="openXl(content)"> <mat-icon>add</mat-icon><span class="pb-2">Add Address</span> </button>
        </div>
        </div>
        <div class="row">

          <div class="col-lg-12 add-font">
            <mat-radio-group aria-label="Modes" *ngIf="addresses !== null">

              <div
                class="row mt-3 " style="width: 98%; "
                *ngFor="let address of addresses; let i = index"
              >
                <div class="col-md-12 col-12  add-more p-2" style=" border-radius: 12px;" id="{{ i }}">
                  
                  <div class="row  pt-1 mb-1" >
                    <div class="col-md-11 col-6 cursor-pointer  font-weight-400">
                       
                        <div class="form-check" >
                          <label class="form-check-label" >
                            <mat-radio-button  (click)="addBillingAddress2(i)"
                              matTooltip="send Bill here" class="project-heading" style="color: green;"
                              value="{{ address.address_no }}"
                              > Send Bill & Deliver Here 
                            </mat-radio-button>
                          </label>
                        </div>
                     
                    </div>
                    
                    <div class="text-right col-md-1 col-6 d-flex justify-content-end pt-1">
                      <div class="dropdown dropleft">
                        <a
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i
                            class="fa fa-ellipsis-v cursor-pointer text-muted"
                            aria-hidden="true"
                          ></i>
                        </a>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton"
                        >
                          <a
                            class="dropdown-item cursor-pointer"
                            (click)="
                              openXl(content2);
                              getAddressSpecific(address.address_no)
                            "
                            ><i class="fas fa-pencil-alt text-success"></i>  Edit</a
                          >
                          <a
                            class="dropdown-item cursor-pointer"
                            (click)="removeAddress(address.address_no)"
                            ><i class="fas fa-trash-alt text-danger"></i>  delete</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pl-3">
                    <h6 class="font-weight-500 project-heading">{{ address.receiver_name }}</h6>
                    <h5 class="font-weight-400 ml-5 ">{{ address.contact_no }}</h5>
                  </div>
                  <div class="row pl-3">
                    <p class="font-weight-400 project-discription">
                      {{ address.line1 }},{{ address.line2 }}, {{ address.city }},
                      <br />{{ address.state }}, {{ address.country }} -<span
                        class="font-weight-500"
                        >{{ address.pin_code }}
                      </span>
                    </p>
                  </div>
                  <div class="row pl-3">
                      <p class="project-discription">{{ address.email }}</p>
                  </div>
                  <div class="row pl-3" >
                    
                    <div class="cursor-pointer ml-auto pr-3 delivery font-weight-500" *ngIf="billingArr == i && billingDone == true">
                    <mat-radio-group >
                       <div class="form-check row pr-3">
                          <label class="form-check-label text-info">Same as Shipping Address &nbsp;
                            <mat-radio-button class="text-success font-weight-500" (click)="addBillingAddress3(i)"
                              matTooltip="Yes"
                              value="1"
                              > yes 
                            </mat-radio-button>&nbsp; &nbsp;
                            <mat-radio-button class="text-danger font-weight-500" (click)="addBillingAddress(i)"
                              matTooltip="No"
                              value="0"
                              > No 
                            </mat-radio-button>
                          </label>
                        </div>
                    </mat-radio-group>
                  </div>
                  
                  </div>
                </div>
              </div>
            </mat-radio-group>

          </div>



        </div>
      
      </mat-card>
      <!-- start for shipping -->
      <mat-card *ngIf="shipAddShow == true">
        <div class="row justify-content-center">
          <div class="col-md-11">
            <button type="button" class="btn btn-primary btn-block  waves-effect waves-light"  (click)="openXl(content)"> <mat-icon>add</mat-icon>&nbsp; Add Address</button>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-12">
 
 <!-- billing check start -->
 <mat-radio-group aria-label="Modes" >
              <div
                class="row mt-3" style="width: 98%;"  *ngFor="let address1 of address; let i = index"
                
              >
                <div class="col-md-12  add-more" style="background: #f7f7f7; border-radius: 12px;">
                  <div class="row cursor-pointer    font-weight-400 mt-1 mb-1" >
                   <div class="col-md-11 col-6" >
                    <div class="form-check ">
                      <label class="form-check-label">
                        <mat-radio-button   class="text-info"
                          matTooltip="Billing Address "
                          [checked]="true"
                          >  Billing Address 
                        </mat-radio-button>
                      </label>
                    </div>
                 
                   </div>
                
                  <div class="d-flex justify-content-end col-md-1 pt-1 col-6">
                    <div class="dropdown dropleft">
                      <a
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i
                          class="fa fa-ellipsis-v cursor-pointer text-muted"
                          aria-hidden="true"
                        ></i>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <a
                          class="dropdown-item cursor-pointer"
                          (click)="
                            openXl(content2);
                            getAddressSpecific(address1.address_no)
                          "
                          ><i class="fas fa-pencil-alt text-success"></i>  Edit</a
                        >
                        <a
                          class="dropdown-item cursor-pointer"
                          (click)="removeAddress(address1.address_no)"
                          ><i class="fas fa-trash-alt text-danger"></i>  delete</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row pl-3">
                    <h6 class="font-weight-500">
                      {{ address1.receiver_name }}
                    </h6>
                    <h5 class="font-weight-400 ml-5">
                      {{ address1.contact_no }}
                    </h5>
                  </div>
                  <div class="row pl-3">
                    <p class="font-weight-400">
                      {{ address1.line1 }},{{ address1.line2 }},
                      {{ address1.city }}, <br />{{ address1.state }},
                      {{ address1.country }} -<span class="font-weight-500"
                        >{{ address1.pin_code }}
                      </span>
                    </p>
                  </div>
                  <div class="row pl-3">
                    <p>{{ address1.email }}</p>
                 
                  </div>
                </div>
              </div>
            </mat-radio-group>
            
 <!-- billing check end -->
            <mat-radio-group aria-label="Modes" *ngIf="addresses !=null">
              <div
                class="row mt-3" style="width: 98%;"
                *ngFor="let address of addresses; let i = index" 
              >
                <div class="col-md-12  add-more" style="background: #f7f7f7; border-radius: 12px;">
                  <div class="row cursor-pointer    font-weight-400 mt-1 mb-1" >
                   <div class="col-md-11 col-6" >
                    <div class="form-check ">
                      <label class="form-check-label">
                        <mat-radio-button   (click)="addShippingAddress(i)" class="text-info"
                          matTooltip="Deliver Here "
                          value="{{ address.address_no }}"
                          >  Deliver Here 
                        </mat-radio-button>
                      </label>
                    </div>
                 
                   </div>
                
                  <div class="d-flex justify-content-end col-md-1 pt-1 col-6">
                    <div class="dropdown dropleft">
                      <a
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i
                          class="fa fa-ellipsis-v cursor-pointer text-muted"
                          aria-hidden="true"
                        ></i>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <a
                          class="dropdown-item cursor-pointer"
                          (click)="
                            openXl(content2);
                            getAddressSpecific(address.address_no)
                          "
                          ><i class="fas fa-pencil-alt text-success"></i>  Edit</a
                        >
                        <a
                          class="dropdown-item cursor-pointer"
                          (click)="removeAddress(address.address_no)"
                          ><i class="fas fa-trash-alt text-danger"></i>  delete</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row pl-3">
                    <h6 class="font-weight-500">
                      {{ address.receiver_name }}
                    </h6>
                    <h5 class="font-weight-400 ml-5">
                      {{ address.contact_no }}
                    </h5>
                  </div>
                  <div class="row pl-3">
                    <p class="font-weight-400">
                      {{ address.line1 }},{{ address.line2 }},
                      {{ address.city }}, <br />{{ address.state }},
                      {{ address.country }} -<span class="font-weight-500"
                        >{{ address.pin_code }}
                      </span>
                    </p>
                  </div>
                  <div class="row pl-3">
                    <p>{{ address.email }}</p>
                 
                  </div>
                </div>
              </div>
            </mat-radio-group>
            
          </div>

<!-- <div class="col-lg-3">
<div class="row justify-content-center">
  <div 
  class="col-md-11  col-12 mx-auto mt-auto mb-auto"
 
>
<button mat-raised-button class="order-button "  (click)="openXl(content)"> <mat-icon>add</mat-icon> Address</button>
 
</div>
</div>
</div> -->

        </div>
      
      </mat-card>
      <!-- end for shipping -->
      <!--  statrt for cart-->
        <mat-card class="mb-2 mt-3 col-lg-12 mycart-scroll">
         
          <div
            class=""
            *ngFor="let cd of c; let i = index"
          >
            <div class="row">
              <div class="col-md-3 col-4">
                <div class="row p-3 justify-content-center cursor-pointer" (click)="view_product(cd.product.meta_title, cd.product.product_no,cd.product.slug,cd.product.quick_product_check)" matTooltip="View Product">
                  
              
                  <img
                    src="{{cd.product_image.medium_thumbnail_link}}"
                    
                    class="" style="height: 150px; width: 100%;"
                  />
                </div>
              </div>
              <div class="col-md-9 pt-3 col-8">
              <div class="row cursor-pointer" style="cursor: pointer;" >
                  <h6 class="text-titlecase font-weight-600 project-heading">
                  {{ cd.product.name }}
                  </h6>
              </div>
              <div class="row" style="cursor: pointer;" (click)="view_product(cd.product.meta_title,cd.product.product_no,cd.product.slug,cd.product.quick_product_check)" title="View Product">
                  <h6 class="text-titlecase font-weight-500 project-discription">
                  {{ cd.product.subheading }}
                  </h6>
              </div>

              <div  class="row text-titlecase">
                <!-- <span *ngIf="cd.is_rent =='0'"></span>&nbsp; -->
                <span *ngIf="cd.is_rent !='0'">{{ cd.rate_name }} </span>
                <span class="font-weight-600">₹ {{ cd.rate }}</span
                  >&nbsp;<span  *ngIf="cd.rate < cd.total_mrp_amount"  class="text-muted font-weight-400"
                    >&nbsp;<del> ₹ {{ cd.total_mrp_amount }}</del></span
                  > &nbsp; &nbsp;  <span  *ngIf="cd.rate < cd.total_mrp_amount" class="text-success font-weight-500"
                  > {{cd.discount_percent | number: '1.0-0'}} % off
                  </span
                >
              </div>

              
         
 
<div class="row">
  <span class="text-titlecase font-weight-500 project-discription">
    Quantity : 
  &nbsp;&nbsp;{{ cd.qty }}</span>
</div>
                <div class="row " *ngIf="ship_ask==true">
                  <h6 *ngIf="cd.shipping_amt!=null && cd.shipping_amt!=0 && cd.shipping_amt!='0'" class="text-titlecase project-discription font-weight-400 text-info">
                    Shipping Charge : {{cd.shipping_amt}}
                  </h6>

                  <h6 *ngIf="cd.shipping_amt==null || cd.shipping_amt==0 || cd.shipping_amt=='0'" class="text-success project-discription text-titlecase font-weight-400 text-info">
                    Free Shipping
                  </h6>
                </div>
               
              </div>
            </div>
        <div *ngIf="buy==false">
            <hr *ngIf="i != (cart.cart_inventory.length-1)"/>
          </div>
          </div>
         
        </mat-card>
    
<!-- end for cart -->
    </div>
    <div class="col-lg-5" style="position: sticky; top: 200px;">
      <!-- start for cart -->
      <mat-card>
        <div class="row border-bottom ">
          <h6 class="text-titlecase ml-3 font-weight-600 project-heading">Payment details</h6>
          &nbsp;&nbsp;
           <div *ngIf="buy_now==false" class="project-heading">
          (Item {{cart?.cart_inventory.length}} & Total Qty {{total_entity}})
        </div>
         <div *ngIf="buy_now==true">
          (Item 1 & Total Qty {{total_entity}})
         </div>
        </div>
        <div class="row price-details mt-2">

          <!-- //s tart for cart-->
          
       </div>
        <div class="row price-details">
          <div *ngIf="buy_now==false" class="col-md-8 col-8">
            <p class="project-discription" >Total MRP </p>
           
          </div>
          <!-- end for cart -->
          <!-- start for buy now -->
<div *ngIf="buy_now==true"  class="col-md-8 col-8">
<p class="project-discription" >Total MRP </p>
</div>
          <!-- end for buy now -->
          <div class="col-md-4 col-4 text-right">
            <p>₹ {{ cart?.total_mrp_amount }}</p>
          </div>
        </div>
         <div class="row  price-details">
          <div class="col-md-8 col-8">
            <p class="project-discription">Discount </p>
          </div>
          <div class="col-md-4 col-4 text-right">
          <p>- ₹ {{ cart?.total_mrp_amount-cart?.inventory_total_amt}}</p>
          </div>
        </div>

        <div class="row price-details">
          <div *ngIf="buy_now==false" class="col-md-8 col-8">
            <p class="project-discription">Price (item {{cart?.cart_inventory.length}})</p>
          </div>
          <!-- start for buy now -->
          <div *ngIf="buy_now==true" class="col-md-8 col-8">
            <p>Price (item 1)</p>
          </div>
          <!-- end for buy now -->
          <div class="col-md-4 col-4 text-right">
            <p>  ₹ {{ cart?.inventory_total_amt }}</p>
          </div>
        </div>

        <!-- promo code start -->
         <div class="row  price-details" *ngIf="promo_cod">
          <div class="col-md-8 col-8">
            <p>Promo Code Offer </p>
          </div>
          <div class="col-md-4 col-4 text-right">
           <p>- ₹ {{ (cart?.inventory_total_amt-promo_cod2) | number}}</p>
          </div>
        </div>
        <!-- promo code end -->
        
        <div class="row price-details border-bottom" *ngIf="ship_ask==true">
          <div class="col-md-8 col-8">
            <p>Shipping Charge</p>
          </div>
          <div class="col-md-4 col-4 text-right">
          <p>+ ₹ {{ cart?.shipping_total_amt}}</p>
          </div>
        </div>
        <!-- start 31/08/2020 -->
         <div class="row price-details border-bottom" *ngIf="ship_ask==false">
          <div class="col-md-8 col-8">
            <p>Shipping Charge</p>
          </div>
          <div class="col-md-4 col-4 text-right">
          <p>+ ₹ {{ ship_charge}}</p>
          </div>
        </div>
        <!-- end 31/08/2020 -->

        <div *ngIf="promo_cod==false" class="row mt-2 mb-2">
          <div class="col-md-8 col-7">
            <h6>Total Amount</h6>
          </div>
          <div class="col-md-4 col-5 text-right">
            <h6> ₹ {{ cart?.net_amt }}</h6>
          </div>
        </div>

        <!-- start promo cod -->
         <div *ngIf="promo_cod" class="row mt-2 mb-2">
          <div class="col-md-8 col-7">
            <h6>Total Amount</h6>
          </div>
          <div class="col-md-4 col-5 text-right">
            <h6> ₹ {{ save_promo2 }}</h6>
          </div>
        </div>
        <!-- end promo cod -->
        <div *ngIf="promo_cod==false" class="row border-top pt-3">
          <div class="col-md-12 text-right">
            <h6 class="text-success">
              You Will save ₹ {{ cart?.total_mrp_amount-cart?.inventory_total_amt }} 
            </h6>
          </div>
        </div>

         <div *ngIf="promo_cod" class="row border-top pt-3">
          <div class="col-md-12 text-right">
            <h6 class="text-success">
              You Will save ₹ {{ (cart?.inventory_total_amt-promo_cod2)+(cart?.total_mrp_amount-cart?.inventory_total_amt) }} 
            </h6>
          </div>
        </div>
       
      </mat-card>
<!-- end for cart -->
<!-- for payment option -->
<div *ngIf="forpaymentshow">
  <!-- coupon start 31/08/2020 -->
<form #couponform = "ngForm" *ngIf="buy_now==false">
      <input type="text" placeholder="apply coupon code" name="coupon" [(ngModel)]="coupon" class="coupon-box">
      <button *ngIf="coupon_count==1"
            mat-raised-button
            class=""
            (click)="coupon_code(couponform)"
            type="submit"
            class="bg-success text-white "
            style="margin: 1em;"
          >
            Apply
          </button>
          <button *ngIf="coupon_count==0"
            mat-raised-button
            
            (click)="disab()"
            type="submit"
            class="bg-info text-white"
            style="margin: 1em;"
          >
            Remove
          </button>
      <br>
    </form>
  <!-- coupon end 31/08/2020-->
<mat-card class="mt-3">
  <div class=" mt-3">
    <div class=" paymentOptions1 ">
      <div class="d-flex mayment-border">
      
        <h6 class=" paymenttype font-weight-600 project-heading">Choose a Payment Mode.</h6>

      </div>

      <mat-radio-group aria-label="Payment Modes">
        <div *ngFor="let option of paymentOptions; let i = index">
          <mat-radio-button *ngIf="option.payment_method_id>1 && option.payment_method_id>'1'"
            value="{{ option.payment_method_id }}"
            (click)="getPaymentDetails(option.payment_method_id)"
            class=" mt-2 paymentmode project-discription"
          >
            Proceed Payment
          </mat-radio-button>
           <mat-radio-button *ngIf="option.payment_method_id==1 ||option.payment_method_id=='1'"
            value="{{ option.payment_method_id }}"
            (click)="getPaymentDetails(option.payment_method_id)"
            class=" mt-2 paymentmode project-discription"
          >
            {{ option.name }}
          </mat-radio-button>
          
          <hr *ngIf="i != (option.name.length-1)" style="width: 90%;"/>
        </div>
      
        
           <form *ngIf="this.sendDataToAPI.payment_method_id=='3'" #form    method="post" action="https://sandboxsecure.payu.in/_payment"  target="blank" name="payuForm">
           
                          <input type="Hidden" name="service_provider" value="payu_paisa" size="64" />
                          <input type="Hidden" name="amount" value={{fillPaymentForm.amount}} />

                           <input type="Hidden" name="productinfo" value={{fillPaymentForm.productinfo}} />
                            <input type="Hidden" name="firstname" id="name"value={{fillPaymentForm.firstname}} />
                          <input type="Hidden" name="email" value={{fillPaymentForm.email}} />
                          <input type="Hidden" name="phone" value={{fillPaymentForm.phone}} />
                            <input type="Hidden" name="surl"
                              value={{fillPaymentForm.surl}} size="64" />
                         
                         
                          <input type="Hidden" name="udf1" value={{fillPaymentForm.udf1}} />
                          <input type="Hidden" name="udf2" value={{fillPaymentForm.udf2}} />
                          <input type="Hidden" name="udf3" value={{fillPaymentForm.udf3}} />
                          <input type="Hidden" name="udf4" value={{fillPaymentForm.udf4}} />
                          <input type="Hidden" name="udf5" value={{fillPaymentForm.udf5}} />
                         
                          
                         
                          <input type="Hidden" name="furl"
                              value={{fillPaymentForm.furl}} size="64" />
                          <input type="Hidden" name="curl"
                               value={{fillPaymentForm.curl}} size="64" />
                                <input type="Hidden" name="hash" value={{fillPaymentForm.hash}} />
                                 <input type="Hidden" name="key" value={{fillPaymentForm.key}} />
                         
                          <input type="Hidden" name="txnid" value={{fillPaymentForm.txnid}}  />
             
                         
                         
                      </form>
       
           <div >
           

              <form method="post" *ngIf="this.sendDataToAPI.payment_method_id=='4'"  #form action="https://securegw-stage.paytm.in/order/process" name="paytm" target="blank" >
              
                 <table border="1">
                    <tbody>
                       <input type="hidden" name="MID" value={{fillPaytmForm.MID}}>

                       <input type="hidden" name="WEBSITE"  value={{fillPaytmForm.WEBSITE}}>

                       <input type="hidden" name="ORDER_ID"  value={{fillPaytmForm.ORDER_ID}}>

                       <input type="hidden" name="CUST_ID" value={{fillPaytmForm.CUST_ID}}>
                       <input type="hidden" name="MOBILE_NO" value={{fillPaytmForm.MOBILE_NO}}>
                       <input type="hidden" name="EMAIL" value={{fillPaytmForm.EMAIL}}>
                       <input type="hidden" name="INDUSTRY_TYPE_ID" value={{fillPaytmForm.INDUSTRY_TYPE_ID}}>
                       <input type="hidden" name="CHANNEL_ID" value={{fillPaytmForm.CHANNEL_ID}}>
                       <input type="hidden" name="TXN_AMOUNT" value={{fillPaytmForm.TXN_AMOUNT}}>
                       <input type="hidden" name="CALLBACK_URL" value={{fillPaytmForm.CALLBACK_URL}}>
                      
                       <input type="hidden" name="CHECKSUMHASH" value={{fillPaytmForm.CHECKSUMHASH}}>
                    </tbody>
                 </table>
               
               
              </form>

          </div>


      </mat-radio-group>
    </div>
  </div>

</mat-card>

<div class="row justify-content-end pt-3 pr-3 ">
  <!-- <span *ngIf="placeOrder2"> -->
  <button
  *ngIf="placeOrder2codY" mat-raised-button
  type="button" class="button-for-address project-heading"
  (click)="userNamefield(); openXl1(codOtp)"
  type="submit"
>
  Place Order
</button>
<button
  *ngIf="placeOrder2codN"
  type="button" class="button-for-address project-heading" mat-raised-button
  (click)="payment()"
  type="submit"
>
  Place Order
</button>
<!-- </span> -->
<button
  *ngIf="placeOrder"
  type="button" class="button-for-address project-heading" mat-raised-button
  (click)="paymentRazorpay()"
  type="submit"
>
  Place Order
</button>


<button
  *ngIf="!visibledisabled"
  mat-raised-button
  class="button-for-address project-heading" style="cursor: not-allowed;"
>
  Place Order
</button>


  <button  (click)="form.submit();navigateTo2();check(form)"  *ngIf="placeOrderPayumoney  " mat-raised-button type="button" class="project-heading button-for-address  waves-effect waves-light"
  type="submit">Place Order</button>

  <button id="rzp-button1" *ngIf="placeOrderPaytm" type="button" class="btn btn-primary btn-block  waves-effect waves-light"
  (click)="form.submit();navigateTo2()"  

      type="submit">Place Order</button>

 
</div>
</div>

<!-- for payment option -->




      <div class="row justify-content-end pt-3 pr-3 pl-3" *ngIf="forpaymenthide">
        <button *ngIf="makePaymenShip == true && makePaymenBill == true"
           (click)= "forpayment()" mat-raised-button
          type="button" class="button-for-address  project-heading" style="width: 98%;"
        >
          Make Payment
        </button>

        <button *ngIf="makePaymenShip == false || makePaymenBill == false" (click)= "forpayment2()" matTooltip="Please select Address"
           style="cursor:not-allowed" mat-raised-button
          type="button" class="button-for-address  project-heading " style="width: 98%;"
        >
          Make Payment
        </button>
      </div>
      <div class="row  mt-3 justify-content-end">
      <div class="col-md-6 text-left project-discription"> 
        <ul>
          <li class="text-success">
            Safe and Secure Payments.
          </li>
         
          <li class="text-success">
            100% Authentic products.
          </li>
        </ul>
        
        </div>
      </div>
      
    </div>
  </div>
  </div>
</div>


</div>










  
  <div *ngIf="loader" style="position: absolute;z-index: 100;width: 100%">
    <app-footer></app-footer>
  </div>
</div>

<!-- start add address -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title" align="center">
      Add Address
    </h6>

    <mat-icon
      class="text-danger cursor-pointer"
      title="close"
      (click)="modal.dismiss('Cross click')"
      >close</mat-icon
    >
  </div>
  <!-- modal body starts -->
  <div class="modal-body ">
    <div class="container">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Contact Person Name</mat-label>
              <input
                matInput
                placeholder="Contact Person Name"
                formControlName="receiver_name"
                required
              />
              <mat-icon matSuffix>how_to_reg</mat-icon>
            </mat-form-field>
          </div>
          <div  class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Contact No.</mat-label>
              <input
                matInput
                placeholder="Contact No."
                formControlName="contact_no"  type="number"
                required
              />
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
          </div>

         
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Address Line1</mat-label>
              <input
                matInput
                placeholder="Address Line1"
                formControlName="line1"
                required
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Address Line2</mat-label>
                <input
                  matInput
                  placeholder="Address Line2"
                  formControlName="line2"
                  
                />
                <mat-icon matSuffix>streetview</mat-icon>
              </mat-form-field>
            </div>
        </div>
        
         <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Pin Code</mat-label>
              <input (keyup)="pincode_api($event.target.value)"
                matInput type="number"
                placeholder="Pin Code"
                formControlName="pin_code"
                required
              />
              <mat-icon matSuffix>fiber_pin</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Landmark</mat-label>
              <input
                matInput
                placeholder="Landmark"
                formControlName="landmark"
                
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
              <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>State</mat-label>
              <input
                matInput
                placeholder="State"
                formControlName="state"
                required 
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-md-6">
          
                       <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>City</mat-label>
              <input
                matInput
                placeholder="City"
                formControlName="city"
                required 
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
         
          <div *ngIf="flagEmail==1" class="col-md-6 ">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>

           <div *ngIf="flagEmail==0" class="col-md-6 mt-4">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email" 
                
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="modal-footer text-center ml-auto mr-auto">
          <button
            class=" text-white order-button"
            (click)="addAddress(); "
            mat-raised-button
            
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<!-- End add address -->
<!-- Start update address -->

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title" align="center">
      Update Address
    </h6>

    <mat-icon
      (click)="modal.dismiss('Cross click')"
      class="text-danger cursor-pointer"
      >close</mat-icon
    >
  </div>
  <!-- modal body starts -->
  <div class="modal-body ">
    <div class="container">
      <form [formGroup]="registerForm2">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Contact Person Name</mat-label>
              <input
                matInput
                placeholder="Contact Person Name"
                formControlName="receiver_name"
                required
              />
              <mat-icon matSuffix>how_to_reg</mat-icon>
            </mat-form-field>
          </div>
          <div  class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Contact No.</mat-label>
              <input
                matInput
                placeholder="Contact No."
                formControlName="contact_no"  type="number"
                required
              />
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
          </div>

         
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Address Line1</mat-label>
              <input
                matInput
                placeholder="Address Line1"
                formControlName="line1"
                required
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Address Line2</mat-label>
                <input
                  matInput
                  placeholder="Address Line2"
                  formControlName="line2"
                  
                />
                <mat-icon matSuffix>streetview</mat-icon>
              </mat-form-field>
            </div>
        </div>
        
         <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Pin Code</mat-label>
              <input (keyup)="pincode_api($event.target.value)"
                matInput type="number"
                placeholder="Pin Code"
                formControlName="pin_code"
                required
              />
              <mat-icon matSuffix>fiber_pin</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Landmark</mat-label>
              <input
                matInput
                placeholder="Landmark"
                formControlName="landmark"
                
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
              <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>State</mat-label>
              <input
                matInput
                placeholder="State"
                formControlName="state"
                required 
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-md-6">
          
                       <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>City</mat-label>
              <input
                matInput
                placeholder="City"
                formControlName="city"
                required 
              />
              <mat-icon matSuffix>streetview</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
         
          <div *ngIf="flagEmail==1" class="col-md-6 ">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>

           <div *ngIf="flagEmail==0" class="col-md-6 mt-4">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email" 
                
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer text-center ml-auto mr-auto">
          <button
            class="order-button"
            (click)="updateAddress(); "
            mat-raised-button
          
          >
            update
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<!-- End update address -->

<!-- // for cod otp start-->

<ng-template #codOtp let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title" align="center">
      Veirfy mobile no./email
    </h5>

    <mat-icon
      title="close modal"
      class="cursor-pointer"
      (click)="modal.dismiss('Cross click')"
      >close</mat-icon
    >
  </div>
  <!-- modal body starts -->
  <div class="modal-body ">
    <div class="container-fluid">
      <form [formGroup]="otpForm">
        <div class=" ">
          <div class="row ">
            <div class="col-md-12">
              <div class="row mt-4">
                <div class=" col-lg-12">
                  <div appearance="fill" class="example-full-width">
                    <div class="row justify-content-center">
                      <h6> <span class="checkout-register-otp">{{register}}</span></h6>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mt-4" *ngIf="verify == true">
                <div class="col-lg-8 text-center">
                  <mat-form-field appearance="fill" class="example-full-width text-center">
                    <mat-label>OTP</mat-label>
                    <input
                      matInput type="number"
                      placeholder="OTP"
                      formControlName="otp"
                      required
                    />
                    <mat-icon matSuffix>library_books</mat-icon>
                  </mat-form-field>
                 
                </div>
              </div>
            </div>
          </div>
          <div
            class="row justify-content-center mt-3"
          >
          
          <button [disabled]="!loading" *ngIf="verify == true"
          class="order-button"
          mat-raised-button
          matTooltip="Verify OTP"
          (click)="otpVerificationUser(); modal.close('Save click')"
        >
          Verify
        </button>
        &nbsp;
            <button [disabled]="!loading" *ngIf="otpgeneration == true"
              class="order-button"
              mat-raised-button
              matTooltip="Resend OTP"
              (click)="resendOtpVerify()"
            >
              Resend OTP
            </button>
            &nbsp;
            <button [disabled]="!loading"  *ngIf="verify == false"
            class="order-button"
            mat-raised-button
            matTooltip="Send OTP"
            (click)="otpGenerate()"
          >
            Send OTP
          </button>
        
          </div>
        
         
        </div>
      </form>
    </div>
  </div>
</ng-template>
<!-- for cod otp verify end -->
<!-- start 15/08/2020 Priyangee -->
<ng-template #codOtpN  let-modal>
  <div>
  <!-- 
    the SITE_KEY is the sitekey from your admin console.
    use form control for validation
  -->
  <re-captcha (resolved)="resolved($event)" 
              siteKey="6LeoLb8ZAAAAACW7uM2KMQlKK-2EIVHgmQXNVe7P
">  
  </re-captcha>
</div>
  </ng-template>
  <!-- end 15/08/2020 Priyangee -->
