<!-- Material form register -->

<!-- <div class="card"> -->
    
    <div class="col-sm-9 col-md-6 col-lg-4 mx-auto" id="back" style="background-color:black;margin-top: 50px;">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0" *ngIf="signup == 1">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!" [formGroup]="registerForm">

            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="username">
                        <label for="materialRegisterFormFirstName">Enter Email or Mobile </label>
                    </div>
                </div>
             
            </div>

            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"   [disabled]="!loading"  (click)="onSubmitSign()" type="submit">Get Otp</button>
          
           
            <p>or</p>

            <hr>

            <p>
                <em>Already Have an Account</em> &nbsp;
                <a  routerLink="/login" target="_blank">Login</a>

        </form>
        <!-- Form -->

    </div>
    <div class="card-body px-lg-5 pt-0" *ngIf="signup == 2">

        <!-- Form -->
        <form class="text-center" style="color: #757575;"  [formGroup]="otpForm">

          

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" class="form-control" formControlName="otp">
                <label for="materialRegisterFormEmail">Enter Otp</label>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" id="materialRegisterFormPassword" class="form-control" formControlName="password" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword">Enter Password</label>
              
            </div>
            <div class="md-form">
                <input type="password" id="materialRegisterFormPassword" class="form-control" [class.is-invalid]="otpForm.errors?.misMatch" formControlName="confirmPassword" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword">Confirm  Password</label>
              
            </div>

            <!-- Phone number -->
           

            <!-- Newsletter -->
          

            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"   [disabled]="!loading" (click)="onSubmitOTP()" type="submit">Submit</button>

            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"   [disabled]="!loading"  (click)="onSubmitResendOtp()" type="submit">Resend Otp</button>

        

            <hr>
            <p>
                <em>Already Have an Account</em> &nbsp;
                <a  routerLink="/login" target="_blank">Login</a>
           

        </form>
        <!-- Form -->

    </div>


    <div class="card-body px-lg-5 pt-0" *ngIf="signup == 4">

        <!-- Form -->
        <form class="text-center" style="color: #757575;"  [formGroup]="otpForm">

          
            <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" class="form-control" formControlName="username">
                <label for="materialRegisterFormEmail">Username</label>
            </div>
            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" class="form-control" formControlName="otp">
                <label for="materialRegisterFormEmail">Enter Otp</label>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" id="materialRegisterFormPassword" class="form-control" formControlName="password" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword">Enter Password</label>
              
            </div>
            <div class="md-form">
                <input type="password" id="materialRegisterFormPassword" class="form-control" [class.is-invalid]="otpForm.errors?.misMatch" formControlName="confirmPassword" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword">Confirm  Password</label>
              
            </div>

            <!-- Phone number -->
           

            <!-- Newsletter -->
          

            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"   [disabled]="!loading" (click)="onSubmitOTP()" type="submit">Submit</button>

            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"   [disabled]="!loading"  (click)="onSubmitResendOtp()" type="submit">Resend Otp</button>

        

            <hr>

            <p>
                <em>Already Have an Account</em> &nbsp;
                <a  routerLink="/login" target="_blank">Login</a>

        </form>
        <!-- Form -->

    </div>

</div>


<!-- Material form register -->
