

.pt-5, .py-5 {
  padding-top: 1rem!important;
}
.heading{
  font-weight: 600;
  font-size: 14px;
}
.brand-name{
  font-size: 13px;
 
}
.product-mrp{
  font-weight: bold;
  font-family: sans-serif;
}
.del-mrp{
  color: gray;
  font-weight: 500;
}

.image{
  max-height: 250px; min-height: unset; height: -webkit-fill-available; -o-object-fit: contain;
  object-fit: contain;
  margin: none; width: 100%;
  text-align: center;
  vertical-align: middle;
  position: inherit;

}
.box-image{
  cursor: pointer;
  height: 250px; width: 100%; background: white; margin: none;    position: relative;
}
.skin-2 .num-in {
	background: lightgray;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	height: 38px;
	width: 110px;
  float: left;
}

.skin-2 .num-in	span {
  width: 40%;
  display: block;
  height: 40px;
  float: left;
  position: relative;
}

.skin-2 .num-in span:before, .skin-2 .num-in span:after {
  content: '';
  position: absolute;
  background-color: #667780;
  height: 2px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
  transform: rotate(90deg);
}

.skin-2 .num-in input {
    float: left;
    background: lightgray;
		width: 20%;
		height: 38px;
		border: none;
		text-align: center;
}

/* / skin 2 */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus{
  outline: none;
  border: none;
}
.bottom-section{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 4px lightgrey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

}
.box-card:hover .bottom-section{
  visibility: visible;
  height: 14%;
}

.top-section{
  visibility: hidden;
  position: absolute;
  top: 12px;
  /* left: 0; */
  right: 8px;
  /* background-color: white; */
  /* box-shadow: 0 0 4px lightgrey; */
  overflow: hidden;
  width: 100%;
  float: right;
  z-index: 111;
  /* height: 0; */
  transition: .1s ease;
}
.top-section ul li{
  list-style: none;
  font-size: 18px;
 text-align: end;
}
.box-card:hover .top-section{
  visibility: visible;
}
.outofstockproduct{
  background: #20232859;
  /* top: 11px; */
  font-size: 18px;
  width: 100%;
  z-index: 1111;
  /* left: 8px; */
  line-height: 12;
  height: 100%;
  position: absolute;
  font-weight: 600;
  color: red;
  text-shadow: 1.5px -0.5px black;
  text-align: center;
}
button{
 border: none;
 outline: none;
 background: none;

}
.card-body h3{
  color: rgb(230, 230, 223);
}
.card-filter, .card-filter-body, .list-group-flush, .list-group, .list-group-item {
  background:  #262931!important;
  color: white;
}
.card-header{
  background: rgb(43,42,42);
  color: whitesmoke;
}
/* {
  background: rgb(43,42,42);
} */

.activesort{
  color: #b89d4e;
}

.nav .nav-link.active, .nav .show>.nav-link {
  color: #fff;
  /* color: #b89d4e; */
  /* color: rgb(43, 42, 42); */
  border-radius: 2px;
  /* border-bottom: 2px solid #B89D4E; */
  background-color: #b89d4e;
 
}
.nav .nav-link{
  /* margin-bottom: 10px; */
  color: white;
}
 .nav>li>a:hover {
  text-decoration: none;
  color: #b89d4e;
  border-radius: 2px;
  /* background: #b89d4e; */
  /* border-bottom: 2px solid #B89D4E; */
  background: rgb(43, 42, 42);

}