
<div class="row ">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1540240878317-09ccd319e97c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2d69099f7142a447593ec6f7c90f7ece&auto=format&fit=crop&w=668&q=80">
      <div class="card-content">
        <a href="#">
          <p class="card-category">Sportswear<i class="fas fa-chevron-right fa-sm"></i></p>
        </a>
      </div>
    </div>
    
    <div class="card">
      <img src="https://images.unsplash.com/photo-1542731764-7d0f5660b7e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=371d0fb80ccba8e7afe3619507cfdd74&auto=format&fit=crop&w=668&q=80">
      <div class="card-content">
        <a href="#">
          <p class="card-category">Casual<i class="fas fa-chevron-right fa-sm"></i></p>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1541971297127-c4e6f05297da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2675d4d1e03974db52a3424466d838f9&auto=format&fit=crop&w=668&q=80">
      <div class="card-content">
        <a href="#">
          <p class="card-category">Dresses<i class="fas fa-chevron-right fa-sm"></i></p>
        </a>
      </div>
    </div>
    
    <div class="card">
      <img src="https://images.unsplash.com/photo-1542731764-7d0f5660b7e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=371d0fb80ccba8e7afe3619507cfdd74&auto=format&fit=crop&w=668&q=80">
      <div class="card-content">
        <a href="#">
          <p class="card-category">Casual<i class="fas fa-chevron-right fa-sm"></i></p>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1541971297127-c4e6f05297da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2675d4d1e03974db52a3424466d838f9&auto=format&fit=crop&w=668&q=80">
      <div class="card-content">
        <a href="#">
          <p class="card-category">Dresses<i class="fas fa-chevron-right fa-sm"></i></p>
        </a>
      </div>
    </div>
    
    </div>