.rating li{
  color: #FFB14B;
  font-size: 13px;
  display: inline-block;
}
.rating{
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}

input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.number-input {
  margin: 8px;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}


.md-number-input.number-input {
  border: 2px solid #ddd;
  width: 11.8rem;
}
.md-number-input.number-input button {
  outline: none;
  width: 3rem;
  height: 2rem;
  padding-top: .8rem;
}
.md-number-input.number-input button.minus {
  padding-left: 8px;
  color: white;
  /* background-color: white; */
}
.md-number-input.number-input button.plus {
  padding-left: 2px;
  color: white;
 
}
.md-number-input.number-input button:before,
.md-number-input.number-input button:after {
  width: 1rem;
  /* background-color: #212121; */
  color: white;
  background-color: white;
}
.md-number-input.number-input input[type=number] {
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 2rem;
  font-weight: bold;
  outline: none;
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .number-input.md-number-input.safari_only button:before, 
  .number-input.md-number-input.safari_only button:after {
    margin-top: -.6rem;
  }
}}



.product-filter h1 {
  flex-grow: 1;
}


.product-filter {
	display: flex;
	padding: 30px 0;
}

.sort {
	display: flex;
	align-self: flex-end;
}

.collection-sort {
 display: flex;
	flex-direction: column;
}

.collection-sort:first-child {
	padding-right: 20px;
}




.product--size {
  margin: 20px 0;
 
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    border-radius: 4px 4px;
    text-align: center;
    padding: 1px 2px;
    text-transform: uppercase;
    cursor: pointer;
    
      color: #fff;
      background: #008080;
    }
    .update-button{
      /* border: 1px solid; */
      height: 42px;
      background: #2e3842;
      /* padding: initial; */
      /* background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376); */
      box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
      color: white;
      border-radius: 22px;
      /* margin: 4px 1px 8px 4px; */
    }
    .box-update{
      margin-top: 4px;
      width: 40px;
      border: none;
      background: #2d3641;
      
      outline: none;
      color: white;
    }
    .button-update{
      color: wheat;
      /* border: 1px solid lightgrey; */
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      line-height: 2.5;
      width: 29px;
    }
  td, th, thead, tbody, tr{
    border: none!important;
    outline: none;
  }


    .skin-2 .num-in {
      /* background: #FFFFFF; */
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      height: 40px;
      width: 110px;
      float: left;
    }
    
    .skin-2 .num-in	span {
      width: 40%;
      display: block;
      height: 40px;
      float: left;
      position: relative;
    }
    
    .skin-2 .num-in span:before, .skin-2 .num-in span:after {
      content: '';
      position: absolute;
      background-color: #667780;
      height: 2px;
      width: 10px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -5px;
    }
    
    .skin-2 .num-in span.plus:after {
      transform: rotate(90deg);
    }
    
    .skin-2 .num-in input {
        float: left;
        width: 20%;
        height: 40px;
        border: none;
        text-align: center;
    }
    
    /* / skin 2 */
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    input:focus{
      outline: none;
      border: none;
    }
    .show-status{
      text-align: center;
      width: 97%;
      display: none;
      background: #f5f5f5ba;
      /* padding-top: 0px; */
      padding: 5px;
      justify-self: center;
      border-radius: 5px;
      position: absolute;
      color: red;
      font-size: 16px;
      font-weight: 600;
      top: 30px;
      left: 5px;
      right: 5px;
    }
    .card_image:hover .show-status{
      display: block;
    }
    .buy-now-button{
      color: black!important;
        border: 1.5px solid grey;
        padding: 6px;
        
        border-top-left-radius: 9px;
        border-bottom-right-radius: 11px;
    }
    .buy-now-button:hover{
      transition: 1s;
      box-shadow: 2px 2px grey;
    }
    #img1{
      max-height: 280px; min-height: unset; height: -webkit-fill-available; -o-object-fit: contain;
      object-fit: contain;
      margin: none; width: 99%;
      text-align: center;
      vertical-align: middle;
      position: inherit;
    
    }
    #box-img1{
      height: 280px; width: 100%;  margin: none;    position: relative;
    }
    #imgpro{
      max-height: 470px; min-height: unset; height: -webkit-fill-available; -o-object-fit: contain;
      object-fit: contain;
      margin: none; width: 100%;    background: #202328;
      text-align: center;
      /* background: grey; */
      /* background:#1a1c21 ; */
      vertical-align: middle;
      /* background-color: #121317; */
      position: inherit;
    
    }
    #box-imgpro{
      /* border: 1px solid white!important; */
      border-radius: 10px;
      /* background: #000000!important; */
      overflow: hidden;
      /* background: grey!important; */
      /* background:#1a1c21 ; */
      /* background-color: #121317; */
      /* border-radius: 9px; */
      box-shadow: 1px 1px 1.5px 1.5px #191a1b;
      height: 480px; width: 100%;  margin: none;    position: relative;
    }
    .tab-content{
      border-radius: 9px;
      /* background: #1a1c21; */
    }
    .nav-tabs{
      border: none;
      
    }
    .brand-name{
      font-size: 14px;
      font-weight: bold;
    }
    .select-image{
      /* box-shadow: 1px 1px 1px 1px #414244; */
      border-radius: 9px;
      /* background: #202328; */
      /* background: #000000!important; */
      background:#1a1c21 ;
      cursor: pointer;
    }
    li.active>.select-image{
      background: #202328;
      border: #202328;
    }
    .mat-card{
      padding-top: 10px;
      /* background: #202328; */
      /* background: #000000; */
      /* background: grey!important; */
      /* background:#1a1c21 ; */
      border: none;

      background: transparent;
      
      /* box-shadow: 2px 2px -2px -2px #414244; */
      height: 110px;
      width: 100%;
      border-radius: 9px!important;
      text-align: center;
    }
    .mat-card span{
      color: lightgray;
      text-transform: capitalize;
      font-size: 12px;
    }

































/* new css add */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  min-width: 200px;
  cursor: pointer;
  max-width: auto;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600!important;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  height: 40px; 
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.active1{
  /* background: lightgrey; */
  /* border-top: 1px solid grey; */
  /* border-left: 1px solid grey; */
  /* background-color: white; */
  background: #2e3842;
  color: white!important;
  /* border-radius: 9px; */
}
/* .nav-item:hover {
  background: red;
} */

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}


.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

/* #description-tab{
  color: #FFFFFF;
}
#info-tab{
  color: #FFFFFF;
}
#reviews-tab{
  color: #FFFFFF;
} */
.outofstockproduct{
  background: #20232859;
  /* top: 11px; */
  font-size: 18px;
  width: 100%;
  z-index: 1111;
  /* left: 8px; */
  line-height: 12;
  height: 60%;
  position: absolute;
  font-weight: 600;
  color: red;
  text-shadow: 1.5px -0.5px black;
  text-align: center;
}
.nav>li>a {
  position: relative;
  display: block;
  color: azure;
  padding: 10px 15px;
}
 .nav > li > a:hover {
  text-decoration: none;
  background: transparent;
  background-color: none!important;
}

.pre-size{
  box-shadow: 0 0 4px whitesmoke;
/* border-radius: 50%; */
color: black;
background-color: white;
border: 1px solid lightgray;
height: 50px;
width: 100px;
border-radius: 3px;
margin: -15px;
}
.post-size{
  /* border-radius: 50%; */
  background: whitesmoke;
  /* border: 1px solid black;
   */
   background: #1a1c21;
  border-radius: 3px;
  box-shadow: 0 0 3px white;
  margin: -15px;
  /* color: black; */
  color: white;
  text-transform: capitalize;
  height: 50px;
width: 50px;
}
