<div class="container-fluid">
  <div class="container-fluid">
    <div class="container">
    <nav class="product-filter" style="color:white">
  
      <!-- <h1>{{ product.name }}</h1> -->
      <!-- <div class="col-md-3">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Filter:</span>
            </div>
            <select class="form-control" id="" name="">
              <option value="">Default</option>
              <option value="">Name (A - Z)</option>
              <option value="">Name (Z - A)</option>
              <option value="">Price (Low &gt; High)</option>
              <option value="">Price (High &gt; Low)</option>
              <option value="">Rating (Highest)</option>
              <option value="">Rating (Lowest)</option>
              <option value="">Model (A - Z)</option>
              <option value="">Model (Z - A)</option>
            </select>
        </div>
  </div> -->
  <!-- <div class="col-md-3">
      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Size:</span>
          </div>
          <select class="form-control" id="" name="">
            <option value="">15</option>
            <option value="">25</option>
            <option value="">50</option>
            <option value="">75</option>
            <option value="">100</option>
          </select>
      </div>
  </div> -->
  
  
     
    
    </nav>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  <section class="mb-5">
  
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
  
        <div class="row "  >
          <!-- for pc laptop gallary -->
        <div class="col-md-2  d-none d-md-block d-lg-block">
        
        <!-- <ul class="preview-thumbnail nav nav-tabs  mt-1 row " gallerize > -->
        <ul class="preview-thumbnail nav nav-tabs  mt-1 row "  >
        <li class="col-12 col-md-12" style="display: inherit!important;"
        *ngFor="let image of product_image | slice:0:5;let s=index"
        class="active cursor-pointer"  
        >
        <a  
          data-target="#pic-1" 
          matTooltip="more product image "
          data-toggle="tab"
          (click)="Image(image.image_link)"
        >
          <img 
            
        src="{{items23[s].thumb}}"
            onerror="this.src='assets/img/favicon1.png';"
            alt="Product Image"
            class="border p-1"
            height="60"
            width="60"
        /></a>
        <span *ngIf="product_image >5">more</span>
        
        </li>
        </ul>
        </div>
        <!-- for mobile gallary -->
        <div class="col-md-2 col-3 d-block d-md-none d-lg-none">
        
        <ul class="preview-thumbnail nav nav-tabs  mt-1 row " >
        <li class="col-12 col-md-12" style="border-radius: 15px;display: inherit!important;"
        *ngFor="let image of product_image | slice:0:5;let s=index"
        class="active cursor-pointer"  
        >
        <a 
          data-target="#pic-1" 
          matTooltip="more product image "
          data-toggle="tab"
              (click)="Image(image.image_link)"
        >
          <img 
            
        src="{{items23[s].thumb}}"
            onerror="this.src='assets/img/favicon1.png';"
            alt="Product Image"
            class="border p-1"
            height="60"
            width="60"
        /></a>
        <span *ngIf="product_image >5">more</span>
        
        </li>
        </ul>
        </div>
        
        <div class="col-md-10 col-9 ">
        
        <div class="row">
        
        <div class="preview col-md-12 col-12" style="border-radius: 15px;">
        <!-- for laptop -->
        <span class="add-to-wishlist-on-image" *ngIf="wishlist_check==false && product.txn_quantity > '0'"><i class="far fa-heart" matTooltip="add to wishlist"  (click)="addToWishlist(product)"></i></span>
        <span class="add-to-wishlist-on-image" *ngIf="wishlist_check==false && product.txn_quantity < '1'"><i class="far fa-heart " matTooltip="add to wishlist" style="cursor: not-allowed;"  (click)="addToWishlist(product)"></i></span>
        <span class="add-to-wishlist-on-image" *ngIf="wishlist_check==true" ><i class="far fa-heart text-danger"  (click)="deleteFromWishlist(wishlist_num)" matTooltip="remove from wishlist"></i></span>
        <!-- <div class="preview-pic tab-content  p-1  d-none d-lg-block d-xl-block border" > -->
        
        
        <!-- <div class="tab-pane active show-image1  cursor-pointer " id="pic-1 " >   -->
        
        
        <app-zoom [img]="img" [zoom]="2" [lenSize]="120"    class="new-image-show  d-none d-lg-block d-xl-block"   [divZoomed]="divZoomed" ></app-zoom>
        <div #divZoomed class="img-zoom-result"  ></div>
          
        <!-- </div> -->
        
        
        <!-- </div> -->
        
        
        <!-- for mobile ipad -->
        
        
        
        <div class="preview-pic tab-content  p-1 show-image3 d-block d-lg-none" >
        
        <div class="tab-pane active show-image3  cursor-pointer " id="pic-1 " >
        
        <img src="{{imageView}}" onerror="this.src='assets/img/favicon1.png';" class="img-1 ">
        
        </div>
        
        </div>
        
        
        
        
        </div>
        </div>
        </div>
        </div>
  
      </div>

      



      <div class="col-md-6" style="color: white;">
  
        <h1 class="product-title font-weight-600 pt-1 " style="font-family: Cinzel Semi Bold;">{{ product.name }}  <span  *ngIf="product.color != null || product.color != null" class="" >(<span *ngIf="product.color != null" ><span class="text-muted pl-2 pr-2" >{{ product.color }}</span></span> -<span *ngIf="product.size != null"> <span class="text-muted  pl-2 pr-2">{{ product.size }}</span></span>)</span> </h1>    
        <h5 class=" text-muted text-uppercase " style="position: relative;font-family: Cinzel Semi Bold; top: -12px;">{{ product.subheading }}</h5>
      
        <div *ngFor="let prates of product_rate" class="d-flex  col-lg-12  ">
          <div  *ngIf=" prates.is_rent !='2'" style="font-family: Cinzel Semi Bold;">
              <span class="">  
              <span style="font-size: 34px;color:  #D10024;">{{prates.rate | currency:'INR'}}</span></span> &nbsp;
              <span *ngIf="product.mrp>prates.rate" class=" font-weight-500  mb-2">  <del> MRP : {{product.mrp | currency:'INR'}}</del></span> &nbsp;&nbsp;<span *ngIf="product.mrp>prates.rate" class="text-success" style="color:  #D10024;">{{prates.discount_percent | number:'1.0-0'}} % off</span>  <br/>
          </div>
          </div><br/>
          <h5 [innerHTML]="product.meta_description"></h5> 
          <div *ngFor="let pspec of product_specification" style="font-family: Raleway Regular;">
            <!-- <span class="font-weight-400"> {{ pspec.spec_name }} : {{ pspec.spec_value }} </span> -->
          <table class="table table-sm table-borderless mb-0" style="color: white;font-family: Raleway Regular;">
            <tbody>
              <tr>
                <th class="pl-0 p-10 w-25" scope="row"><strong>{{ pspec.spec_name }}</strong></th>
                <td>{{ pspec.spec_value }}</td>
              </tr>
            </tbody>
          </table>
          </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless mb-0" style="color: white;font-family: Raleway Regular;">
            <tbody>
             
              <tr>
                <th class="pl-0 p-10 w-25" scope="row"><strong>Model</strong></th>
                <td>{{ product.model }}</td>
              </tr>
              <tr>
                <th class="pl-0 p-10 w-25" scope="row"><strong>brand</strong></th>
                <td>{{ product.brand_name }}</td>
              </tr>
              <tr>
                <th class="pl-0 p-10 w-25" scope="row"><strong>Delivery</strong></th>
                <td> by {{etd}}</td>
              </tr>
            </tbody>
          </table>
        </div>
       
        <div class="row">
          <div class="col-md-12 d-flex">
           <div class="col-md-4 d-flex"> 
         <button type="button"  *ngIf="userC == true  && product.txn_quantity > '0'" (click)="rates(product);"  class="add-to-cart-btn">Buy now</button>
  
         <button type="button"  *ngIf="userC == true && product.txn_quantity < '1'" style="cursor: not-allowed;"  class="add-to-cart-btn">Buy now</button>
            <button type="button"  *ngIf="userC == false  && product.txn_quantity > '0'" (click)="rates(product);" class="add-to-cart-btn">Buy now</button>
            <button type="button" *ngIf="userC == false && product.txn_quantity < '1'" style="cursor:not-allowed;"  class="add-to-cart-btn">Buy now</button>
          </div>
          <div class="col-md-4 d-flex">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
           <!-- <button type="button"  class="add-to-cart-btn" *ngIf="userC==false  && product.txn_quantity > '0'"  (click)="addToCart(product)" ><i
               class="fas fa-shopping-cart pr-2"> &nbsp;Add to cart</i></button> 
               <button type="button"  class="add-to-cart-btn" *ngIf="userC==false &&  product.txn_quantity < '1'" style="cursor: not-allowed;"><i
                 class="fas fa-shopping-cart pr-2"> &nbsp;Add to cart</i></button> 

                 <span class="d-flex update-button" *ngIf="cart_check == true">
                  <span *ngIf="cart_inventory.qty > 1 || cart_inventory.qty > '1'" class=" updateCart3minus button-update  mr-1 p-1"
                    title="decrease"
                    (click)="updateCart3minus(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,cart_inventory.qty,product.txn_quantity);">-
                  </span>
  
                  <span *ngIf="cart_inventory.qty == 1 || cart_inventory.qty == '1'" class="wNrY5O updateCart3minus button-update  ml-1" (click)="deleteFromCartF(cart_inventory.cart_inventory_id)"
                    title="remove" >-
                </span>
  &nbsp;
                  <input class=" form-control text-center box-update" type="number" matInput style="width: 40px;"
                    placeholder="Quantity" value="{{cart_inventory.qty}}" required min="1"
                    (change)="updateCart3(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,$event.target.value,product.txn_quantity)"
                    (keyup)="updateCart3(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,$event.target.value,product.txn_quantity)">
                  <span *ngIf="cart_inventory.qty<product.txn_quantity" class=" ml-1 wNrY5O updateCart3minus button-update text-center" title="increase"
                    (click)="updateCart3plus(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,cart_inventory.qty,product.txn_quantity);">+
              </span>
        <span *ngIf="cart_inventory.qty >= product.txn_quantity" class=" ml-1 updateCart3minus wNrY5O text-center button-update" title="limit reached" [disabled]=true
          >+
  
        </span>
  
      </span>

                 <button type="button" *ngIf="cart_check == false && userC==true" class="add-to-cart-btn"><i
                   class="fas fa-shopping-cart pr-2" *ngIf="userC==true &&  product.txn_quantity > '0'" (click)="addToCart(product)"> &nbsp;Add to cart</i>
                   <i
                   class="fas fa-shopping-cart pr-2"  *ngIf="userC==true  && product.txn_quantity < '1'" style="cursor: not-allowed;"> &nbsp;Add to cart</i>
                   
                 </button>  -->
                </div>
                <div class="col-md-4 d-flex">
                 <button type="button" *ngIf="wishlist_check==false && product.txn_quantity > '0'"  class="add-to-cart-btn1"><i class="far fa-heart" matTooltip="add to wishlist"  (click)="addToWishlist(product)"></i></button> 
                   <button type="button"  class="add-to-cart-btn1" *ngIf="wishlist_check==false && product.txn_quantity < '1'"><i class="far fa-heart " matTooltip="add to wishlist" style="cursor: not-allowed;"  (click)="addToWishlist(product)"></i></button> 
                    
                   <button type="button"  class="add-to-cart-btn1" *ngIf="wishlist_check==true"><i class="far fa-heart text-danger"  (click)="deleteFromWishlist(wishlist_num)" matTooltip="remove from wishlist"></i></button> 
                  </div>
          </div>
          
           
      
              <!-- <div class="d-flex " *ngIf="cart_check == true">
                <button *ngIf="cart_inventory.qty > 1 || cart_inventory.qty > '1'" class=" updateCart3minus  btn-info btn-sm mr-1 p-1"
                  title="decrease"
                  (click)="updateCart3minus(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,cart_inventory.qty,product.txn_quantity);">-
                </button>

                <button *ngIf="cart_inventory.qty == 1 || cart_inventory.qty == '1'" class="wNrY5O updateCart3minus btn btn-info btn-sm ml-1" (click)="deleteFromCartF(cart_inventory.cart_inventory_id)"
                  title="remove" >-
                </button>
&nbsp;
                <input class=" form-control text-center" type="number" matInput style="width: 40px;"
                  placeholder="Quantity" value="{{cart_inventory.qty}}" required min="1"
                  (change)="updateCart3(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,$event.target.value,product.txn_quantity)"
                  (keyup)="updateCart3(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,$event.target.value,product.txn_quantity)">
                <button *ngIf="cart_inventory.qty<product.txn_quantity" class="btn btn-info btn-sm ml-1 wNrY5O updateCart3minus text-center" title="increase"
                  (click)="updateCart3plus(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,cart_inventory.qty,product.txn_quantity);">+
                </button>
      <button *ngIf="cart_inventory.qty >= product.txn_quantity" class="btn btn-info btn-sm ml-1 updateCart3minus wNrY5O text-center" title="limit reached" [disabled]=true
        >+

      </button>

              </div> -->
         
       


        
        </div>
                  
        
  
  
  
       
              
                </div>
    </div>
   
  
  
  </section>
  
  <!--Section: Block Content-->
  
  
  <!-- start -->
  <!-- Classic tabs -->
  
  <!-- Classic tabs -->
  <!--Section: Block Content-->
  <section class="text-center">
     <div><h3 class="text-center" style="color: lightgray; text-transform: capitalize;">similar product</h3></div>
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-5" *ngFor="let nprd2 of similarPro"> 
        <!-- Card -->
        <div class="card" style="margin: auto; padding-right: 7px; padding-left: 7px; height:450px ;">
          <div class="card_image" >
            <div id="box-img1"> 
            <img
            src="{{ nprd2?.gallery?.medium_thumbnail_link }}" w (click)="view_product(nprd2.meta_title, nprd2.product_no,nprd2.slug,nprd2.quick_product_check)"
         
              id="img1"
            alt="Product Image"
          />
        </div>

     
        <h1  class="show-status" *ngIf="userC == true && nprd2?.txn_quantity < '1'"> Out of stock</h1>
        <h4 style="margin-left:20px; text-transform: capitaliz; font-weight: bold;font-family: Cinzel Semi Bold;">{{ (nprd2?.name.length>60)? (nprd2?.name | slice:0:60)+'...':(nprd2?.name) }}</h4>
            <div  class="row mb-2"> 
              <div class="col-md-1 text-right ">
              <!-- <ul>
                <li> -->
                  <a *ngIf="nprd2?.wishlist_check == false" 
                    style="cursor:pointer"
                    (click)="addToWishlist(nprd2)"
                    matTooltip="Add to WishList"
                    > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i></a>
                  <a
                  style="cursor:pointer" *ngIf="nprd2.wishlist_check == true"
                  (click)="deleteFromWishlist(nprd2.wishlist_num)"
                  matTooltip="Already exist in Wishlist"
                  > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i>
              </a>

                <!-- for withouyt login -->
                 <a *ngIf="userC==false" 
                    style="cursor:pointer"
                    (click)="addToWishlistWL(nprd2)"
                    matTooltip="Add to WishList"
                    > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i>
                </a>
                <!-- for without login -->
                </div>
                <!-- </li>
                <li *ngIf="userC==true"> -->
                

              
            <div class="col-md-5 text-center " style="color: red;" >
              
              <span
              class="fa fa-star checked"
              *ngFor="let i of createRange2(nprd2.ratings)"
            ></span>
            <span *ngIf="nprd2.ratings>'0'"><span
              class="fa fa-star unchecked"
              *ngFor="let i of createRange2(5 - nprd2.ratings)"
            ></span>
          </span>
        </div>
        <div class="col-md-5 text-right " >
          <div class="num-block skin-2"  *ngIf="nprd2?.cart_check == true">
            <div class="num-in" style="cursor: pointer;">
              <span class="minus dis" *ngIf="nprd2.cart_inventory.qty > 1 || nprd2.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,nprd2.cart_inventory.qty,nprd2.txn_quantity);"></span>
              <span class="minus dis" *ngIf="nprd2.cart_inventory.qty == 1 || nprd2.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd2.cart_inventory.cart_inventory_id)"></span>
              <input type="number" class="in-num"   value="{{nprd2.cart_inventory.qty}}" required min="1"
              (change)="updateCart3(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,$event.target.value,nprd2.txn_quantity)"
              (keyup)="updateCart3(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,$event.target.value,nprd2.txn_quantity)" >
              <span class="plus" *ngIf="nprd2.cart_inventory.qty<nprd2.txn_quantity"
                (click)="updateCart3plus(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,nprd2.cart_inventory.qty,nprd2.txn_quantity);"></span>
              <span class="plus" *ngIf="nprd2.cart_inventory.qty>nprd2.txn_quantity || nprd2.cart_inventory.qty==nprd2.txn_quantity"  title="Reached limit" [disabled]=true></span>
            </div>
          </div>
         
          <span *ngIf="userC==true">
            <a *ngIf="nprd2.cart_check == false "
            style="cursor:pointer"
            (click)="addToCart(nprd2)"
            matTooltip="Add to Cart"
            > <i class="fa fa-cart-plus" style="color: green;"></i></a>
          </span>
          
           
          <a  *ngIf="userC==false"
            style="cursor:pointer"
            (click)="addToCart(nprd2)"
            matTooltip="Add to Cart"
            > <i class="fa fa-cart-plus" style="color: green;"></i>
        </a>
        <!-- </li>
      </ul> -->

        </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-md-7">
                <p style="color: black;margin-left:10px">
                  <span *ngIf="nprd2.rate[0].is_rent == '1'" 
                  >{{ nprd2.rate[0].name }} @ {{ nprd2.rate[0].rate }}
                </span>
                <span *ngIf="nprd2.rate[0].is_rent != '2'" style="font-weight: bold;"
                  >₹ {{ nprd2.rate[0].rate}} 
                </span> &nbsp;
                <span class="for-you text-muted font-weight-500" *ngIf="nprd2.rate[0].rate < nprd2.mrp"
                  ><del>₹ {{ nprd2.mrp }} </del></span
                >
                <span *ngIf="nprd2.rate[0].is_rent == '2'" 
                  >{{ nprd2.rate[1].name }} @ {{ nprd2.rate[1].rate }} </span
                >
                <br/>
                <span
                  *ngIf="nprd2.rate[0].rate < nprd2.mrp && nprd2.rate[0].discount_percent !=0"
                  class="font-wieght-bold text-center for-you text-success"
                  >Discount : {{ nprd2.rate[0].discount_percent | number:'1.0-0' }}% </span
                >
                </p>
              </div>
              <div class="col-md-5" *ngIf="nprd2?.txn_quantity > '0'">
                <div class="" >
                  <a    (click)="rates(nprd2)" *ngIf="(nprd2?.cart_check == false) && userC==true 
                  " class="buy-now-button cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
                   <a   (click)="rates(nprd2)" *ngIf="userC == false" class="buy-now-button  cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
                </div>
              </div>
            </div>
           
          </div>
        
        </div>
        <!-- Card -->
  
      </div>
     
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!--Section: Block Content-->
  
  
  </div>
</div>


<!-- end -->

<div><h2 class="text-center" style="color: lightgray; text-transform: capitalize;">Gallery product</h2></div>
<app-gallery></app-gallery>
<app-footer></app-footer>