
  <div class="container-fluid">
  <section class="mb-5 mt-2">

    

    <div class="row">

  
     
      <div class="preview-pic tab-content box-up p-3 col-md-6  " style="position: sticky; height: 100%; left: 0;">
<div class="row">

  <div class="col-md-2 " >
    <ul class="preview-thumbnail nav nav-tabs  row "  >
    <li class="col-12 col-md-12 " style="padding:5px"
      *ngFor="let image of product_image | slice:0:5;let s=index"
      class="active cursor-pointer"  
    >
      <a  
        data-target="#pic-1" 
        title="more product image "
        data-toggle="tab"
        (click)="Image(image.image_link)" class="p-0 select-image" 
      >
        <img 
  src="{{items23[s]?.thumb}}"
          onerror="this.src='assets/no-img.png';"
          alt="Product Image"
          class="select-image"
          height="90"
          width="100"
      /></a>
      <span *ngIf="product_image >5">more</span>
    </li>
  </ul>
</div>
  <div class="col-md-10 pt-1">
    <div class=" pl-3 wishlist_check">
      <span *ngIf="wishlist_check==false && product?.txn_quantity > '0'"><i class="far fa-heart fa-2x" title="add to wishlist" style="cursor: pointer;" (click)="addToWishlist(product)"> </i></span>
     <span *ngIf="wishlist_check==false && product?.txn_quantity < '1'"  ><i class="far fa-heart fa-2x text-muted" style="cursor: not-allowed;" title="add to wishlist"  > </i></span>
<span *ngIf="wishlist_check==true"><i class="fas fa-heart  fa-2x"  (click)="deleteFromWishlist(wishlist_num)" style="cursor: pointer;" title="remove from wishlist"></i></span> </div>
   <div id="box-imgpro" class="gallerize-example" class="lightbox">
    
    <div class="lightbox" class="tab-pane active  shadow-lg cursor-pointer "  id="pic-1 " > 
         
    
     
   <div data-toggle="modal" data-target="#exampleModal">
    <h1  class="show-status" *ngIf="product?.txn_quantity < '1'"><span> Out of stock </span></h1>
<img src="{{imageView}}" id="imgpro"  onerror="this.src='assets/no-img.png';"/> 
</div>

    </div>


   </div>
  </div>
</div>


        
    

      </div>

      <div class="col-md-6" style="color: white;">
        <div class="row" style="cursor: pointer;margin-left: 4px;" >
          <div class="col-lg-10 col-md-10 d-flex capitalize-h3">
        <h3 class=" d-flex m-0 project-discription">    <span class="font-weight-400 cursor-pointer" routerLink="/">  Home  </span>
            <div *ngFor="let pcat of product_category; let i = index" class="font-weight-400 category-click cursor-pointer" title="{{pcat.name}}" (click)="navigateCategory(pcat.name, pcat.category_no)">
              
    &nbsp;  > <a  class=""> {{ (pcat.name.length>20)? (pcat.name | slice:0:20)+'...':(pcat.name)  | titlecase }}  </a>
              
            </div>
          </h3>
          </div>
          
          
          <div class="col-lg-2 col-md-2 text-right ">
          <div class="share-property " matTooltip="share this product">
        
            <i class="fab fa-whatsapp text-success" ></i> <a
          data-text="Take a look at this awesome website:"
          class="wa_btn wa_btn_s share-property"
          target="_blank"
          href="https://api.whatsapp.com/send?text={{main}}{{
            site
          }}"
          
          data-action="share/whatsapp/share"
          > Share</a
        >
      </div>
        </div></div>
        <h1 class="product-title font-weight-600 pt-1 project-heading" style="margin-left: 16px;">{{ product?.name }}  </h1>    
        <h4 class=" text-muted text-uppercase project-discription mb-0" style="position: relative; top: -12px;margin-left: 16px; font-weight: bold;">{{ product?.subheading }}</h4>
      
        <div *ngIf="ratings != 0 && rating_option==true" class="mb-3 mt-0 pt-0 project-discription pl-3">
          <span *ngIf="ratings != 0" class="badge  text-success pl-3 pr-3 pt-2 pb-2">{{ratings}} <i class="fas fa-star" style="font-size: 10px;"></i></span> &nbsp;
          <span *ngIf="ratings_count != 0 && ratings_count != '0'" class="text-success font-weight-600">{{ratings_count}} <span *ngIf="ratings_count > 2 || ratings_count > '2'">Ratings</span> <span *ngIf="ratings_count == 1 || ratings_count == '1'">Rating</span> </span> 
      <span *ngIf="ratings_count != 0 && reviews_count != 0" class="text-muted font-weight-600">&nbsp; & </span>
      <span class="text-success font-weight-600 " *ngIf="reviews_count != 0 && reviews_count != '0'">  {{reviews_count}} 
      <span *ngIf="reviews_count > 2 || reviews_count > '2'" class="text-success">Reviews</span>
      <span *ngIf="reviews_count == 1 || reviews_count == '1'" class="text-success">Review</span> </span></div>
        <div *ngFor="let prates of product_rate" class="d-flex  col-lg-12  ">
          <div  *ngIf=" prates.is_rent !='2'" class="mt-2 mb-2">
              <span class="">  
              <span style="font-size: 32px;" class="project-heading">{{prates.rate | currency:'INR'}}</span></span> &nbsp;
              <span *ngIf="product.mrp>prates.rate" class="  mb-2 " style="font-weight: 500; font-size: 17px; color: #ddd; font-family: sans-serif;" >  <del> MRP : {{product.mrp | currency:'INR'}}</del></span> &nbsp;&nbsp;<span *ngIf="product.mrp>prates.rate" class="text-success" style="font-weight: 600; font-size: 17px;">{{prates.discount_percent | number:'1.0-0'}} % off</span>  <br/>
          </div>
          </div>
       
       <!-- <div class="row">
         <div class="col-md-12 pl-4">
           <h4 style="margin-left: 16px; " class="project-discription">
         <span class="project-heading">  Delivery  </span>    by {{etd}}
           </h4>
         </div>
       </div> -->
<div class="row mt-3" *ngIf="product_groups_color.length > 1">
  <div class="col-md-12 " >
    <div *ngIf="product_groups_color.length > 0" class=" row pl-4" style="cursor: pointer;">
      <span class="font-weight-600 project-heading mt-2">&nbsp;&nbsp; Color : &nbsp;&nbsp;&nbsp;&nbsp;</span>  <br/> <div class="ml-2"  *ngFor="let color of product_groups_color;let count=index"><div class= " cursor-pointer " style="display: inline-block;" *ngIf="color != '' && color != null">


        <div *ngIf="coloring == color"  (click)="colors(color)"  class="text-center">
<img     src="{{ product_groups_color_image[count] }}"
          class="img-fluid color-img-hover " style="height: 80px;width: 70px; background: white; border: 2px solid #ac6522; padding: 1px;" /> <br/>


        <span class=" color-box  ">{{color}}</span>
      </div>
      
        <div *ngIf="coloring != color" (click)="colors(color)"  class="text-center" >
<img    src="{{ product_groups_color_image[count] }}"
          class="img-fluid color-img-hover " style="height: 80px;width: 70px; background: white;"  /> <br/>


          <span class="color-box">{{color}}</span>
        </div>
        </div></div> 
        
      </div>
  </div>
</div>
  <div class="row mt-3" *ngIf="product_groups_size.length > 1">
  <div class="col-md-12 mt-4 pl-5" >
    <div  class="">
      <span class="font-weight-600 project-heading" style="font-size: 15px; ">Size :</span> 
      
      <ul class="" style="display: inline-block; cursor: pointer;" *ngFor="let size of product_groups_size"><li class=" cursor-pointer" style="display: inline-block;" *ngIf="size != '' && size != null">
        
        <div *ngIf="sizing == size"  (click)="sizes(size)"  class="size-of-size"><div class="post-size p-2"  (click)="sizes(size)">{{size}}</div></div>

        <div *ngIf="sizing != size" (click)="sizes(size)" class=""><div (click)="sizes(size)" class="pre-size p-2">{{size}}</div></div>
      </li></ul>
      </div>
  </div>
</div>

   
        



<!-- start 20/08/2020 for estimate delivery -->
<div *ngIf="is_estimate==true">
<form *ngIf="is_national==true" [formGroup]="otpForm">

  <div class="row mt-3">
    <!-- <div class="col-md-2 ml-2">
      <h4 class="project-heading mt-3 pl-1">Delivery</h4>
    </div> -->
    <div class="col-md-8 ml-2">
      <mat-form-field  class="example-full-width mt-1">
        <mat-label class="mat-label" style="font-size: 11px;"> enter pincode to know estimate delivery time</mat-label>
        <input
          matInput
          autocomplete="off"
        type="number"
          (keyup)="estim()"
          formControlName="delivery_pincode"
          id="text1"
          onkeypress="return IsNumeric(event);"
          ondrop="return false;"
          onpaste="return false;"
          required
        />
    <mat-icon matPrefix>location_on</mat-icon>
        
        <mat-hint id="error" style=" display: none" class="text-success"
          >*put Numeric value </mat-hint
        >
       
      </mat-form-field>
    
    <button *ngIf="estimate_count==1"
      mat-raised-button
      class="project-button"
      (click)="estimate_time_delivery()"
      type="submit"
      
    >
      check
    </button>
    <button *ngIf="estimate_count==0"
      mat-raised-button
      (click)="estimate_time_delivery()"
      type="submit"
      class="project-button"
    >
      change
    </button>
    </div>
  </div>


</form>
<h6 *ngIf="estimate_self==true && etd" class="text-success project-heading">Delivery by {{etd}}</h6>
<h6 *ngIf="estimate_self==false && etd" class="text-success project-heading">Delivery by {{etd  | date:'longDate'}}</h6>
</div>

<div class="ml-3 mt-3">
  
  <span *ngIf="shipping_name!=null && ship_ask && (shipping_rate==null || shipping_rate==0)" class="mb-1 text-success project-heading" >  
    {{shipping_name}}  : Free Shipping
          <div *ngIf="shipping_rate!='0' && shipping_rate!=0">₹ {{shipping_rate}}</div>


  </span> 
<span *ngIf="shipping_name!=null && ship_ask && (shipping_rate!=null && shipping_rate!=0)" class="mb-1 text-success project-heading" >  
    {{shipping_name}}  : 
         ₹ {{shipping_rate}}
  </span> 
</div>


        <div class="row mt-4">
          <div class="col-md-5 ml-2">
            
            <button type="button" mat-raised-button *ngIf="userC == true  && product?.txn_quantity > '0'" (click)="rates(product);" class=" w-100  project-button-2" ><i class="fa fa-bolt "></i> Buy now</button>
  
            <button type="button" mat-raised-button *ngIf="userC == true && product?.txn_quantity < '1'" style="cursor: not-allowed;"  class=" w-100 project-button-disable"><i class="fa fa-bolt text-white"></i> Buy now</button>
               <button type="button" mat-raised-button *ngIf="userC == false  && product?.txn_quantity > '0'" (click)="rates(product);" class="w-100 project-button-2" ><i class="fa fa-bolt "></i> Buy now</button>
               <button type="button" mat-raised-button *ngIf="userC == false && product?.txn_quantity < '1'" style="cursor:not-allowed;"  class="w-100 project-button-disable"><i class="fa fa-bolt text-white"></i> Buy now</button>
          </div>
          <div class="col-md-5  "> 
          
        
           <button type="button" mat-raised-button  class="project-button w-100 project-heading" *ngIf="userC==false  && product?.txn_quantity > '0'"  (click)="addToCart(product)" ><i
               class="fas fa-shopping-cart   text-white"> </i>&nbsp;Add to cart</button> 
               <button type="button" mat-raised-button class="project-button-disable w-100 " *ngIf="userC==false &&  product?.txn_quantity < '1'" style="cursor: not-allowed;"><i
                 class="fas fa-shopping-cart  project-heading "> </i>&nbsp;Add to cart</button> 

                 <span class="d-flex update-button ml-2" *ngIf="cart_check == true">
                  <span *ngIf="cart_inventory.qty > 1 || cart_inventory.qty > '1'" class=" updateCart3minus button-update  mr-1 p-1"
                    title="decrease"
                    (click)="updateCart3minus(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,cart_inventory.qty,product?.txn_quantity);">-
                  </span>
  
                  <span *ngIf="cart_inventory.qty == 1 || cart_inventory.qty == '1'" class="wNrY5O updateCart3minus button-update  ml-1" (click)="deleteFromCartF(cart_inventory.cart_inventory_id)"
                    title="remove" >-
                </span>
  &nbsp;
                  <input class=" form-control text-center box-update mt-0" type="number" matInput style="width: 40px;"
                    placeholder="Quantity" value="{{cart_inventory.qty}}" required min="1"
                    (change)="updateCart3(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,$event.target.value,product?.txn_quantity)"
                    (keyup)="updateCart3(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,$event.target.value,product?.txn_quantity)">
                  <span *ngIf="cart_inventory.qty<product?.txn_quantity" class=" ml-1 mt-1 wNrY5O updateCart3minus button-update text-center" title="increase"
                    (click)="updateCart3plus(cart_inventory.cart_id,cart_inventory.cart_inventory_id,cart_inventory.rate_type,cart_inventory.qty,product?.txn_quantity);">+
              </span>
        <span *ngIf="cart_inventory.qty >= product?.txn_quantity" class=" ml-1 mt-1 updateCart3minus wNrY5O text-center button-update" title="limit reached" [disabled]=true
          >+
  
        </span>
  
      </span>

                 <button type="button" *ngIf="cart_check == false && userC==true && product?.txn_quantity < '1'" mat-raised-button class="project-heading project-button-disable  w-100"  style="cursor: not-allowed;">
                   <i
                   class="fas fa-shopping-cart pr-2  text-white"> </i>
                   &nbsp;Add to cart
                 </button> 
                 <button *ngIf="cart_check == false && userC==true && product?.txn_quantity > '0'"  mat-raised-button class=" project-button w-100 project-heading">
                  <i class="fas fa-shopping-cart pr-2  text-white"   (click)="addToCart(product)"> </i> &nbsp;Add to cart
                 </button>
       

                   
          </div> 
         
        </div>
                  
        <div class="classic-tabs   px-2 pt-2 mt-4">

          <ul class="nav  nav-justified border-bottom "  id="advancedTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link  active project-heading active"  id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li> &nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link project-heading " id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Specification</a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link project-heading " id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Ratings & Reviews</a>
            </li>
          </ul>
          <div class="tab-content mt-4" id="advancedTabContent">
            <div class="tab-pane fade show active project-discription" id="description" role="tabpanel" aria-labelledby="description-tab">
              <h5 [innerHTML]="product?.meta_description" style="font-size: 14px;" class="project-discription"></h5> 
            </div>
            <div class="tab-pane fade mt-4" id="info" role="tabpanel" aria-labelledby="info-tab">
            
                <div class="row">
                  <div class="col-md-2 project-heading" style="font-weight: 600;">
                    <span >Model</span>  <br/>
                    <span>Brand </span> <br/>
                    <span *ngIf="product?.size">Size</span> 
                  
                  </div>
                  <div class="col-md-10 project-discription pl-5">
<span> {{ product?.model }} </span><br/>
<span> {{ product?.brand_name }} </span><br/> <span style="font-family: sans-serif!important;">{{ product?.size }}</span>


                  </div>
                  <div *ngFor="let pspec of product_specification | slice:1:30;" class="col-md-10"> 
                    <div class="row"><span style="font-weight: 600;" class="project-heading col-md-3">{{ pspec.spec_name }} </span> <span class="project-discription col-md-9">&nbsp;&nbsp;{{ pspec.spec_value }}</span></div>
                  </div> 
                  
                </div>
            
            </div>
            <div class="tab-pane fade mt-4" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <div class="card mt-3 card12 " *ngIf="ratings == 0 && rating_option==true">
                <div class="card-header justify-content-between d-flex">
                <h4 class="project-heading">  Ratings & Reviews </h4> 

            
                <button *ngIf="rating_option==true" mat-raised-button class="  cursor-pointer project-heading project-button"  (click)="rating(product)"> Rate Product</button>
                
                </div>
                
                <div class="card-body">
                  <div class="row justify-content-center ">
                    <div class="col-md-5 col-6 text-center project-discription">
                  No review yet
                    </div>
                  
                  </div>
             
              </div>
              </div>


              



        
              <div class="card mt-3  card12" *ngIf="ratings != 0 && rating_option==true">
                <div class="card-header justify-content-between d-flex">
                <h5>  Ratings & Reviews </h5> 
                <button *ngIf="rating_option==true" mat-raised-button class=" pl-4 pr-4 pt-1 pb-1 cursor-pointer card-button project-heading"  (click)="rating(product)"> Rate Product</button>
                </div>
                
                
                <div class="card-body">

                  <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="well well-sm card1 p-5" >
                            <div class="row">
                                <div class="col-xs-12 col-md-6 text-center">
                                    <h1 class="rating-num project-heading">
                                        {{ratings | number}}</h1>
                                    <div class="rating">
                                        <span
                                        class="fa fa-star checked"
                                        *ngFor="let i of createRange2(ratings)"
                                      ></span>
                                      <span
                                        class="fa fa-star"
                                        *ngFor="let i of createRange2(5 - ratings)"
                                      ></span>
                                      
                                    </div>
                                    <div class="project-discription">
                                        <span class="fas fa-user rating-descre " style="font-size: 14px;"></span> {{ratings_count}} total
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="row rating-desc">
                                        <div class="col-xs-3 col-md-3 col-2 text-right d-flex">
                                          <i class="fas fa-star rating-descre"  matTooltip="Ratings"></i> 5
                                        </div>
                                        <div class="col-xs-8 col-md-9 col-10" style="padding: 9px;">
                                          <mat-progress-bar mode="determinate"  value="{{percentmain5}}" matTooltip="{{percentmain5}}"></mat-progress-bar>
                                        </div>
                                        <!-- end 5 -->
                                        <div class="col-xs-3 col-md-3 col-2 text-right d-flex">
                                          <span class="fas fa-star rating-descre"  matTooltip="Ratings"></span> 4
                                        </div>
                                        <div class="col-xs-8 col-md-9 col-10" style="padding: 9px;">
                                          <mat-progress-bar mode="determinate" value="{{percentmain4}}" matTooltip="{{percentmain4}}"></mat-progress-bar>
                                        </div>
                                        <!-- end 4 -->
                                        <div class="col-xs-3 col-md-3 col-2 text-right  d-flex">
                                          <i class="fas fa-star rating-descre"  matTooltip="Ratings"></i>  3
                                        </div>
                                        <div class="col-xs-8 col-md-9 col-10" style="padding: 9px;">
                                          <mat-progress-bar mode="determinate" value="{{percentmain3}}" matTooltip="{{percentmain3}}"></mat-progress-bar>
                                        </div>
                                        <!-- end 3 -->
                                        <div class="col-xs-3 col-md-3 col-2 text-right d-flex">
                                          <i class="fas fa-star rating-descre"  matTooltip="Ratings"></i> 2
                                        </div>
                                        <div class="col-xs-8 col-md-9 col-10" style="padding: 9px;">
                                          <mat-progress-bar mode="determinate" color="accent" class="cursor-pointer" value="{{percentmain2}}" matTooltip="{{percentmain2}}"></mat-progress-bar>
                                        </div>
                                        <!-- end 2 -->
                                        <div class="col-xs-3 col-md-3 col-2 text-right d-flex">
                                          <i class="fas fa-star rating-descre"  matTooltip="Ratings"></i> 1
                                        </div>
                                        <div class="col-xs-8 col-md-9 col-10 " style="padding: 9px;">
                                           
                                            <mat-progress-bar mode="determinate" color="warn" value="{{percentmain1 }}" class="cursor-pointer" matTooltip="{{percentmain1}}"></mat-progress-bar>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


               
                <hr>
              <div class="user-review-box">

              
                <div class="" *ngFor="let reviews of reviews">
                            <div class="row justify-content-center">
                              <div class="col-md-11 project-discription">
                              <span *ngIf="reviews.ratings != 0" class="badge badge-success" >
                                {{reviews.ratings}}
                              <i  class="fas fa-star" matTooltip="Ratings"></i>
                              </span> &nbsp;&nbsp;
                              <span [innerHTML]="reviews.review_message" > &nbsp;&nbsp;{{reviews.review_message}}</span><br>
                              <p class="text-muted mt-2"><i class="far fa-check-circle text-muted"></i>  Certified Buyer, {{reviews.name}} </p>
                              </div></div>
                            
                          
                    
                
                            </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        
        </div>
  
       
  
       
              
                </div>
    </div>
   
  
  
  </section>
 
  <section class="text-center d-none d-lg-block d-xl-block p-2 " *ngIf="similarPro !=null">
    

   
    <div class="pagination  row mb-0">
      <div class="col-md-4  text-left">
      <span class="page-item  float-left prev-item" *ngIf="offsetSimilar != 1">
        <span matTooltip="Previous"
          class="page-link page-previous"
          (click)="changeOffsetSimilar(offsetSimilar - 1)"
          aria-label="Previous"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
      </span>
      </span>
    </div>
    <div class="col-md-4 text-center">
      <div><h3 class="text-center project-heading" style="color: lightgray; text-transform: capitalize;">simi<span class="border-heading">lar pro</span>duct</h3></div>

    </div>
    <div class="col-md-4 text-right ">
      <span class="page-item float-right next-item" *ngIf="offsetSimilar != pagesSimilar">
        <span  matTooltip="Next"
          class="page-link page-next"
          (click)="changeOffsetSimilar(offsetSimilar + 1)"
          aria-label="Next"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
      </span>
      </span>
    </div>
    <div *ngIf="!similarPro">
<img src="assets/loader.gif">
    </div> 

    <!-- </div> -->
  </div>
    <div class="row">
  
      <div class="col-md-6 col-lg-2  p-1" *ngFor="let nprd2 of similarPro | slice:0:6"> 
      
        <div class="car-similar" >
          <div class="buy-now-button-box ">
          <div  class="row justify-content-between " > 
            <div class="col-md-2 text-right pt-2 pl-4"> 
          
              <a *ngIf="nprd2?.wishlist_check == false" 
                  style="cursor:pointer"
                  (click)="addToWishlist(nprd2)"
                  title="Add to WishList"
                  > <i class="fa fa-heart-o" aria-hidden="true"  ></i></a>
                <a
                style="cursor:pointer" *ngIf="nprd2.wishlist_check == true"
                (click)="deleteFromWishlist(nprd2.wishlist_num)"
                title="Already exist in Wishlist"
                > <i class="fas fa-heart" aria-hidden="true"  ></i>
            </a>

               <a *ngIf="userC==false" 
                  style="cursor:pointer"
                  (click)="addToWishlistWL(nprd2)"
                  title="Add to WishList"
                  > <i class="fa fa-heart-o" aria-hidden="true" ></i>
              </a>
              </div>
       
            
            <div class=" col-md-3" *ngIf="nprd2?.txn_quantity > '0'">
              <button  (click)="rates(nprd2)" mat-raised-button *ngIf="(nprd2?.cart_check == false) && userC==true 
              " class="project-button cursor-pointer">Buy Now</button>
               <button   (click)="rates(nprd2)" mat-raised-button *ngIf="userC == false" class="project-button  cursor-pointer"> Buy Now</button>
          </div>
      <div class="col-md-7 text-right " >
        <div class="num-block skin-2"  *ngIf="nprd2?.cart_check == true">
          <div class="num-in" style="cursor: pointer;">
            <span class="minus dis" *ngIf="nprd2.cart_inventory.qty > 1 || nprd2.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,nprd2.cart_inventory.qty,nprd2?.txn_quantity);"></span>
            <span class="minus dis" *ngIf="nprd2.cart_inventory.qty == 1 || nprd2.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd2.cart_inventory.cart_inventory_id)"></span>
            <input type="number" class="in-num"   value="{{nprd2.cart_inventory.qty}}" required min="1"
            (change)="updateCart3(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,$event.target.value,nprd2?.txn_quantity)"
            (keyup)="updateCart3(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,$event.target.value,nprd2?.txn_quantity)" >
            <span class="plus" *ngIf="nprd2.cart_inventory.qty<nprd2?.txn_quantity"
              (click)="updateCart3plus(nprd2.cart_inventory.cart_id,nprd2.cart_inventory.cart_inventory_id,nprd2.cart_inventory.rate_type,nprd2.cart_inventory.qty,nprd2?.txn_quantity);"></span>
            <span class="plus" *ngIf="nprd2.cart_inventory.qty>nprd2?.txn_quantity || nprd2.cart_inventory.qty==nprd2?.txn_quantity"  title="Reached limit" [disabled]=true></span>
          </div>
        </div>
       
        <span *ngIf="userC==true" class="">
          <a *ngIf="nprd2.cart_check == false "
          style="cursor:pointer"
          (click)="addToCart(nprd2)"
          title="Add to Cart"
          > <i class="fa fa-cart-plus mt-2 mr-2" ></i></a>
        </span>
        
         
        <a  *ngIf="userC==false" class=""
          style="cursor:pointer"
          (click)="addToCart(nprd2)"
          title="Add to Cart"
          > <i class="fa fa-cart-plus mt-2 mr-2" ></i>
      </a>
      <!-- </li>
    </ul> -->

      </div>
          </div>
        </div>
          
          <h1  class="outofstockproduct" *ngIf="nprd2?.txn_quantity < '1'"> Out of stock</h1>
          <div class="card_image" >
            <div id="box-img1"> 
            <img
            src="{{ nprd2?.gallery?.medium_thumbnail_link }}"  (click)="view_product(nprd2.meta_title, nprd2.product_no,nprd2.slug,nprd2.quick_product_check)"
         
              id="img1"
            alt="Product Image"
          />
        </div>

     
        <!-- <h1  class="show-status" *ngIf="userC == true && nprd2?.txn_quantity < '1'"> Out of stock</h1> -->
        <h4 style=" text-transform: capitaliz; font-weight: bold;" class="project-heading m-0 box-show-button pl-1 pr-1">{{ (nprd2?.name.length>50)? (nprd2?.name | slice:0:50)+'...':(nprd2?.name) }}</h4>
       
      
            <div class="row justify-content-start">
              <div class="col-md-12 ">
                <p style="color: black;margin-left:3px">
                  <span *ngIf="nprd2.rate[0].is_rent == '1'" 
                  >{{ nprd2.rate[0].name }} @ {{ nprd2.rate[0].rate }}
                </span>
                <span *ngIf="nprd2.rate[0].is_rent != '2'" style="font-weight: bold;"
                  >₹ {{ nprd2.rate[0].rate}} 
                </span> 
                <span class="for-you text-muted font-weight-500" *ngIf="nprd2.rate[0].rate < nprd2.mrp"
                  ><del>₹ {{ nprd2.mrp }} </del></span
                >
                <span *ngIf="nprd2.rate[0].is_rent == '2'" 
                  >{{ nprd2.rate[1].name }} @ {{ nprd2.rate[1].rate }} </span>
                &nbsp;
                <span
                  *ngIf="nprd2.rate[0].rate < nprd2.mrp && nprd2.rate[0].discount_percent !=0"
                  class="font-wieght-bold text-center for-you text-success" style="font-weight: bold;"
                  > {{ nprd2.rate[0].discount_percent | number:'1.0-0' }}%  off</span
                >
                </p>
              </div>
             
            </div>
           
          </div>
        
        </div>
        <!-- Card -->
  
      </div>
     
  
    </div>
  
  </section>
  
  
  </div>

<div class="container-fluid d-block d-lg-none d-xl-none">
  <div class="row">
    <div class="col-md-12 text-center">
      <h5 class="text-success project-heading">Similar Product</h5>
    </div>
  </div>
<div class="row">
  <div class="col-6   mobile-product-box-height"  (click)="view_product(nprd2.meta_title, nprd2.product_no,nprd2.slug,nprd2.quick_product_check)" *ngFor="let nprd2 of similarPro">
    <div class="">
      <div class="row">
        <div class="col-md-12 mobile-image-box-height">
          <img  src="{{ nprd2.gallery?.medium_thumbnail_link }}" onerror="this.src='assets/no-img.png';" class="mobile-view-image">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mobile-product-heading ">
          <h6 class="m-0">
            <a class="text-titlecase project-heading"  title="{{nprd2.name}}"> {{ (nprd2.name.length>34)? (nprd2.name | slice:0:34)+'...':(nprd2.name)  | titlecase}}</a>
          </h6>
        
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="justify-content-center text-center pb-1 star-mobile">
          <span
            class="fa fa-star checked"
            *ngFor="let i of createRange2(nprd2.ratings)"
          ></span>
          <span *ngIf="nprd2.ratings>'0'"><span
            class="fa fa-star unchecked"
            *ngFor="let i of createRange2(5 - nprd2.ratings)"
          ></span>
        </span>
        </div>
      </div>
      <div class="row text-muted mobile-seller-price">
        <div class="col-md-12">
          <span *ngIf="nprd2.rate[0].is_rent == '1'" class="mobile-product-price1"
          >{{ nprd2.rate[0].name }} @ {{ nprd2.rate[0].rate }}
        </span>
        <span *ngIf="nprd2.rate[0].is_rent != '2'" class="mobile-product-price1"
          >₹ {{ nprd2.rate[0].rate }}
        </span>
        
        <span class="mobile-product-price" *ngIf="nprd2.rate[0].rate < nprd2.mrp"
          ><del>₹ {{ nprd2.mrp  }} </del></span
        >
        <span *ngIf="nprd2.rate[0].is_rent == '2'" class="mobile-product-price"
          >{{ nprd2.rate[1].name }} @ {{ nprd2.rate[1].rate }} </span
        ><br />
        <span
          *ngIf="nprd2.rate[0].rate < nprd2.mrp"
          class="font-wieght-bold text-center mobile-product-price1 text-success"
          >Discount : {{ nprd2.rate[0].discount_percent | number:'1.0-0' }} %</span
        >
        </div>
      </div>
    </div>
    </div>
</div>

</div>


<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999999!important;">
  <div class="modal-dialog  modal-xl" style="z-index: 111111; height: 560px; width: 920px;">
    <div class="modal-content">
       <div class="modal-header">
        <h4 class=" font-weight-600 m-0 project-heading" style="margin-left: 16px;">{{ product?.name }} &nbsp;<span class="text-danger text-uppercase project-discription " style="font-weight: bolder;" *ngIf="product?.txn_quantity < '1'"> ( Out of stock )</span> </h4>    
          <button type="button" class="close btn btn-secondry" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: white;">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <section class="mt-2">
          
                  <div class="row wrapper">
                    <div class="col-md-12 " >
                      <div class="row justify-content-center"  >
                        <!-- for pc laptop gallary -->
    
   
    
      <div class="col-md-8 col-9 ">
    
        <div class="row">
          
          <div class="preview col-md-12 col-12" >
            <!-- <h1  class="show-status" *ngIf="product?.txn_quantity < '1'"><span> Out of stock </span></h1>   -->
          
                <div class=" tab-content  p-1  d-none d-lg-block d-xl-block " style="overflow: hidden;">
                 
                
                  <div class="tab-pane active show-image1  cursor-pointer justify-content-center text-center" id="pic-3 " >  
                   
                      <img src="{{img1}}" alt="" style="
                      min-height: 450px; max-width: 100%; max-height: 450px;" >
                        
                  </div>
    
                </div>
    
                
                  <!-- for mobile ipad -->
    
                  
              
             
    
             
    
               
              </div>
              
        </div>
      </div>
      <div class="col-md-2  d-none d-md-block d-lg-block">
    
                
        <div class="preview-thumbnail nav nav-tabs  mt-1 row "  >
          <ul>
            <li class="col-12 col-md-12 border border-info"  style="list-style: none;"
            *ngFor="let image1 of product_image | slice:0:6;let s=index"
            class="active cursor-pointer"  
          >
            <a  
              data-target="#pic-3" 
              matTooltip="more product image "
              data-toggle="tab"
              (click)="Image1(image1.image_link)"
            >
              <img 
                
        src="{{items23[s]?.thumb}}"
                onerror="this.src='assets/no-img.png';"
                alt="Product Image"
                class=" p-1"
                height="70"
                width="80"
            />
          </a> 
            <!-- <span *ngIf="product_image > 5" style="color: white;">more</span> -->
           
        </li>
      </ul>
      
      </div>
    </div>
                      </div>
                     
     <!-- start for update cart qty 13/08/2020 Priyangee-->
    
                   
                      
                    </div>
                <!-- {{items23}} -->
              
    
           
              </div>
           
        </section>
    
       
      </div>
   
      
    </div>

  </div>
</div>

<!-- end -->
<!-- <app-footer></app-footer> -->
