.mat-card{
    background: rgb(43,42,42);
    color: whitesmoke;
}
.card{
    background: rgb(43,42,42);
    color: whitesmoke;
}
.feferrer{
    font-size: 13px;
}
mat-icon{
    color: green;
}
.far{
color: green;
}