
.img-circle{
  height: 150px;
}

.card-box-mover:hover{
  box-shadow: 2px 2px lightgrey;
  box-shadow: -2px -2px lightgrey;
  transition: 1s;

}
.card-button{
  background: rgb(43, 42, 42);
  color: green;
  border: 2px solid green;
}
.example-full-width{
  width: 60%;
}
.nav-link{
  color: green;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  /* color: rgb(43, 42, 42); */
  background-color: green;
}
.mat-card{
  background: rgb(43, 42, 42);
  /* background: transparent; */
}
.main-breadcrumb{
  background: rgb(43, 42, 42);
}
.breadcrumb{
  background: rgb(43, 42, 42);
}
.card{
  background: rgb(43, 42, 42);
}