

<div class="container-fluid">
    <!-- <div class="row border-bottom" *ngIf="!shownamebox">
        <div class="col-md-3 p-3 col-3">
            <div  *ngIf="userdata?.profile_image ==null || userdata?.profile_image =='default.png'" class="card" style="border: none;">
                <img src="../../assets/facebook1.png" height="150" width="150"/>
            </div>
            <div  *ngIf="userdata?.profile_image !=null && userdata?.profile_image !='default.png'" class="card" class="user-profile">
                <img src="{{userdata?.profile_image}}" height="175" width="175" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7 pt-5 pl-3 col-7">
                <h3 *ngIf="userdata?.name">{{userdata?.name | titlecase}}</h3>
                <h6 *ngIf="userdata?.email"  class="pl-1">{{userdata?.email}}</h6>
                <h6 *ngIf="userdata?.mobile" class="pl-1">{{userdata?.mobile}}</h6>
        </div>
        <div class="col-md-2 p-3 col-2">
            <span class="border p-1 text-uppercase cursor-pointer" style="    font-size: 10px;
            font-weight: 600;" (click)="edit()" title="update">edit profile</span>
        </div>
    </div> -->
    <div class="row border-bottom" *ngIf="shownamebox">
        <div class="col-md-3 p-3 col-3">
            <!-- <div class="card" style="border: none;">
                <img src="../../assets/img/customer-profile.png" height="150" width="150"/>
            </div> -->
            <div  *ngIf="userdata?.profile_image ==null || userdata?.profile_image =='default.png'"  style="border: none;">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" height="150" width="150"/>
            </div>
            <div  *ngIf="userdata?.profile_image !=null && userdata?.profile_image !='default.png'"  class="user-profile">
                <img src="{{userdata?.profile_image}}" height="175" width="175" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7 pt-5 pl-3 col-7">
            <form [formGroup]="updateprofile">
                <mat-label  >User Name</mat-label>&nbsp;&nbsp;
            <mat-form-field class="example-full-width " >
                <input matInput placeholder="User Name"  formControlName="name" value="{{userdata?.name}}" >
            </mat-form-field>
          
            
            <br/>
            <button mat-raised-button class=" order-button mt-2" (click)="update()">Update</button>
            </form>
        </div>
        <div class="col-md-2 p-3 col-2">
            <span class="border p-1 text-uppercase cursor-pointer" style="    font-size: 10px;
            font-weight: 600;" (click)="cancel()" title="update">cancel</span>
        </div>
  
    </div>

    <!-- <div class="row justify-content-center" *ngIf="changepasssbox">
        <div class="col-md-11 mt-2 mb-1 col-11">
            <div class="row  justify-content-between pb-2 cursor-pointer" >
                <h6 class="font-weight-500  pl-2 text-primary cursor-pointer" matTooltip="Change Password">Change Password</h6>  
                <span (click)="showchangepass()" class="border  pl-2 pr-2 border" matTooltip="cancel">cancel</span>
            </div>
            <form [formGroup]= "Changepassword">
            <div class="row mt-2" *ngIf="changepasssbox">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Enter Current Password</mat-label>
                    <input matInput  required formControlName="old_password" type="password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="changepasssbox">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput  required formControlName="new_password" type="password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="changepasssbox">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Re-Enter New Password</mat-label>

                    <input matInput  required formControlName="confirm_password" type="password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
           
            <div class="row mb-2" *ngIf="changepasssbox">
                <button mat-raised-button class="order-button cursor-pointer" (click)="ChangePassword()">Change Password</button>
            </div>
        </form>
        </div>
    </div> -->


    <!-- <div class="row">
        <div class="col-md-4 mt-2 mb-2">
            <div class="card text-center p-2 cursor-pointer card-box-mover" routerLink="/home_profile/orders">
                <img src="https://img.icons8.com/windows/64/000000/box-other.png" width="60" height="60" class="text-center mr-auto ml-auto mt-3"/>
                <h6 class="font-weight-600 mt-1">Orders</h6>
                <p class="text-muted">check your order status</p> 
            </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
            <div class="card text-center card-box-mover p-2 cursor-pointer" routerLink="/home_profile/wishlist">
                <img src="https://img.icons8.com/ios-filled/50/000000/wish-list.png" width="60" height="60" class="text-center mr-auto ml-auto mt-3"/>
                <h6 class="font-weight-600 mt-1">WishList</h6>
                <p class="text-muted">check your wishlist</p> 
            </div>
        </div>
        <div class="col-md-4 mt-2 mb-2 " (click)="showchangepass()">
            <div class="card text-center card-box-mover p-2 cursor-pointer">
            
                <img src="https://img.icons8.com/windows/64/000000/--folder-settings.png" width="60" height="60" class="text-center mr-auto ml-auto mt-3"/>
                <h6 class="font-weight-600 mt-1">Acoount Setting</h6>
                <p class="text-muted">change your password</p> 
            </div>
        </div>
    </div> -->
</div>



 <!-- <div class="container-fluid  mb-3">
    <div class="row justify-content-center">
        <div class="col-md-12 col-11 author-card-profile-colomn ">
          
            <div class="row mt-3 justify-content-center">
                       
                <div class="col-md-9 mt-2">
                   <div class="row"><h6 class="font-weight-600 pl-4 col-md-6 col-6">Name</h6>  
                    <h6 class="col-md-6 col-6 text-primary text-right cursor-pointer"><span matTooltip="edit " (click)="edit()" *ngIf="!shownamebox">Edit</span><span *ngIf="shownamebox" (click)="cancel()">cancel</span></h6>
                </div>
                <form [formGroup]="updateprofile">
                    <div class="row mt-1">
                       
                        <div class="col-md-12 col-12 text-uppercase" *ngIf="!shownamebox">
                            <mat-form-field class="example-full-width font-weight-600" appearance="fill" *ngIf="userdata?.name ==null">
                                <input matInput placeholder="Name" disabled value="N. A." class="profile-text">
                                <mat-icon class="text-warning" matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width font-weight-600" appearance="fill" *ngIf="userdata?.name !=null">
                                <input matInput placeholder="Name" disabled value="{{userdata?.name}}" class="profile-text">
                                <mat-icon class="text-warning" matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                            </div>
        
                            <div class="col-md-10 col-8 text-uppercase" *ngIf="shownamebox">
                                
                                <mat-form-field class="example-full-width " appearance="fill">
                                    <input matInput  formControlName="name" value="{{userdata?.name}}">
                                    <mat-icon class="text-warning" matSuffix>account_circle</mat-icon>
                                </mat-form-field>
                                </div>
                                <div class="col-md-2 col-4" *ngIf="shownamebox">
                                    <button mat-raised-button class="bg-warning text-white mt-3" (click)="update()">Save</button>
                                </div>
                            
                    </div>
                </form>
                    <div class="row"><h6 class="font-weight-600 pl-4">Email Addresses  </h6></div>
                    <div class="row mt-1">
                      
                        <div class="col-md-12 col-12 text-lowercase">
                            
                            <mat-form-field class="example-full-width font-weight-600" appearance="fill" *ngIf="userdata?.email ==null">
                                <input matInput  disabled value="N. A." class="profile-text">
                                <mat-icon class="text-warning" matSuffix>local_post_office</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width font-weight-600" appearance="fill" *ngIf="userdata?.email !=null">
                                <input matInput  disabled value="{{userdata?.email}}" class="profile-text">
                                <mat-icon class="text-warning" matSuffix>local_post_office</mat-icon>
                            </mat-form-field>
                            </div>
                    </div>
                    <div class="row"><h6 class="font-weight-600 pl-4">Mobile No.  </h6></div>
                    <div class="row mt-1">
                       
                        <div class="col-md-12 col-12">
                            <mat-form-field class="example-full-width font-weight-600" appearance="fill" *ngIf="userdata?.mobile ==null">
                                <input matInput  disabled value="N.A." class="profile-text">
                                <mat-icon class="text-warning " matSuffix>call</mat-icon>
                            </mat-form-field>
                            <mat-form-field class="example-full-width font-weight-600" appearance="fill" *ngIf="userdata?.mobile !=null">
                                <input matInput  disabled value="{{userdata?.mobile}}" class="profile-text">
                                <mat-icon class="text-warning " matSuffix>call</mat-icon>
                            </mat-form-field>
                            </div>
                    </div>
                </div>
            </div>
<hr>

        <div class="row justify-content-center">
            <div class="col-md-9 mt-2 mb-3 col-11">
                <div class="row  d-flex text-primary cursor-pointer" (click)="showchangepass()">
                    <h6 class="font-weight-500 pb-2 pl-2 text-primary cursor-pointer" matTooltip="Change Password" >Change Password</h6>  
                </div>
                <form [formGroup]= "Changepassword">
                <div class="row mt-2" *ngIf="changepasssbox">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Enter Current Password</mat-label>
                        <input matInput  required formControlName="old_password" type="password">
                      <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
                <div class="row" *ngIf="changepasssbox">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Enter New Password</mat-label>
                        <input matInput  required formControlName="new_password" type="password">
                      <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
                <div class="row" *ngIf="changepasssbox">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Re-Enter New Password</mat-label>
    
                        <input matInput  required formControlName="confirm_password" type="password">
                      <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
               
                <div class="row mb-5" *ngIf="changepasssbox">
                    <button mat-raised-button class="bg-warning text-white w-100 cursor-pointer" (click)="ChangePassword()">Change Password</button>
                </div>
            </form>
            </div>
        </div>


        </div>
    </div>
</div>  -->

