


<hr>
<div class="container bootstrap snippet card" style="min-height: 80vh; color: #636363;">
    <div class="row">
      <div class="col-sm-10"><h1>User name</h1></div>
      <div class="col-sm-2"><a href="/users" class="pull-right">
        <!-- <img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"> --></a></div>
    </div>
    <div class="row">
      <div class="col-sm-2"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">

        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div><br>

               
          <!-- <div class="panel panel-default"> -->
           
            <div class="panel-body"><a href="http://bootnipets.com">Logout</a></div>
          <!-- </div> -->
          
         
               
          
          
        </div><!--/col-3-->
      <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">PROFILE SETTINGS</a></li>
                <li><a data-toggle="tab" href="#ORDERS">ORDERS DETAILS</a></li>
                <li><a data-toggle="tab" href="#ADDRESSES">ADDRESSES</a></li>
                <li><a data-toggle="tab" href="#MY">MY WISHLIST</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                
                
              
              
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="ORDERS">
              <app-order></app-order>
               
                     
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="ADDRESSES">
                
               <app-clientaddress></app-clientaddress>
                  
                  
          
               
              </div><!--/tab-pane-->
<!-- my whislist -->
 <div class="tab-pane" id="MY">
   <app-wishlist></app-wishlist>
              
               
             </div><!--/tab-pane-->


          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
                                                      

<script type="text/javascript"></script>




