/* .row{
	color:white;
}
.bg-img{
    
	height: 100vh;
	
    background-size: cover;
   
    background-position: center;
  }
  

.box{
  background-position: center;
       background-size: cover;
}
.container bootstrap snippet card{
  background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
}
.box {
  background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}
 */

 body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.main-body {
  padding: 15px;
}

.nav-link {
  color: #4a5568;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background: rgb(43, 42, 42);
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
.card-button{
  background: rgb(43, 42, 42);
  color: green;
  border: 2px solid green;
}
.example-full-width{
  width: 60%;
}
.nav-link{
  color: #B89D4E;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  /* color: rgb(43, 42, 42); */
  /* background-color: green; */
  background: #B89D4E;
}
.mat-card{
  /* background: rgb(43, 42, 42); */
  background: transparent;
}
.main-breadcrumb{
  background: rgb(43, 42, 42);
}
.breadcrumb{
  background: rgb(43, 42, 42);
}
.img-circle{
height: 70px;
width: 60px;
}
.circle-avtar-img{
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  border: 1px solid darkgrey ;
}

.mycart-scroll{
  cursor: pointer;
  max-height: 70vh; overflow-x: auto;
}
.mycart-scroll::-webkit-scrollbar {
  width: 7px;
}
.mycart-scroll {
  scrollbar-width: thin;
  scrollbar-color: grey;
}
.mycart-scroll::-webkit-scrollbar-track {
  background: grey;
}
.mycart-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(43, 42, 42) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}