.card{
    background-color: #202328;
    color: white;
}

.col-md-4{
    background-color: #202328;
}
.list-group-item{
    background-color: #202328;
    color:white;
}
/* #jun{
    background-color: #202328;
    } */