/* You can add global styles to this file, and also import other style files */
body{
    background-color: #202328;
}
html, body { height: 100%; }
body { margin: 0;  }
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 120px!important;
    width: 100%;
    pointer-events: auto;
    background-color: #000000;
    background-clip: padding-box;
    color: white;
    z-index: auto;
    border: 1px solid white;
    border-radius: 12px!important;
    /* outline: 0; */
  }
  .project-heading{
    font-family: 'Cinzel', serif!important;
  }
  .project-discription{
    font-family: 'Raleway', sans-serif!important;
  }
 


  lightbox {
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    height: 561px;
    max-height: 82vh;
    max-width: 90vw;
    overflow: hidden;
    position: relative;
    width: 1100px;
    top: 40px;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: green;
}
.mat-radio-outer-circle {
  box-sizing: border-box;
  height: 20px;
  left: 0;
  border: green;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: green;
}