/* You can add global styles to this file, and also import other style files */
body{
    background-color: #202328;
}
html, body { height: 100%; }
body { margin: 0;  }
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 120px!important;
    width: 100%;
    pointer-events: auto;
    background-color: #000000;
    background-clip: padding-box;
    color: white;
    z-index: auto;
    border: 1px solid white;
    border-radius: 12px!important;
    /* outline: 0; */
  }
  .project-heading{
    font-family: 'Cinzel', serif!important;
  }
  .project-discription{
    font-family: 'Raleway', sans-serif!important;
  }
  .active1{
      /* background: lightgrey; */
      border-top: 1px solid grey;
      border-left: 1px solid grey;
      color: blue;
      border-radius: 9px;
  }