
    <div class="container-fluid d-none d-lg-block d-xl-block" style="overflow: hidden; ">  
        <!-- rounded slider by Aman Verma 05-11-2020 -->
      <div id="demo" class="carousel slide main-slider " data-ride="carousel" *ngIf="banner">
        <div class="carousel-inner" style="  height: 490px; border-radius: 9.5px!important;  overflow: hidden;" >
          <div *ngIf="banner_group_a==0 || bannerdata.value.banner_image_a_group==''" class="carousel-item active">
            <img src="{{ bannerdata.value.banner_image_a }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
          <div *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==0" class="carousel-item active cursor-pointer" (click)="navigation(bannerdata.value.banner_image_a_group,bannerdata.value.banner_image_a_group_type,bannerdata.value.banner_image_a_group_id)">
            <img  src="{{ bannerdata.value.banner_image_a }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
        
          <a *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_a_group}}"
          >
          <img src="{{bannerdata.value.banner_image_a}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>
  
          <div *ngIf="banner_group_b==0 || bannerdata.value.banner_image_b_group==''" class="carousel-item">
            <img src="{{ bannerdata.value.banner_image_b }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
          <div *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!=''  && banner_group_linkb==0"  class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_b_group,bannerdata.value.banner_image_b_group_type,bannerdata.value.banner_image_b_group_id)">
            <img  src="{{ bannerdata.value.banner_image_b }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
        
          <a *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!='' && banner_group_linkb==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_b_group}}"
          >
          <img src="{{bannerdata.value.banner_image_b}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>
  
          <div class="carousel-item" *ngIf="banner_group_c==0 || bannerdata.value.banner_image_c_group==''" class="carousel-item">
          <img src="{{ bannerdata.value.banner_image_c }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
          <div  *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_c_group,bannerdata.value.banner_image_c_group_type,bannerdata.value.banner_image_c_group_id)">
          <img src="{{ bannerdata.value.banner_image_c }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
  
      
  
    <a *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_c_group}}"
          >
          <img src="{{bannerdata.value.banner_image_c}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>   
  
        <!-- start for 4 and 5 -->
  <!-- start for 4 -->
  <div class="carousel-item" *ngIf="banner_group_d==0 || bannerdata.value.banner_image_d_group==''" class="carousel-item">
          <img src="{{ bannerdata.value.banner_image_d }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
          <div  *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_d_group,bannerdata.value.banner_image_d_group_type,bannerdata.value.banner_image_d_group_id)">
          <img src="{{ bannerdata.value.banner_image_d }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
  
      
  
    <a *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_d_group}}"
          >
          <img src="{{bannerdata.value.banner_image_d}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>  
  <!-- end for 4 -->
  <!-- start for 5 -->
  <div class="carousel-item" *ngIf="banner_group_e==0 || bannerdata.value.banner_image_e_group==''" class="carousel-item">
          <img src="{{ bannerdata.value.banner_image_e }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
          <div  *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_e_group,bannerdata.value.banner_image_e_group_type,bannerdata.value.banner_image_e_group_id)">
          <img src="{{ bannerdata.value.banner_image_e }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
  
      
  
    <a *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_e_group}}"
          >
          <img src="{{bannerdata.value.banner_image_e}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>  
  <!-- end for 5 -->
        <!-- end for 4 and 5 -->
        
        </div>
      
        <a class="carousel-control-prev ml-1" href="#demo" style="background-color: black;top: 238px;height: 30px;width: 35px;border-radius: 36px;" data-slide="prev">
          <span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
        </a>
        <a class="carousel-control-next mr-1" href="#demo" style="background-color: black;top: 238px;height: 30px;width: 35px;border-radius: 36px;" data-slide="next">
          <span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
        </a>
      </div>
  
     
   <!-- new add 17-11-2020 -->
   <div class="col-md-12 text-center">
    <h2 class="title" style="font-family: Cinzel Semi Bold;">Shop <span class="border-heading">by</span> Brands</h2>
  </div>
  <!-- end -->
  
  <!-- brand gallary view by Aman Verma 05-11-2020 -->
  <div class="row justify-content-start mt-1" style="background-color: #202328;" >
    <div class="col-md-2" *ngFor="let brand of brands | slice:0:6;">
     
        <div class=" circular-image-brand" (click)="navigateBrand(brand.name,brand.brand_id)" >
          <img src="{{brand?.thumbnail_sml_location}}" onerror="this.src='assets/no-img.png';" class="brand-image" style="width: 100%;" height="190px ;">
        </div>
    </div>
  </div>
 
  <div class="row justify-content-end text-right pr-3 mt-1"  *ngIf="brands?.length > 6">
    <span class="more-brands text-success" routerLink="/our-brand"> see more brands <i class="fas fa-chevron-right"></i></span>
     </div>
<!-- top selling product by Aman Verma 06-11-2020 -->
  <section class="mt-2">
     <div class="container-fluid">
    
      <div class="pagination  row mb-0">
        <div class="col-md-4  text-left">
        <span class="page-item  float-left prev-item" *ngIf="offsetSelling != 1">
          <span matTooltip="Previous"
            class="page-link page-previous"
            (click)="changeOffsetSell(offsetSelling - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
        </span>
        </span>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="title">Tren<span class="border-heading">ding Prod</span>ucts</h2>

      </div>
      <div class="col-md-4 text-right ">
        <span class="page-item float-right next-item" *ngIf="offsetSelling != pagesSelling">
          <span  matTooltip="Next"
            class="page-link page-next"
            (click)="changeOffsetSell(offsetSelling + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
        </span>
        </span>
      </div>
       
      <!-- </div> -->
    </div>
       <div class="row justify-content-start mt-0">
         <div class="col-md-3" *ngFor="let nprd of topSelling">
           <div class="card newproduct_box" id="box-img1">
            <img src="{{ nprd?.gallery?.medium_thumbnail_link }}" id="img1" alt="New Product Image" class="image" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">
            <h1  class="outofstockproduct" *ngIf="nprd?.txn_quantity < '1'" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)"> Out of stock</h1>
            <ul class="add-to-cart_newproduct">
              <li><a *ngIf="nprd.wishlist_check == false" 
                style="cursor:pointer"
                (click)="addToWishlist(nprd)"
                matTooltip="Add to WishList"
                > <i class="fa fa-heart-o" aria-hidden="true"  ></i></a>
              <a
              style="cursor:pointer" *ngIf="nprd.wishlist_check == true"
              (click)="deleteFromWishlist(nprd.wishlist_num)"
              matTooltip="Already exist in Wishlist"
              > <i class="fas fa-heart" aria-hidden="true"  ></i>
          </a>
        
            <!-- for withouyt login -->
             <a *ngIf="userC==false" 
                style="cursor:pointer"
                (click)="addToWishlistWL(nprd)"
                matTooltip="Add to WishList"
                > <i class="fa fa-heart-o" aria-hidden="true"  ></i>
            </a></li>
              <li class="mt-1"><span *ngIf="userC==true">
                <a *ngIf="nprd.cart_check == false "
                style="cursor:pointer"
                (click)="addToCart(nprd)"
                matTooltip="Add to Cart"
                > <i class="fa fa-cart-plus" ></i></a>
                </span>
                
                
                <a  *ngIf="userC==false"
                style="cursor:pointer"
                (click)="addToCart(nprd)"
                matTooltip="Add to Cart"
                > <i class="fa fa-cart-plus" ></i>
                </a></li>
            </ul>
            <div class="overlay" >
              <div class="text ">
<div class="row">
  <div class="col-md-12 ">
    <span class="newproduct_heading " (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">{{ (nprd.name.length>60)? (nprd.name | slice:0:60)+'...':(nprd.name) }}</span>
  </div>
</div>


<div class="row justify-content-start">
  <div class="col-md-12">
    <p style="color: rgb(131, 128, 128);margin-left:10px">
      <span *ngIf="nprd.rate[0].is_rent == '1'" 
      >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
    </span>
    <span *ngIf="nprd.rate[0].is_rent != '2'" class="newproduct_mrp"
      >₹ {{ nprd.rate[0].rate}} 
    </span> &nbsp;
    <span class="newproduct_mrp text-muted font-weight-500" *ngIf="nprd.rate[0].rate < nprd.mrp"
      ><del>₹ {{ nprd.mrp }} </del></span
    >
    <span *ngIf="nprd.rate[0].is_rent == '2'" 
      >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
    >
    &nbsp;&nbsp;
    <span 
      *ngIf="nprd.rate[0].rate < nprd.mrp && nprd.rate[0].discount_percent !=0"
      class="font-wieght-bold text-center newproduct_mrp text-success"
      > {{ nprd.rate[0].discount_percent | number:'1.0-0' }}%  off</span
    >
    </p>
  </div>
  <div class="col-md-12 text-center " >
    <div class="buy" *ngIf="nprd?.txn_quantity > '0'">
      <a    (click)="rates(nprd)" *ngIf="(nprd?.cart_check == false) && userC==true 
      " class="buy-now-button cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
       <a   (click)="rates(nprd)" *ngIf="userC == false" class="buy-now-button  cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
    </div>
  </div>


  
</div>
<div class="row justify-content-center">
  <div class="col-md-5 text-center ">
    <div class="num-block skin-2"  *ngIf="nprd?.cart_check == true">
      <div class="num-in" style="cursor: pointer;">
        <span class="minus dis" *ngIf="nprd.cart_inventory.qty > 1 || nprd.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
        <span class="minus dis" *ngIf="nprd.cart_inventory.qty == 1 || nprd.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd.cart_inventory.cart_inventory_id)"></span>
        <input type="number" class="in-num"   value="{{nprd.cart_inventory.qty}}" required min="1"
        (change)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)"
        (keyup)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)" >
        <span class="plus" *ngIf="nprd.cart_inventory.qty<nprd.txn_quantity"
          (click)="updateCart3plus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
        <span class="plus" *ngIf="nprd.cart_inventory.qty>nprd.txn_quantity || nprd.cart_inventory.qty==nprd.txn_quantity"  title="Reached limit" [disabled]=true></span>
      </div>
      </div>
  </div>
</div>

              </div>
            </div>
           </div>
         </div>
       </div>
     </div>
  </section>

  <div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5" *ngIf="roarclubbannerdata">
    <div class="row">
      <div class="col-md-6 mt-2 banner-image-box-card pl-3" *ngIf="roarclubbannerdata[0] != null">
        <img src="{{roarclubbannerdata[0].image_link}}" class="w-100 img-fluid img-banner"  >
      </div>
      <div class="col-md-6 mt-2 banner-image-box-card pr-3" *ngIf="roarclubbannerdata[1] != null">
          <img src="{{roarclubbannerdata[1].image_link}}" class="w-100 img-fluid img-banner" >
      </div>
    </div>
  </div>
  <!-- latest product view by Aman Verma 06-11-2020 -->
  <section class="mt-2">
    <div class="container-fluid">
    
     <div class="pagination   row mb-0">
      <div class="col-md-4 text-left">
      <li class="page-item float-left prev-item" *ngIf="offsetNew != 1">
        <a matTooltip="Previous"
          class="page-link page-previous"
          (click)="changeOffsetNew(offsetNew - 1)"
          aria-label="Previous"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
        </a>
      </li>
    </div>
    <div class="col-md-4 text-center">
      <h2 class="title" >Lat<span class="border-heading">est Prod</span>ucts</h2>
    </div>
    <div class="col-md-4 text-right ">
      <li class="page-item float-right next-item" *ngIf="offsetNew != pagesNew">
        <a  matTooltip="Next"
          class="page-link page-next"
          (click)="changeOffsetNew(offsetNew + 1)"
          aria-label="Next"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
        </a>
      </li>
    </div>
     
  </div>
      <div class="row justify-content-start mt-0">
        <div class="col-md-3" *ngFor="let nprd of newproduct">
          <div class="card newproduct_box" id="box-img1">
           <img src="{{ nprd?.gallery?.medium_thumbnail_link }}" id="img1" alt="New Product Image" class="image" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">
           <h1  class="outofstockproduct" *ngIf="nprd.txn_quantity < '1'" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)"> Out of stock</h1>
           <ul class="add-to-cart_newproduct">
             <li><a *ngIf="nprd.wishlist_check == false" 
               style="cursor:pointer"
               (click)="addToWishlist(nprd)"
               matTooltip="Add to WishList"
               > <i class="fa fa-heart-o" aria-hidden="true"  ></i></a>
             <a
             style="cursor:pointer" *ngIf="nprd.wishlist_check == true"
             (click)="deleteFromWishlist(nprd.wishlist_num)"
             matTooltip="Already exist in Wishlist"
             > <i class="fas fa-heart" aria-hidden="true"  ></i>
         </a>
       
           <!-- for withouyt login -->
            <a *ngIf="userC==false" 
               style="cursor:pointer"
               (click)="addToWishlistWL(nprd)"
               matTooltip="Add to WishList"
               > <i class="fa fa-heart-o" aria-hidden="true"  ></i>
           </a></li>
             <li class="mt-1"><span *ngIf="userC==true">
               <a *ngIf="nprd.cart_check == false "
               style="cursor:pointer"
               (click)="addToCart(nprd)"
               matTooltip="Add to Cart"
               > <i class="fa fa-cart-plus" ></i></a>
               </span>
               
               
               <a  *ngIf="userC==false"
               style="cursor:pointer"
               (click)="addToCart(nprd)"
               matTooltip="Add to Cart"
               > <i class="fa fa-cart-plus" ></i>
               </a></li>
           </ul>
           <div class="overlay" >
             <div class="text ">
<div class="row">
 <div class="col-md-12 ">
   <span class="newproduct_heading " (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">{{ (nprd.name.length>60)? (nprd.name | slice:0:60)+'...':(nprd.name) }}</span>
 </div>
</div>


<div class="row justify-content-start">
 <div class="col-md-12">
   <p style="color: rgb(131, 128, 128);margin-left:10px">
     <span *ngIf="nprd.rate[0].is_rent == '1'" 
     >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
   </span>
   <span *ngIf="nprd.rate[0].is_rent != '2'" class="newproduct_mrp"
     >₹ {{ nprd.rate[0].rate}} 
   </span> &nbsp;
   <span class="newproduct_mrp text-muted font-weight-500" *ngIf="nprd.rate[0].rate < nprd.mrp"
     ><del>₹ {{ nprd.mrp }} </del></span
   >
   <span *ngIf="nprd.rate[0].is_rent == '2'" 
     >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
   >
   &nbsp;&nbsp;
   <span 
     *ngIf="nprd.rate[0].rate < nprd.mrp && nprd.rate[0].discount_percent !=0"
     class="font-wieght-bold text-center newproduct_mrp text-success"
     > {{ nprd.rate[0].discount_percent | number:'1.0-0' }}%  off</span
   >
   </p>
 </div>
 <div class="col-md-12 text-center " >
   <div class="buy" *ngIf="nprd?.txn_quantity > '0'">
     <a    (click)="rates(nprd)" *ngIf="(nprd?.cart_check == false) && userC==true 
     " class="buy-now-button cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
      <a   (click)="rates(nprd)" *ngIf="userC == false" class="buy-now-button  cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
   </div>
 </div>


 
</div>
<div class="row justify-content-center">
 <div class="col-md-5 text-center ">
   <div class="num-block skin-2"  *ngIf="nprd?.cart_check == true">
     <div class="num-in" style="cursor: pointer;">
       <span class="minus dis" *ngIf="nprd.cart_inventory.qty > 1 || nprd.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
       <span class="minus dis" *ngIf="nprd.cart_inventory.qty == 1 || nprd.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd.cart_inventory.cart_inventory_id)"></span>
       <input type="number" class="in-num"   value="{{nprd.cart_inventory.qty}}" required min="1"
       (change)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)"
       (keyup)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)" >
       <span class="plus" *ngIf="nprd.cart_inventory.qty<nprd.txn_quantity"
         (click)="updateCart3plus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
       <span class="plus" *ngIf="nprd.cart_inventory.qty>nprd.txn_quantity || nprd.cart_inventory.qty==nprd.txn_quantity"  title="Reached limit" [disabled]=true></span>
     </div>
     </div>
 </div>
</div>

             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
 </section>
 
 
 <div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5" *ngIf="roarclubbannerdata">
  <div class="row">
    <div class="col-md-6 mt-3 banner-image-box-card pl-3" *ngIf="roarclubbannerdata[2] != null">
        <img src="{{roarclubbannerdata[2].image_link}}" class="w-100 img-fluid img-banner"  >
    </div>
    <div class="col-md-6 mt-3 banner-image-box-card pr-3" *ngIf="roarclubbannerdata[3] != null">
        <img src="{{roarclubbannerdata[3].image_link}}" class="w-100 img-fluid img-banner" >
    </div>
    <div class="col-md-6 mt-3 banner-image-box-card pl-3" *ngIf="roarclubbannerdata[4] != null">
        <img src="{{roarclubbannerdata[4].image_link}}" class="w-100 img-fluid img-banner"  >
    </div>
    <div class="col-md-6 mt-3 pr-3 banner-image-box-card" *ngIf="roarclubbannerdata[5] != null">
        <img src="{{roarclubbannerdata[5].image_link}}" class="w-100 img-fluid img-banner"  >
    </div>
  </div>
</div>
 <!-- Top discount product by Aman Verma 06-11-2020 -->
 <section class="mt-2">
  <div class="container-fluid">
  
 
    <div class="pagination   row  mb-0">
      <div class="col-md-4 text-left">
      <li class="page-item float-left prev-item" *ngIf="offsetDisc != 1">
        <a matTooltip="Previous"
          class="page-link page-previous"
          (click)="changeOffsetDisc(offsetDisc - 1)"
          aria-label="Previous"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
        </a>
      </li>
    </div>
    <div class="col-md-4 text-center">
      <h2 class="title" >Top Disc<span class="border-heading">ount Prod</span>ucts</h2>
    </div>
    <div class="col-md-4 text-right ">
      <li class="page-item float-right next-item" *ngIf="offsetDisc != pagesDisc">
        <a  matTooltip="Next"
          class="page-link page-next"
          (click)="changeOffsetDisc(offsetDisc + 1)"
          aria-label="Next"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
        </a>
      </li>
    </div>
     
  </div>
    <div class="row justify-content-start  mt-0">
      <div class="col-md-3" *ngFor="let nprd of discountS">
        <div class="card newproduct_box" id="box-img1">
         <img src="{{ nprd?.gallery?.medium_thumbnail_link }}" id="img1" alt="New Product Image" class="image" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">
         <h1  class="outofstockproduct" *ngIf="nprd.txn_quantity < '1'" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)"> Out of stock</h1>
         <ul class="add-to-cart_newproduct">
           <li><a *ngIf="nprd.wishlist_check == false" 
             style="cursor:pointer"
             (click)="addToWishlist(nprd)"
             matTooltip="Add to WishList"
             > <i class="fa fa-heart-o" aria-hidden="true"  ></i></a>
           <a
           style="cursor:pointer" *ngIf="nprd.wishlist_check == true"
           (click)="deleteFromWishlist(nprd.wishlist_num)"
           matTooltip="Already exist in Wishlist"
           > <i class="fas fa-heart" aria-hidden="true"  ></i>
       </a>
     
         <!-- for withouyt login -->
          <a *ngIf="userC==false" 
             style="cursor:pointer"
             (click)="addToWishlistWL(nprd)"
             matTooltip="Add to WishList"
             > <i class="fa fa-heart-o" aria-hidden="true"  ></i>
         </a></li>
           <li class="mt-1"><span *ngIf="userC==true">
             <a *ngIf="nprd.cart_check == false "
             style="cursor:pointer"
             (click)="addToCart(nprd)"
             matTooltip="Add to Cart"
             > <i class="fa fa-cart-plus" ></i></a>
             </span>
             
             
             <a  *ngIf="userC==false"
             style="cursor:pointer"
             (click)="addToCart(nprd)"
             matTooltip="Add to Cart"
             > <i class="fa fa-cart-plus" ></i>
             </a></li>
         </ul>
         <div class="overlay" >
           <div class="text ">
<div class="row">
<div class="col-md-12 ">
 <span class="newproduct_heading " (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">{{ (nprd.name.length>60)? (nprd.name | slice:0:60)+'...':(nprd.name) }}</span>
</div>
</div>


<div class="row justify-content-start">
<div class="col-md-12 ">
 <p style="color: rgb(131, 128, 128);margin-left:10px">
   <span *ngIf="nprd.rate[0].is_rent == '1'" 
   >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
 </span>
 <span *ngIf="nprd.rate[0].is_rent != '2'" class="newproduct_mrp "
   >₹ {{ nprd.rate[0].rate}} 
 </span> &nbsp;
 <span class="newproduct_mrp text-muted font-weight-500" *ngIf="nprd.rate[0].rate < nprd.mrp"
   ><del>₹ {{ nprd.mrp }} </del></span
 >
 <span *ngIf="nprd.rate[0].is_rent == '2'" 
   >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
 >
 &nbsp;&nbsp;
 <span 
   *ngIf="nprd.rate[0].rate < nprd.mrp && nprd.rate[0].discount_percent !=0"
   class="font-wieght-bold text-center newproduct_mrp text-success"
   > {{ nprd.rate[0].discount_percent | number:'1.0-0' }}%  off</span
 >
 </p>
</div>
<div class="col-md-12 text-center " >
 <div class="buy" *ngIf="nprd?.txn_quantity > '0'">
   <a    (click)="rates(nprd)" *ngIf="(nprd?.cart_check == false) && userC==true 
   " class="buy-now-button cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
    <a   (click)="rates(nprd)" *ngIf="userC == false" class="buy-now-button  cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
 </div>
</div>



</div>
<div class="row justify-content-center">
<div class="col-md-5 text-center ">
 <div class="num-block skin-2"  *ngIf="nprd?.cart_check == true">
   <div class="num-in" style="cursor: pointer;">
     <span class="minus dis" *ngIf="nprd.cart_inventory.qty > 1 || nprd.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
     <span class="minus dis" *ngIf="nprd.cart_inventory.qty == 1 || nprd.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd.cart_inventory.cart_inventory_id)"></span>
     <input type="number" class="in-num"   value="{{nprd.cart_inventory.qty}}" required min="1"
     (change)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)"
     (keyup)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)" >
     <span class="plus" *ngIf="nprd.cart_inventory.qty<nprd.txn_quantity"
       (click)="updateCart3plus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
     <span class="plus" *ngIf="nprd.cart_inventory.qty>nprd.txn_quantity || nprd.cart_inventory.qty==nprd.txn_quantity"  title="Reached limit" [disabled]=true></span>
   </div>
   </div>
</div>
</div>

           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
 
    
 
        </div>
  
  

        <section class="d-block d-lg-none d-md-none d-xl-none mt-2">
        
          <div class="container-fluid">
            <div id="demo" class="carousel slide main-slider " data-ride="carousel" *ngIf="banner">
              <div class="carousel-inner" style="  height: 260px; border-radius: 9.5px!important;  overflow: hidden;" >
                <div *ngIf="banner_group_a==0 || bannerdata.value.banner_image_a_group==''" class="carousel-item active scroll-item">
                  <img src="{{ bannerdata.value.banner_image_a }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
                </div>
                <div *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==0" class="carousel-item active cursor-pointer scroll-item" (click)="navigation(bannerdata.value.banner_image_a_group,bannerdata.value.banner_image_a_group_type,bannerdata.value.banner_image_a_group_id)">
                  <img  src="{{ bannerdata.value.banner_image_a }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
                </div>
              
                <a *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==1" class="carousel-item active cursor-pointer scroll-item" target="_blank"  href="{{bannerdata.value.banner_image_a_group}}"
                >
                <img src="{{bannerdata.value.banner_image_a}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </a>
        
                <div *ngIf="banner_group_b==0 || bannerdata.value.banner_image_b_group==''" class="carousel-item scroll-item">
                  <img src="{{ bannerdata.value.banner_image_b }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
                </div>
                <div *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!=''  && banner_group_linkb==0"  class="carousel-item scroll-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_b_group,bannerdata.value.banner_image_b_group_type,bannerdata.value.banner_image_b_group_id)">
                  <img  src="{{ bannerdata.value.banner_image_b }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
                </div>
              
                <a *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!='' && banner_group_linkb==1" class="carousel-item active cursor-pointer scroll-item" target="_blank"  href="{{bannerdata.value.banner_image_b_group}}"
                >
                <img src="{{bannerdata.value.banner_image_b}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </a>
        
                <div class="carousel-item scroll-item" *ngIf="banner_group_c==0 || bannerdata.value.banner_image_c_group==''" >
                <img src="{{ bannerdata.value.banner_image_c }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </div>
                <div  *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==0" class="scroll-item carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_c_group,bannerdata.value.banner_image_c_group_type,bannerdata.value.banner_image_c_group_id)">
                <img src="{{ bannerdata.value.banner_image_c }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </div>
        
            
        
          <a *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==1" class="scroll-item carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_c_group}}"
                >
                <img src="{{bannerdata.value.banner_image_c}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </a>   
        
              <!-- start for 4 and 5 -->
        <!-- start for 4 -->
        <div class="carousel-item scroll-item" *ngIf="banner_group_d==0 || bannerdata.value.banner_image_d_group==''" c\>
                <img src="{{ bannerdata.value.banner_image_d }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </div>
                <div  *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==0" class="carousel-item cursor-pointer scroll-item" (click)="navigation(bannerdata.value.banner_image_d_group,bannerdata.value.banner_image_d_group_type,bannerdata.value.banner_image_d_group_id)">
                <img src="{{ bannerdata.value.banner_image_d }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </div>
        
            
        
          <a *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==1" class="carousel-item active cursor-pointer scroll-item" target="_blank"  href="{{bannerdata.value.banner_image_d_group}}"
                >
                <img src="{{bannerdata.value.banner_image_d}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </a>  
        <!-- end for 4 -->
        <!-- start for 5 -->
        <div class="carousel-item scroll-item" *ngIf="banner_group_e==0 || bannerdata.value.banner_image_e_group==''" >
                <img src="{{ bannerdata.value.banner_image_e }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </div>
                <div  *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==0" class="carousel-item cursor-pointer scroll-item" (click)="navigation(bannerdata.value.banner_image_e_group,bannerdata.value.banner_image_e_group_type,bannerdata.value.banner_image_e_group_id)">
                <img src="{{ bannerdata.value.banner_image_e }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </div>
        
            
        
          <a *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==1" class="carousel-item active cursor-pointer scroll-item" target="_blank"  href="{{bannerdata.value.banner_image_e_group}}"
                >
                <img src="{{bannerdata.value.banner_image_e}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
              </a>  
        <!-- end for 5 -->
              <!-- end for 4 and 5 -->
              
              </div>
            
              <a class="carousel-control-prev ml-1" href="#demo" style="background-color: black;top: 98px;height: 30px;width: 35px;border-radius: 36px;" data-slide="prev">
                <span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
              </a>
              <a class="carousel-control-next mr-1" href="#demo" style="background-color: black;top: 98px;height: 30px;width: 35px;border-radius: 36px;" data-slide="next">
                <span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
              </a>
            </div>
          </div>
          <div class="container-fluid mt-0">
            <div class="row mb-2  justify-content-start">
              <div class=" col-6 ">
            <h6 class="project-heading mobile-heading " style="position: relative; left: 1px;">Shop by brands</h6>
              </div>
              <div class="col-6 text-right pr-1">
               <h6 class="m-0 project-discription mobile-heading" *ngIf="brands?.length > 4" routerLink="/out-brand">view all</h6>
              </div>
            </div>
            <div class="row  mt-1  justify-content-center"  >
              <div class="col-xs-3 " *ngFor="let brand of brands | slice:0:4;">
                 <div class="card" style="background: transparent; box-shadow: none; outline: none;">
                  <div class=" circular-image-brand-mobile " (click)="navigateBrand(brand.name,brand.brand_id)" >
                    <img src="{{brand?.thumbnail_sml_location}}" onerror="this.src='assets/no-img.png';" class="brand-image-mobile" >
                  </div>
                 </div>
              </div>
            </div>
          </div>
        
          <div class="container-fluid mb-2  Trending-mobile-product-box pb-1" *ngIf="topSelling">
            <div class="row justify-content-between  mobile-heading-row">
              <h6 class="mobile-heading pl-0 project-heading">Trending Products</h6>   <ul class="pagination mt-1 justify-content-end mr-2">
              <li class="page-item page-previous bg-dark" *ngIf="offsetSelling != 1">
                <a matTooltip="Previous"
                  class="page-link "
                  (click)="changeOffsetSell(offsetSelling - 1)"
                  aria-label="Previous"
                >
                  <span aria-hidden="true" class="cursor-pointer project-discription font-weight-400" style="color: #B89D4E!important;">« previous</span>
                </a>
              </li>
              
              <li class="page-item bg-dark" *ngIf="offsetSelling != pagesSelling">
                <a matTooltip="More"
                  class="page-link"
                  (click)="changeOffsetSell(offsetSelling + 1)"
                  aria-label="Next"
                >
                  <span aria-hidden="true" class="cursor-pointer  font-weight-400 project-discription" style="color: #B89D4E!important;">next »</span>
                </a>
              </li>
            </ul>
            </div>





           






              <div class="row justify-content-center">
                <div class="col-12">
<div class="row">
  <div class="col-6  mobile-product-box-height"  (click)="view_product(nprd2.meta_title, nprd2.product_no,nprd2.slug,nprd2.quick_product_check)" *ngFor="let nprd2 of topSelling">
  <div class="">
    <div class="row">
      <div class="col-md-12 mobile-image-box-height">
      <img   src="{{ nprd2.gallery?.medium_thumbnail_link }}" class="mobile-view-image">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mobile-product-heading">
      <h6 class="m-0">
        <a class="text-titlecase project-heading"  title="{{nprd2.name}}"> {{ (nprd2.name.length>34)? (nprd2.name | slice:0:34)+'...':(nprd2.name)  | titlecase}}</a>
      </h6>
      
      </div>
    
    </div>
<div class="row justify-content-center">
<div  *ngIf="rating_option==true" class="justify-content-center text-center pb-1 star-mobile">
  <span
    class="fa fa-star checked"
    *ngFor="let i of createRange2(nprd2.ratings)"
  ></span>
  <span *ngIf="nprd2.ratings>'0'"><span
    class="fa fa-star unchecked"
    *ngFor="let i of createRange2(5 - nprd2.ratings)"
  ></span>
</span>
</div>
</div>
    <div class="row text-muted mobile-seller-price">
    
    <div class="col-md-12">



      <span *ngIf="nprd2.rate[0].is_rent == '1'" class="mobile-product-price1"
      >{{ nprd2.rate[0].name }} @ {{ nprd2.rate[0].rate }}
    </span>
    <span *ngIf="nprd2.rate[0].is_rent != '2'" class="mobile-product-price1"
      >₹ {{ nprd2.rate[0].rate }}
    </span>
    &nbsp;
    <span class="mobile-product-price" *ngIf="nprd2.rate[0].rate < nprd2.mrp"
      ><del>₹ {{ nprd2.mrp }} </del></span
    >
    <span *ngIf="nprd2.rate[0].is_rent == '2'" class="mobile-product-price"
      >{{ nprd2.rate[1].name }} @ {{ nprd2.rate[1].rate }} </span
    ><br />
    <span 
      *ngIf="nprd2.rate[0].rate < nprd2.mrp"
      class="font-wieght-bold text-center mobile-product-price1 text-success"
      >Discount : {{ nprd2.rate[0].discount_percent | number:'1.0-0' }} %</span
    >
    </div>
  </div>
</div>
  </div>
</div>
                </div>
                
              </div>
            </div>

            <div class="container-fluid d-block d-md-none d-lg-none d-xl-none bg-white" *ngIf="roarclubbannerdata">
              <div class="row">
                <div class="col-6 mt-1 banner-image-box-card-mobile " *ngIf="roarclubbannerdata[0] != null">
                  <img src="{{roarclubbannerdata[0].image_link}}" class=" img-fluid img-banner"  onerror="this.src='assets/no-img.png';">
                </div>
                <div class="col-6 mt-1 banner-image-box-card-mobile " *ngIf="roarclubbannerdata[1] != null">
                    <img src="{{roarclubbannerdata[1].image_link}}" class=" img-fluid img-banner"  onerror="this.src='assets/no-img.png';">
                </div>
              </div>
            </div>
            <div class="container-fluid mt-1 Trending-mobile-product-box pb-1 mb-3" *ngIf="newproduct">
              <div class="row justify-content-between mobile-heading-row">
                <h6 class="mobile-heading pl-0 project-heading">New Arrivals</h6>   <ul class="pagination justify-content-end mr-2 mt-1">
                <li class="page-item page-previous bg-dark" *ngIf="offsetNew != 1">
                  <a matTooltip="Previous"
                    class="page-link "
                    (click)="changeOffsetNew(offsetNew - 1)"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true" class="cursor-pointer  font-weight-400 text-success" >« previous</span>
                  </a>
                </li>
                
                <li class="page-item bg-dark" *ngIf="offsetNew != pagesNew">
                  <a matTooltip="More"
                    class="page-link"
                    (click)="changeOffsetNew(offsetNew + 1)"
                    aria-label="Next"
                  >
                    <span aria-hidden="true" class="cursor-pointer text-success font-weight-400">next »</span>
                  </a>
                </li>
              </ul>
              </div>
                <div class="row justify-content-center">
                 <div class="col-12">
                   <div class="row justify-content-start">
                    <div class="col-6   mobile-product-box-height"  (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)" *ngFor="let nprd of newproduct">
                   <div class="">
                      <div class="row">
                        <div class="col-md-12 mobile-image-box-height">
                      
                        <img  src="{{ nprd.gallery?.medium_thumbnail_link }}" onerror="this.src='assets/no-img.png';" class="mobile-view-image">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 mobile-product-heading">
                        <h6 class="m-0">
                          <a class="text-titlecase project-heading"  title="{{nprd.name}}"> {{ (nprd.name.length>34)? (nprd.name | slice:0:34)+'...':(nprd.name)  | titlecase}}</a>
                        </h6>
                      
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div class="justify-content-center text-center pb-1 star-mobile">
                          <span
                            class="fa fa-star checked"
                            *ngFor="let i of createRange2(nprd.ratings)"
                          ></span>
                          <span *ngIf="nprd.ratings>'0'"><span
                            class="fa fa-star unchecked
                            "
                            *ngFor="let i of createRange2(5 - nprd.ratings)"
                          ></span>
                        </span>
                        </div>
                      </div>
                
                      <div class="row text-muted mobile-seller-price">
                      <div class="col-md-12">
                        <span *ngIf="nprd.rate[0].is_rent == '1'" class="mobile-product-price1"
                        >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
                      </span>
                      <span *ngIf="nprd.rate[0].is_rent != '2'" class="mobile-product-price1"
                        > ₹ {{ nprd.rate[0].rate}}
                      </span>
                      
                      <span class="mobile-product-price" *ngIf="nprd.rate[0].rate < nprd.mrp"
                        ><del>₹ {{ nprd.mrp }} </del></span
                      >
                      <span *ngIf="nprd.rate[0].is_rent == '2'" class="mobile-product-price"
                        >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
                      ><br />
                      <span
                        *ngIf="nprd.rate[0].rate < nprd.mrp"
                        class="font-wieght-bold text-center mobile-product-price1 text-success"
                        >Discount : {{ nprd.rate[0].discount_percent | number:'1.0-0' }} %</span
                      >
                      </div>
                    </div>
                  </div>
                    </div>
                   </div>
                 </div>
                </div>
              </div>
              <div class="container-fluid d-block d-md-none d-lg-none bg-white" *ngIf="roarclubbannerdata">
                <div class="row">
                  <div class="col-6 mt-1 banner-image-box-card-mobile" *ngIf="roarclubbannerdata[2] != null">
                      <img src="{{roarclubbannerdata[2].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
                  </div>
                  <div class="col-6 mt-1 banner-image-box-card-mobile " *ngIf="roarclubbannerdata[3] != null">
                      <img src="{{roarclubbannerdata[3].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
                  </div>
                  <div class="col-6 mt-1 banner-image-box-card-mobile " *ngIf="roarclubbannerdata[4] != null">
                      <img src="{{roarclubbannerdata[4].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
                  </div>
                  <div class="col-6 mt-1  banner-image-box-card-mobile" *ngIf="roarclubbannerdata[5] != null">
                      <img src="{{roarclubbannerdata[5].image_link}}" class="w-100 img-fluid img-banner"  onerror="this.src='assets/img/favicon1.png';">
                  </div>
                </div>
              </div>
          <div class="container-fluid mt-1 Trending-mobile-product-box pb-1 mb-3" *ngIf="sellingDiscount && notbuy">
        <div class="row justify-content-between  mobile-heading-row">
          <h6 class="mobile-heading project-heading">Top Discounted Products</h6>    <ul class="pagination mt-1 justify-content-end pr-3">
            <li class="page-item page-previous bg-dark" *ngIf="offsetDisc != 1">
              <a matTooltip="Previous"
                class="page-link "
                (click)="changeOffsetDisc(offsetDisc - 1)"
                aria-label="Previous"
              >
                <span aria-hidden="true" class="cursor-pointer text-success font-weight-400">« previous</span>
                <!-- <span class="sr-only">Previous</span> -->
              </a>
            </li>
          
            <li class="page-item bg-dark" *ngIf="offsetDisc != pagesDisc">
              <a matTooltip="More"
                class="page-link"
                (click)="changeOffsetDisc(offsetDisc + 1)"
                aria-label="Next"
              >
                <span aria-hidden="true" class="cursor-pointer text-success font-weight-400">next »</span>
              </a>
            </li>
          </ul>
          
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row">
                <div class="col-6   mobile-product-box-height"  (click)="view_product(nprd3.meta_title, nprd3.product_no,nprd3.slug,nprd3.quick_product_check)" *ngFor="let nprd3 of discountS">
                <div class="">
                  <div class="row">
                    <div class="col-md-12 mobile-image-box-height">
                      <img  src="{{ nprd3.gallery?.medium_thumbnail_link }}" onerror="this.src='assets/no-img.png';" class="mobile-view-image">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mobile-product-heading ">
                      <h6 class="m-0">
                        <a class="text-titlecase project-heading"  title="{{nprd3.name}}"> {{ (nprd3.name.length>34)? (nprd3.name | slice:0:34)+'...':(nprd3.name)  | titlecase}}</a>
                      </h6>
                    
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="justify-content-center text-center pb-1 star-mobile">
                      <span
                        class="fa fa-star checked"
                        *ngFor="let i of createRange2(nprd3.ratings)"
                      ></span>
                      <span *ngIf="nprd3.ratings>'0'"><span
                        class="fa fa-star unchecked"
                        *ngFor="let i of createRange2(5 - nprd3.ratings)"
                      ></span>
                    </span>
                    </div>
                  </div>
                  <div class="row text-muted mobile-seller-price">
                    <div class="col-md-12">
                      <span *ngIf="nprd3.rate[0].is_rent == '1'" class="mobile-product-price1"
                      >{{ nprd3.rate[0].name }} @ {{ nprd3.rate[0].rate }}
                    </span>
                    <span *ngIf="nprd3.rate[0].is_rent != '2'" class="mobile-product-price1"
                      >₹ {{ nprd3.rate[0].rate }}
                    </span>
                    
                    <span class="mobile-product-price" *ngIf="nprd3.rate[0].rate < nprd3.mrp"
                      ><del>₹ {{ nprd3.mrp  }} </del></span
                    >
                    <span *ngIf="nprd3.rate[0].is_rent == '2'" class="mobile-product-price"
                      >{{ nprd3.rate[1].name }} @ {{ nprd3.rate[1].rate }} </span
                    ><br />
                    <span
                      *ngIf="nprd3.rate[0].rate < nprd3.mrp"
                      class="font-wieght-bold text-center mobile-product-price1 text-success"
                      >Discount : {{ nprd3.rate[0].discount_percent | number:'1.0-0' }} %</span
                    >
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="container-fluid mt-1 Trending-mobile-product-box pb-1 mb-3"*ngIf="rentShow && discountR">
          <div class="row justify-content-between mobile-heading-row">
            <h6 class="mobile-heading project-heading"> Top Discounted Rent Products</h6>      <ul class="pagination justify-content-end">
              <li class="page-item page-previous bg-dark" *ngIf="offsetRent != 1">
                <a matTooltip="Previous"
                  class="page-link "
                  (click)="changeOffsetRent(offsetRent - 1)"
                  aria-label="Previous"
                >
                  <span aria-hidden="true" class="cursor-pointer font-weight-500 text-success">« previous</span>
                </a>
              </li>
            
              <li class="page-item bg-dark" *ngIf="offsetRent != pagesRent">
                <a matTooltip="More"
                  class="page-link"
                  (click)="changeOffsetRent(offsetRent + 1)"
                  aria-label="Next"
                >
                  <span aria-hidden="true" class="cursor-pointer font-weight-500 text-success">next »</span>
                </a>
              </li>
            </ul>
          
          </div>
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="row">
                  <div class="col-6   mobile-product-box-height"  (click)="view_product(nprd4.meta_title, nprd4.product_no,nprd4.slug,nprd4.quick_product_check)" *ngFor="let nprd4 of discountR">
                    <div class="row">
                      <div class="col-md-12 mobile-image-box-height">
                      <img  src="{{ nprd4.gallery?.medium_thumbnail_link }}" onerror="this.src='assets/no-img.png';" class="mobile-view-image">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mobile-product-heading">
                      <h6 >
                        <a class="text-titlecase project-heading"  title="{{nprd3.name}}"> {{ (nprd4.name.length>34)? (nprd4.name | slice:0:34)+'...':(nprd4.name)  | titlecase}}</a>
                      </h6>
                    
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div  *ngIf="rating_option==true" class="justify-content-center text-center pb-1 star-mobile">
                        <span
                          class="fa fa-star checked"
                          *ngFor="let i of createRange2(nprd4.ratings)"
                        ></span>
                        <span *ngIf="nprd4.ratings>'0'"><span
                          class="fa fa-star unchecked"
                          *ngFor="let i of createRange2(5 - nprd4.ratings)"
                        ></span>
                      </span>
                      </div>
                    </div>
                    <div class="row text-muted mobile-seller-price">
                    <div class="col-md-12">
                      <span *ngIf="nprd4.rate[0].is_rent == '1'" class="mobile-product-price1"
                      >{{ nprd4.rate[0].name }} @ {{ nprd4.rate[0].rate }}
                    </span> &nbsp;
                    <span *ngIf="nprd4.rate[0].is_rent != '2'" class="mobile-product-price1"
                      >₹ {{ nprd4.rate[0].rate }}
                    </span>
                    <br>
                    <span class="mobile-product-price" *ngIf="nprd4.rate[0].rate < nprd4.mrp"
                      ><del>₹ {{ nprd4.mrp  }} </del></span
                    >
                    <span *ngIf="nprd4.rate[0].is_rent == '2'" class="mobile-product-price"
                      >{{ nprd4.rate[1].name }} @ {{ nprd4.rate[1].rate }} </span
                    ><br />
                    <span
                      *ngIf="nprd4.rate[0].rate < nprd4.mrp"
                      class="font-wieght-bold text-center mobile-product-price1 text-success"
                      >Discount : {{ nprd4.rate[0].discount_percent | number:'1.0-0' }} %</span
                    >
                    </div>
                  </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
        </section>
    
           
  <!-- end -->