/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* start */
@media only screen and (max-width: 600px) {
  body {
    background-color: #202328;
  }
}

/* end */



html {
  background-color: #202328;
}

body {
  background-color: #202328;
  color: #272727;
  /* font-family: 'Quicksand', serif; */
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  
  max-width: 100%;
  vertical-align: middle;
}




.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* border-radius: 25px; */
}

.cards_item {
  display: flex;
  padding: 1rem;
  /* border-radius: 25px; */
  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {

  background-color:#fff;
  /* background-color: #000000; */
  border-radius: 9px;
  box-shadow: 0 0 5px rgb(102, 101, 101);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* height: 450px!important; */
  height: auto;
  margin: auto;
  /* padding: 10px; */
}


.newproduct_mrp{
  font-size: 16px;
  font-family: 'Cinzel', serif;
  color: black;
  font-weight: bold;

}
.name1{
  color: black;
  margin-left:10px; margin-right: 10px;
  font-weight: bold;
   text-transform: capitaliz;
   font-family: 'Cinzel', serif;
}

.newproduct_heading{
  color: black;
  font-weight: bold;
  right: 3px;
  left: 7px;
  position: relative;
   text-transform: capitaliz;
   font-family: 'Cinzel', serif;
   font-size: 17px;
}
		
.circular-image-brand {
  border-radius: 9.5px;
  overflow: hidden;
  background: white;
}
.circular-image-brand img{
  border-radius: 9.5px;
  overflow: hidden;
  cursor: pointer;
}
.circular-image-brand img:hover{
  border-radius: 9.5px;
  overflow: hidden;
  cursor: pointer;
  opacity: .9;
  

}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}


#img1{
  max-height: 320px; min-height: unset; height: -webkit-fill-available; -o-object-fit: contain;
  object-fit: contain;
  margin: none; width: 100%;
  text-align: center;
  vertical-align: middle;
  position: inherit;

}
#box-img1{
  height: 320px; width: 100%; background: white; margin: none;    position: relative;
}

.pshow{
  display: none;
}

.bimg:hover +.pshow{
display: block;
}

/* #car-img img1{
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}  */

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/* card  */
		
/* start */

.row{
 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
    }
  
 

  .col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding:  74px;
  }
  
  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
  }
  
  
  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  
  }
  
  
  .btn{
  
    display: inline-block;
    background: #ff523b;
    color: #fff;
    border-color:#ff523b; 
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
  
  }
  
  
  .btn:hover{
    background: #563434;
    border-color:#563434; 
  } 
  
  
  
  .header{
    background: radial-gradient(#fff ,#ffd6d6)
  }
  
  .header .row{
    margin-top: 70px;
  }
  
  /*////////////////////featured catagories////////////////*/
  
  .catagories{
  
  margin: 70px 0;
  
  }
  .catagories .row .col-3 img:hover{
  transform: translateY(-15px);
  }
  
  .col-3{
  flex: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  
  }
  
  .col-3 img{
   width: 310;
   transition:  transform 0.5s;
  }
  
  .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4 img{
   width: 100%;
   height: 200px;
  }
  h2{
    font-family: 'Cinzel', serif!important;
    color: whitesmoke!important;
  }
  
  .title{
    text-align: center;
    line-height: 1;
    /* margin: 0 auto 20px; */
    /* position: relative; */
    /* line-height: 40px; */
    font-family: 'Cinzel', serif;
    /* color: #555; */
  }
  
  /* .title:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  } */
  
  .h4{
    color: #555;
    font-weight: normal;
  
  }
  .col-4 p{
    font-size: 14px;
  }
  
  .rating .fa{
   color: #ff523b;
  }
  
  
  
  .col-4:hover{
    transform: translateY(-5px);
  }
  
  
  .offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  
  .col-2 .offer-img{
  padding: 30px;
  }
  
  .small{
    color: #555;
  }
  
  
  

/* end */

/* start */
:root{ --main-color: #f368e0; }

.feature-products{
    background-color:#F3F3F3;
    font-family: 'Cinzel', serif;
    position:relative;
}

.feature-products::before{
    position:absolute;
    left: 50%;
    top:0;
    height:65px;
    content: "";
    display: block;
    width:3px;
    background-color: #000;
    z-index:9999;
}

.product-content .title{
    margin-top:40px;
    text-align:center;
    font-family: 'Cinzel', serif;
    font-size:12px;
    text-transform:uppercase;
}


.feature-title{
    font-weight:600;
    color:#000;
}

.feature-title h2{
    margin-top:120px;
    margin-bottom:50px;
    color: #000;
    font-family: 'Cinzel', serif;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-title a {
    padding: 0 20px;
    font-size:16px;
    color:#bbb;
}

.feature-active{
    color:#000 !important;
    font-weight:700;
}

.price, .rating{
    display:inline-block;
    margin:0 auto;
    width:100%;
    text-align:center;
    margin-bottom:40px;
}


.product-grid{
    border:1px solid transparent;
    font-family: 'Cinzel', serif;
    padding:10px 10px;
    transition: all 0.5s;
    margin-bottom:80px;
    margin-top:40px;
}

.product-grid .product-image{
    position: relative;
    overflow: hidden;
  
    
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
  border-radius: 5px;
   
}
.product-grid .add-to-cart{
    color: #fff;
    background: #222;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    padding: 0 5px;
    display: block;
    position: absolute;
    bottom: -50px;
    right: 0;
    transition: all ease-in-out 0.35s;
    width:20%;
    opacity: 0;

}
.product-grid:hover .add-to-cart{ opacity:1; }
.product-grid .add-to-cart:after{
    content: "\f101";
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s;
    
}
.product-grid .add-to-cart:hover:after{
    padding-left: 10px;
    opacity: 1;
}
.product-grid .product-content{ position: relative; }
.product-grid .product-stock{
    color: #999;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    border-bottom: 1px solid #c1c1c1;
    display: block;
    margin: 0 0 15px;
}
.product-grid .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: -15px;
    right: 0;
    transition: all ease-in-out 0.35s;
}
.product-grid:hover .icon{
    opacity: 1;
    top: 8px;
}
.product-grid .icon li{ display: inline-block; }
.product-grid .icon li a{
    color: #222;
    font-size: 16px;
    margin: 0 4px;
}
.product-grid .icon li a:hover{ color: var(--main-color); }
.product-grid .title{
  font-family: 'Cinzel', serif;
    font-size:15px;
    text-transform:uppercase;
    font-weight:700;
    line-height:2px;
}
.product-grid .title a{
    color: #222;
    transition: all 0.5s ease-out 0s;
}
.product-grid .title a:hover{ color: var(--main-color); }
.product-grid .category{
    font-size: 18px;
    margin: 0 0 3px;
    display: block;
}
.product-grid .category a{
    color: #222;
    transition: all 0.3s ease 0s;
}
.product-grid .category a:hover{ color: var(--main-color); }
.product-grid .price{
  font-family: 'Cinzel', serif;
    font-size:14px;
    text-transform:uppercase;
    font-weight:700;
    line-height:0px;
    display: inline-block;
    color:#000;
}
.product-grid .rating{
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.product-grid .rating li{
    color: #FFB14B;
    font-size: 13px;
    display: inline-block;
}


.action-buttons{
    display:inline-block;
    margin-top:50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.action-buttons .btn-outline{
    padding: 6px 20px;
    border-radius:5px;
    border: 2px solid #ccc;
    margin: 0 4px;
}


.action-buttons .btn-outline-icon{
    padding: 6px 10px;
    border-radius:5px;
    border: 2px solid #ccc;
    margin: 0 4px;
}

.action-buttons a{
    color: #000;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:1px;
    cursor:pointer;
  transition: .4s;
}

.action-buttons a:hover{
    color: #fff !important;
    background:#000;
   
}

.product-grid .rating li.disable{ color: #c1c1c1; }
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}
/* end */
.checked {
  color: red; }
  .star-mobile{
      font-size: 10px;
  }
 .unchecked{
    color: white;
 }

.carousel-item img{
  height: 72vh;
  border-radius: 9px;
  width: 100%;
  max-width: 100%;
}

.fa fa-star{
  color: red;
}
.page-item{
  color: white;
  background: white;
}
.page-previous{
  color: white;
  background: white;
}
/* .fa-angle-right{
  color: white;
  background: white;
}
.fa-angle-left{
  color: white;
  background: white;
} */
.page-link{
  cursor: pointer;
}
.more-brands{
 color: lightgray;
 cursor: pointer;
 padding-right: 20px;
}
.more-brands:hover{
  color: #d4474d;
  transition: 2s;
  /* transition-delay: 2s; */
   padding-right: 0;
  cursor: pointer;
}
.skin-2 .num-in {
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	height: 38px;
	width: 110px;
  float: left;
}

.skin-2 .num-in	span {
  width: 40%;
  display: block;
  height: 40px;
  float: left;
  position: relative;
}

.skin-2 .num-in span:before, .skin-2 .num-in span:after {
  content: '';
  position: absolute;
  background-color: #667780;
  height: 2px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
  transform: rotate(90deg);
}

.skin-2 .num-in input {
		float: left;
		width: 20%;
		height: 38px;
		border: none;
		text-align: center;
}

/* / skin 2 */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus{
  outline: none;
  border: none;
}
.show-status{
  text-align: center;
  width: 97%;
  display: none;
  background: #f5f5f5ba;
  /* padding-top: 0px; */
  padding: 5px;
  justify-self: center;
  border-radius: 5px;
  position: absolute;
  color: red;
  font-size: 16px;
  font-weight: 600;
  top: 30px;
  left: 5px;
  right: 5px;
}
#img1:hover .show-status{
  display: block;
}
.outofstockproduct{
  top: 11px;
    font-size: 18px;
    left: 8px;
    position: absolute;
    font-weight: 500;
    color: red;
    text-shadow: -0.5px 0.5px orange;
    /* font-weight: 400; */
    text-align: center;
}
.buy-now-button{
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  color: black!important;
  padding: 7px 23px 7px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 9px;
}
.buy-now-button:hover{
  transition: 1s;
  box-shadow: 2px 2px grey;
}


.newproduct_box {
  background-color: white;
  position: relative;
  width: 100%;
  height: 360px;
}

.image {
  display: block;
  width: 100%;
  cursor: pointer;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 4px lightgrey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.newproduct_box:hover .overlay {
  height: 35%;
}

.text {
  color: #000000;
  font-size: 20px;
  /* position: absolute; */
  /* top: 15%; */
  /* left: 5%; */
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  /* text-align: center; */
}
.add-to-cart_newproduct{
  position: absolute;
  right: 9px;
  top: 7px;
  visibility: hidden;
  /* transition: 2s; */
}
.add-to-cart_newproduct li{
  list-style: none;

}
.add-to-cart_newproduct li a{
  font-size: 19px;
  
}
 .newproduct_box:hover .add-to-cart_newproduct{
   visibility: visible;
   transition: 1s;
 }

 /* banner code new */
 .bannerItem{
  margin-bottom:2500px !important; /* white below banner - delete it */
  padding-top:10px; /* padding above the header */
width:1000px;
margin:auto;
    margin-top:55px; /* white above banner - delete it */
max-height:180px !important;
}

.banner-header{
  margin: 0;     
  color: #fff;
  padding-top:0px;
  font-size: 42px;  
  font-family:lato;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:-190px;
  font-weigh:100;
}

.banner-text{
  margin: 0;     
  color: #fff;
  margin-top:0px;
  padding-bottom: 0px;
  font-family: lato;
  font-weight: 100;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.bannerItem{
  background: #333;    
  text-align: center;
  height: 100% !important;
  border-radius: 6px; /* rounded corners */
 background: linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(255,255,255,0.4) 100%), url("http://source.unsplash.com/1500x500/?adventure");
background-width: 100%;
background-attachment: fixed; 
image-repeat: none;
max-height: 0%;
background-size:100%;
}



.banner-example{
margin: 20px; /*padding around banner - delete for full width*/
}


/* button CSS */
.btn.btn-outline{
margin-top:10px;
background-color:transparent;
color: #fff;
border-color: #fff;
padding-left:90px;
padding-right:90px;
font-family:lato;
font-weight:300;
margin-bottom:40px;
border-radius:0px;
}
.btn.btn-outline:hover{
background-color:black;
border-color:black;
color: #fff;
}
.btn.btn-outline.a{
background-color:black;
border-color:black;
color: #fff;
}
.btn.btn-outline:active{
font-weight:300;
font-size:20px;
color: #fff;
}

.col col-3-12{
  width: 400px;
}
.col-3-12{
  width: 400px;
}