
    <div class="container-fluid" style="overflow: hidden; ">  
        <!-- rounded slider by Aman Verma 05-11-2020 -->
      <div id="demo" class="carousel slide main-slider mb-2" data-ride="carousel" *ngIf="banner">
        <div class="carousel-inner" style="height: 490px; border-radius: 9.5px!important;  overflow: hidden;">
          <div *ngIf="banner_group_a==0 || bannerdata.value.banner_image_a_group==''" class="carousel-item active">
            <img src="{{ bannerdata.value.banner_image_a }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
          <div *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==0" class="carousel-item active cursor-pointer" (click)="navigation(bannerdata.value.banner_image_a_group,bannerdata.value.banner_image_a_group_type,bannerdata.value.banner_image_a_group_id)">
            <img  src="{{ bannerdata.value.banner_image_a }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
        
          <a *ngIf="banner_group_a==1 && bannerdata.value.banner_image_a_group!='' && banner_group_linka==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_a_group}}"
          >
          <img src="{{bannerdata.value.banner_image_a}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>
  
          <div *ngIf="banner_group_b==0 || bannerdata.value.banner_image_b_group==''" class="carousel-item">
            <img src="{{ bannerdata.value.banner_image_b }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
          <div *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!=''  && banner_group_linkb==0"  class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_b_group,bannerdata.value.banner_image_b_group_type,bannerdata.value.banner_image_b_group_id)">
            <img  src="{{ bannerdata.value.banner_image_b }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
          </div>
        
          <a *ngIf="banner_group_b==1 && bannerdata.value.banner_image_b_group!='' && banner_group_linkb==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_b_group}}"
          >
          <img src="{{bannerdata.value.banner_image_b}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>
  
          <div class="carousel-item" *ngIf="banner_group_c==0 || bannerdata.value.banner_image_c_group==''" class="carousel-item">
          <img src="{{ bannerdata.value.banner_image_c }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
          <div  *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_c_group,bannerdata.value.banner_image_c_group_type,bannerdata.value.banner_image_c_group_id)">
          <img src="{{ bannerdata.value.banner_image_c }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
  
      
  
    <a *ngIf="banner_group_c==1 && bannerdata.value.banner_image_c_group!='' && banner_group_linkc==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_c_group}}"
          >
          <img src="{{bannerdata.value.banner_image_c}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>   
  
        <!-- start for 4 and 5 -->
  <!-- start for 4 -->
  <div class="carousel-item" *ngIf="banner_group_d==0 || bannerdata.value.banner_image_d_group==''" class="carousel-item">
          <img src="{{ bannerdata.value.banner_image_d }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
          <div  *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_d_group,bannerdata.value.banner_image_d_group_type,bannerdata.value.banner_image_d_group_id)">
          <img src="{{ bannerdata.value.banner_image_d }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
  
      
  
    <a *ngIf="banner_group_d==1 && bannerdata.value.banner_image_d_group!='' && banner_group_linkd==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_d_group}}"
          >
          <img src="{{bannerdata.value.banner_image_d}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>  
  <!-- end for 4 -->
  <!-- start for 5 -->
  <div class="carousel-item" *ngIf="banner_group_e==0 || bannerdata.value.banner_image_e_group==''" class="carousel-item">
          <img src="{{ bannerdata.value.banner_image_e }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
          <div  *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==0" class="carousel-item cursor-pointer" (click)="navigation(bannerdata.value.banner_image_e_group,bannerdata.value.banner_image_e_group_type,bannerdata.value.banner_image_e_group_id)">
          <img src="{{ bannerdata.value.banner_image_e }}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </div>
  
      
  
    <a *ngIf="banner_group_e==1 && bannerdata.value.banner_image_e_group!='' && banner_group_linke==1" class="carousel-item active cursor-pointer" target="_blank"  href="{{bannerdata.value.banner_image_e_group}}"
          >
          <img src="{{bannerdata.value.banner_image_e}}" onerror="this.src='https://www.pngkit.com/png/detail/930-9306658_404-not-found.png';" />
        </a>  
  <!-- end for 5 -->
        <!-- end for 4 and 5 -->
        
        </div>
      
        <a class="carousel-control-prev ml-1" href="#demo" style="background-color: black;top: 238px;height: 30px;width: 35px;border-radius: 36px;" data-slide="prev">
          <span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
        </a>
        <a class="carousel-control-next mr-1" href="#demo" style="background-color: black;top: 238px;height: 30px;width: 35px;border-radius: 36px;" data-slide="next">
          <span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
        </a>
      </div>
  
     
   <!-- new add 17-11-2020 -->
   <div class="col-md-12 text-center">
    <h2 class="title" style="font-family: Cinzel Semi Bold;">Shop by Brands</h2>
  </div>
  <!-- end -->
  
  <!-- brand gallary view by Aman Verma 05-11-2020 -->
  <div class="row justify-content-start mt-1" style="background-color: #202328;" >
    <div class="col-md-2" *ngFor="let brand of brands | slice:0:6;">
     
        <div class=" circular-image-brand" (click)="navigateCategory(brand.name,brand.brand_id)" >
          <img src="{{brand?.thumbnail_sml_location}}" onerror="this.src='https://ap2-prod-images.disco-api.com/2020/2/24/d4cfb8ac-9ee1-4af5-a175-81790d55ebb9.jpg';" class="brand-image" style="width: 100%;" height="190px ;">
        </div>
    </div>
  </div>
 
  <div class="row justify-content-end text-right pr-3 mt-1"  *ngIf="brands?.length > 6">
    <span class="more-brands" routerLink="/our-brand"> see more brands <i class="fas fa-chevron-right"></i></span>
     </div>
<!-- top selling product by Aman Verma 06-11-2020 -->
  <section class="mt-2">
     <div class="container-fluid">
    
      <div class="pagination  row mb-0">
        <div class="col-md-4  text-left">
        <span class="page-item  float-left prev-item" *ngIf="offsetSelling != 1">
          <span matTooltip="Previous"
            class="page-link page-previous"
            (click)="changeOffsetSell(offsetSelling - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
        </span>
        </span>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="title">Tran<span class="border-heading">ding Prod</span>ucts</h2>

      </div>
      <div class="col-md-4 text-right ">
        <span class="page-item float-right next-item" *ngIf="offsetSelling != pagesSelling">
          <span  matTooltip="Next"
            class="page-link page-next"
            (click)="changeOffsetSell(offsetSelling + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
        </span>
        </span>
      </div>
       
      <!-- </div> -->
    </div>
       <div class="row justify-content-start mt-0">
         <div class="col-md-3" *ngFor="let nprd of topSelling">
           <div class="card newproduct_box" id="box-img1">
            <img src="{{ nprd?.gallery?.medium_thumbnail_link }}" id="img1" alt="New Product Image" class="image" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">
            <h1  class="outofstockproduct" *ngIf="nprd.txn_quantity < '1'"> Out of stock</h1>
            <ul class="add-to-cart_newproduct">
              <li><a *ngIf="nprd.wishlist_check == false" 
                style="cursor:pointer"
                (click)="addToWishlist(nprd)"
                matTooltip="Add to WishList"
                > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i></a>
              <a
              style="cursor:pointer" *ngIf="nprd.wishlist_check == true"
              (click)="deleteFromWishlist(nprd.wishlist_num)"
              matTooltip="Already exist in Wishlist"
              > <i class="fas fa-heart" aria-hidden="true" style="color: red;" ></i>
          </a>
        
            <!-- for withouyt login -->
             <a *ngIf="userC==false" 
                style="cursor:pointer"
                (click)="addToWishlistWL(nprd)"
                matTooltip="Add to WishList"
                > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i>
            </a></li>
              <li class="mt-1"><span *ngIf="userC==true">
                <a *ngIf="nprd.cart_check == false "
                style="cursor:pointer"
                (click)="addToCart(nprd)"
                matTooltip="Add to Cart"
                > <i class="fa fa-cart-plus" style="color: green;"></i></a>
                </span>
                
                
                <a  *ngIf="userC==false"
                style="cursor:pointer"
                (click)="addToCart(nprd)"
                matTooltip="Add to Cart"
                > <i class="fa fa-cart-plus" style="color: green;"></i>
                </a></li>
            </ul>
            <div class="overlay">
              <div class="text ">
<div class="row">
  <div class="col-md-12 ">
    <span class="newproduct_heading " >{{ (nprd.name.length>60)? (nprd.name | slice:0:60)+'...':(nprd.name) }}</span>
  </div>
</div>


<div class="row justify-content-start">
  <div class="col-md-12">
    <p style="color: rgb(131, 128, 128);margin-left:10px">
      <span *ngIf="nprd.rate[0].is_rent == '1'" 
      >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
    </span>
    <span *ngIf="nprd.rate[0].is_rent != '2'" class="newproduct_mrp"
      >₹ {{ nprd.rate[0].rate}} 
    </span> &nbsp;
    <span class="newproduct_mrp text-muted font-weight-500" *ngIf="nprd.rate[0].rate < nprd.mrp"
      ><del>₹ {{ nprd.mrp }} </del></span
    >
    <span *ngIf="nprd.rate[0].is_rent == '2'" 
      >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
    >
    &nbsp;&nbsp;
    <span 
      *ngIf="nprd.rate[0].rate < nprd.mrp && nprd.rate[0].discount_percent !=0"
      class="font-wieght-bold text-center newproduct_mrp text-success"
      > {{ nprd.rate[0].discount_percent | number:'1.0-0' }}%  off</span
    >
    </p>
  </div>
  <div class="col-md-12 text-center " >
    <div class="buy" *ngIf="nprd?.txn_quantity > '0'">
      <a    (click)="rates(nprd)" *ngIf="(nprd?.cart_check == false) && userC==true 
      " class="buy-now-button cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
       <a   (click)="rates(nprd)" *ngIf="userC == false" class="buy-now-button  cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
    </div>
  </div>


  
</div>
<div class="row justify-content-center">
  <div class="col-md-5 text-center ">
    <div class="num-block skin-2"  *ngIf="nprd?.cart_check == true">
      <div class="num-in" style="cursor: pointer;">
        <span class="minus dis" *ngIf="nprd.cart_inventory.qty > 1 || nprd.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
        <span class="minus dis" *ngIf="nprd.cart_inventory.qty == 1 || nprd.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd.cart_inventory.cart_inventory_id)"></span>
        <input type="number" class="in-num"   value="{{nprd.cart_inventory.qty}}" required min="1"
        (change)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)"
        (keyup)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)" >
        <span class="plus" *ngIf="nprd.cart_inventory.qty<nprd.txn_quantity"
          (click)="updateCart3plus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
        <span class="plus" *ngIf="nprd.cart_inventory.qty>nprd.txn_quantity || nprd.cart_inventory.qty==nprd.txn_quantity"  title="Reached limit" [disabled]=true></span>
      </div>
      </div>
  </div>
</div>

              </div>
            </div>
           </div>
         </div>
       </div>
     </div>
  </section>

  <div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5" *ngIf="roarclubbannerdata">
    <div class="row">
      <div class="col-md-6 mt-2 banner-image-box-card pl-3" *ngIf="roarclubbannerdata[0] != null">
        <img src="{{roarclubbannerdata[0].image_link}}" class="w-100 img-fluid img-banner"  >
      </div>
      <div class="col-md-6 mt-2 banner-image-box-card pr-3" *ngIf="roarclubbannerdata[1] != null">
          <img src="{{roarclubbannerdata[1].image_link}}" class="w-100 img-fluid img-banner" >
      </div>
    </div>
  </div>
  <!-- latest product view by Aman Verma 06-11-2020 -->
  <section class="mt-2">
    <div class="container-fluid">
    
     <div class="pagination   row mb-0">
      <div class="col-md-4 text-left">
      <li class="page-item float-left prev-item" *ngIf="offsetNew != 1">
        <a matTooltip="Previous"
          class="page-link page-previous"
          (click)="changeOffsetNew(offsetNew - 1)"
          aria-label="Previous"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
        </a>
      </li>
    </div>
    <div class="col-md-4 text-center">
      <h2 class="title" >Lat<span class="border-heading">est Prod</span>ucts</h2>
    </div>
    <div class="col-md-4 text-right ">
      <li class="page-item float-right next-item" *ngIf="offsetNew != pagesNew">
        <a  matTooltip="Next"
          class="page-link page-next"
          (click)="changeOffsetNew(offsetNew + 1)"
          aria-label="Next"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
        </a>
      </li>
    </div>
     
  </div>
      <div class="row justify-content-start mt-0">
        <div class="col-md-3" *ngFor="let nprd of newproduct">
          <div class="card newproduct_box" id="box-img1">
           <img src="{{ nprd?.gallery?.medium_thumbnail_link }}" id="img1" alt="New Product Image" class="image" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">
           <h1  class="outofstockproduct" *ngIf="nprd.txn_quantity < '1'"> Out of stock</h1>
           <ul class="add-to-cart_newproduct">
             <li><a *ngIf="nprd.wishlist_check == false" 
               style="cursor:pointer"
               (click)="addToWishlist(nprd)"
               matTooltip="Add to WishList"
               > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i></a>
             <a
             style="cursor:pointer" *ngIf="nprd.wishlist_check == true"
             (click)="deleteFromWishlist(nprd.wishlist_num)"
             matTooltip="Already exist in Wishlist"
             > <i class="fas fa-heart" aria-hidden="true" style="color: red;" ></i>
         </a>
       
           <!-- for withouyt login -->
            <a *ngIf="userC==false" 
               style="cursor:pointer"
               (click)="addToWishlistWL(nprd)"
               matTooltip="Add to WishList"
               > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i>
           </a></li>
             <li class="mt-1"><span *ngIf="userC==true">
               <a *ngIf="nprd.cart_check == false "
               style="cursor:pointer"
               (click)="addToCart(nprd)"
               matTooltip="Add to Cart"
               > <i class="fa fa-cart-plus" style="color: green;"></i></a>
               </span>
               
               
               <a  *ngIf="userC==false"
               style="cursor:pointer"
               (click)="addToCart(nprd)"
               matTooltip="Add to Cart"
               > <i class="fa fa-cart-plus" style="color: green;"></i>
               </a></li>
           </ul>
           <div class="overlay">
             <div class="text ">
<div class="row">
 <div class="col-md-12 ">
   <span class="newproduct_heading " >{{ (nprd.name.length>60)? (nprd.name | slice:0:60)+'...':(nprd.name) }}</span>
 </div>
</div>


<div class="row justify-content-start">
 <div class="col-md-12">
   <p style="color: rgb(131, 128, 128);margin-left:10px">
     <span *ngIf="nprd.rate[0].is_rent == '1'" 
     >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
   </span>
   <span *ngIf="nprd.rate[0].is_rent != '2'" class="newproduct_mrp"
     >₹ {{ nprd.rate[0].rate}} 
   </span> &nbsp;
   <span class="newproduct_mrp text-muted font-weight-500" *ngIf="nprd.rate[0].rate < nprd.mrp"
     ><del>₹ {{ nprd.mrp }} </del></span
   >
   <span *ngIf="nprd.rate[0].is_rent == '2'" 
     >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
   >
   &nbsp;&nbsp;
   <span 
     *ngIf="nprd.rate[0].rate < nprd.mrp && nprd.rate[0].discount_percent !=0"
     class="font-wieght-bold text-center newproduct_mrp text-success"
     > {{ nprd.rate[0].discount_percent | number:'1.0-0' }}%  off</span
   >
   </p>
 </div>
 <div class="col-md-12 text-center " >
   <div class="buy" *ngIf="nprd?.txn_quantity > '0'">
     <a    (click)="rates(nprd)" *ngIf="(nprd?.cart_check == false) && userC==true 
     " class="buy-now-button cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
      <a   (click)="rates(nprd)" *ngIf="userC == false" class="buy-now-button  cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
   </div>
 </div>


 
</div>
<div class="row justify-content-center">
 <div class="col-md-5 text-center ">
   <div class="num-block skin-2"  *ngIf="nprd?.cart_check == true">
     <div class="num-in" style="cursor: pointer;">
       <span class="minus dis" *ngIf="nprd.cart_inventory.qty > 1 || nprd.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
       <span class="minus dis" *ngIf="nprd.cart_inventory.qty == 1 || nprd.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd.cart_inventory.cart_inventory_id)"></span>
       <input type="number" class="in-num"   value="{{nprd.cart_inventory.qty}}" required min="1"
       (change)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)"
       (keyup)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)" >
       <span class="plus" *ngIf="nprd.cart_inventory.qty<nprd.txn_quantity"
         (click)="updateCart3plus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
       <span class="plus" *ngIf="nprd.cart_inventory.qty>nprd.txn_quantity || nprd.cart_inventory.qty==nprd.txn_quantity"  title="Reached limit" [disabled]=true></span>
     </div>
     </div>
 </div>
</div>

             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
 </section>
 
 
 <div class="container-fluid d-none d-md-block d-lg-block d-xl-block mt-5" *ngIf="roarclubbannerdata">
  <div class="row">
    <div class="col-md-6 mt-3 banner-image-box-card pl-3" *ngIf="roarclubbannerdata[2] != null">
        <img src="{{roarclubbannerdata[2].image_link}}" class="w-100 img-fluid img-banner"  >
    </div>
    <div class="col-md-6 mt-3 banner-image-box-card pr-3" *ngIf="roarclubbannerdata[3] != null">
        <img src="{{roarclubbannerdata[3].image_link}}" class="w-100 img-fluid img-banner" >
    </div>
    <div class="col-md-6 mt-3 banner-image-box-card pl-3" *ngIf="roarclubbannerdata[4] != null">
        <img src="{{roarclubbannerdata[4].image_link}}" class="w-100 img-fluid img-banner"  >
    </div>
    <div class="col-md-6 mt-3 pr-3 banner-image-box-card" *ngIf="roarclubbannerdata[5] != null">
        <img src="{{roarclubbannerdata[5].image_link}}" class="w-100 img-fluid img-banner"  >
    </div>
  </div>
</div>
 <!-- Top discount product by Aman Verma 06-11-2020 -->
 <section class="mt-2">
  <div class="container-fluid">
  
 
    <div class="pagination   row  mb-0">
      <div class="col-md-4 text-left">
      <li class="page-item float-left prev-item" *ngIf="offsetDisc != 1">
        <a matTooltip="Previous"
          class="page-link page-previous"
          (click)="changeOffsetDisc(offsetDisc - 1)"
          aria-label="Previous"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"><i class="fas fa-angle-left"></i></span>
        </a>
      </li>
    </div>
    <div class="col-md-4 text-center">
      <h2 class="title" >Top Disc<span class="border-heading">ount Prod</span>ucts</h2>
    </div>
    <div class="col-md-4 text-right ">
      <li class="page-item float-right next-item" *ngIf="offsetDisc != pagesDisc">
        <a  matTooltip="Next"
          class="page-link page-next"
          (click)="changeOffsetDisc(offsetDisc + 1)"
          aria-label="Next"
        >
          <span aria-hidden="true" class=" font-weight-bold cursor-pointer"> <i class="fas fa-angle-right"></i></span>
        </a>
      </li>
    </div>
     
  </div>
    <div class="row justify-content-start  mt-0">
      <div class="col-md-3" *ngFor="let nprd of discountS">
        <div class="card newproduct_box" id="box-img1">
         <img src="{{ nprd?.gallery?.medium_thumbnail_link }}" id="img1" alt="New Product Image" class="image" (click)="view_product(nprd.meta_title, nprd.product_no,nprd.slug,nprd.quick_product_check)">
         <h1  class="outofstockproduct" *ngIf="nprd.txn_quantity < '1'"> Out of stock</h1>
         <ul class="add-to-cart_newproduct">
           <li><a *ngIf="nprd.wishlist_check == false" 
             style="cursor:pointer"
             (click)="addToWishlist(nprd)"
             matTooltip="Add to WishList"
             > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i></a>
           <a
           style="cursor:pointer" *ngIf="nprd.wishlist_check == true"
           (click)="deleteFromWishlist(nprd.wishlist_num)"
           matTooltip="Already exist in Wishlist"
           > <i class="fas fa-heart" aria-hidden="true" style="color: red;" ></i>
       </a>
     
         <!-- for withouyt login -->
          <a *ngIf="userC==false" 
             style="cursor:pointer"
             (click)="addToWishlistWL(nprd)"
             matTooltip="Add to WishList"
             > <i class="fa fa-heart-o" aria-hidden="true" style="color: red;" ></i>
         </a></li>
           <li class="mt-1"><span *ngIf="userC==true">
             <a *ngIf="nprd.cart_check == false "
             style="cursor:pointer"
             (click)="addToCart(nprd)"
             matTooltip="Add to Cart"
             > <i class="fa fa-cart-plus" style="color: green;"></i></a>
             </span>
             
             
             <a  *ngIf="userC==false"
             style="cursor:pointer"
             (click)="addToCart(nprd)"
             matTooltip="Add to Cart"
             > <i class="fa fa-cart-plus" style="color: green;"></i>
             </a></li>
         </ul>
         <div class="overlay">
           <div class="text ">
<div class="row">
<div class="col-md-12 ">
 <span class="newproduct_heading " >{{ (nprd.name.length>60)? (nprd.name | slice:0:60)+'...':(nprd.name) }}</span>
</div>
</div>


<div class="row justify-content-start">
<div class="col-md-12 ">
 <p style="color: rgb(131, 128, 128);margin-left:10px">
   <span *ngIf="nprd.rate[0].is_rent == '1'" 
   >{{ nprd.rate[0].name }} @ {{ nprd.rate[0].rate }}
 </span>
 <span *ngIf="nprd.rate[0].is_rent != '2'" class="newproduct_mrp "
   >₹ {{ nprd.rate[0].rate}} 
 </span> &nbsp;
 <span class="newproduct_mrp text-muted font-weight-500" *ngIf="nprd.rate[0].rate < nprd.mrp"
   ><del>₹ {{ nprd.mrp }} </del></span
 >
 <span *ngIf="nprd.rate[0].is_rent == '2'" 
   >{{ nprd.rate[1].name }} @ {{ nprd.rate[1].rate }} </span
 >
 &nbsp;&nbsp;
 <span 
   *ngIf="nprd.rate[0].rate < nprd.mrp && nprd.rate[0].discount_percent !=0"
   class="font-wieght-bold text-center newproduct_mrp text-success"
   > {{ nprd.rate[0].discount_percent | number:'1.0-0' }}%  off</span
 >
 </p>
</div>
<div class="col-md-12 text-center " >
 <div class="buy" *ngIf="nprd?.txn_quantity > '0'">
   <a    (click)="rates(nprd)" *ngIf="(nprd?.cart_check == false) && userC==true 
   " class="buy-now-button cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
    <a   (click)="rates(nprd)" *ngIf="userC == false" class="buy-now-button  cursor-pointer"><span class="fa fa-bolt " ></span>&nbsp; Buy Now</a>
 </div>
</div>



</div>
<div class="row justify-content-center">
<div class="col-md-5 text-center ">
 <div class="num-block skin-2"  *ngIf="nprd?.cart_check == true">
   <div class="num-in" style="cursor: pointer;">
     <span class="minus dis" *ngIf="nprd.cart_inventory.qty > 1 || nprd.cart_inventory.qty > '1'"  (click)="updateCart3minus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
     <span class="minus dis" *ngIf="nprd.cart_inventory.qty == 1 || nprd.cart_inventory.qty == '1'"  (click)="deleteFromCartF(nprd.cart_inventory.cart_inventory_id)"></span>
     <input type="number" class="in-num"   value="{{nprd.cart_inventory.qty}}" required min="1"
     (change)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)"
     (keyup)="updateCart3(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,$event.target.value,nprd.txn_quantity)" >
     <span class="plus" *ngIf="nprd.cart_inventory.qty<nprd.txn_quantity"
       (click)="updateCart3plus(nprd.cart_inventory.cart_id,nprd.cart_inventory.cart_inventory_id,nprd.cart_inventory.rate_type,nprd.cart_inventory.qty,nprd.txn_quantity);"></span>
     <span class="plus" *ngIf="nprd.cart_inventory.qty>nprd.txn_quantity || nprd.cart_inventory.qty==nprd.txn_quantity"  title="Reached limit" [disabled]=true></span>
   </div>
   </div>
</div>
</div>

           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
 
    
 
        </div>
  
  
    
           
  <app-footer></app-footer>
  <!-- end -->