/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* .carousel-inner{
  height: 490px; border-radius: 9.5px!important;  overflow: hidden;
} */

/* start */
@media only screen and (max-width: 600px) {
  body {
    background-color: #202328;
  }
 
}

/* end */



html {
  background-color: #202328;
}

body {
  background-color: #202328;
  color: #272727;
  /* font-family: 'Quicksand', serif; */
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
 
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  
  max-width: 100%;
  vertical-align: middle;
}




.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* border-radius: 25px; */
}

.cards_item {
  display: flex;
  padding: 1rem;
  /* border-radius: 25px; */
  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {

  background-color:#fff;
  /* background-color: #000000; */
  border-radius: 9px;
  box-shadow: 0 0 5px rgb(102, 101, 101);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* height: 450px!important; */
  height: auto;
  margin: auto;
  /* padding: 10px; */
}


.newproduct_mrp{
  font-size: 14px;
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Raleway', sans-serif!important; */
  font-family: sans-serif;
  color: black;
  font-weight: bold;

}


.newproduct_heading{
  color: black;
  font-weight: bolder!important;
  right: 7px;
  cursor: pointer;
  left: 7px;
  position: relative;
   text-transform: uppercase;
   font-family: 'Cinzel', serif;
   font-size: 14px;
}

.circular-image-brand {
  border-radius: 50%;
  overflow: hidden;
  background: white;
}
.circular-image-brand img{
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.circular-image-brand img:hover{
  border-radius: 9.5px;
  overflow: hidden;
  cursor: pointer;
  opacity: .9;
  

}




#img1{
  max-height: 320px; min-height: unset; height: -webkit-fill-available; -o-object-fit: contain;
  object-fit: contain;
  margin: none; width: 100%;
  text-align: center;
  vertical-align: middle;
  position: inherit;

}
#box-img1{
  height: 320px; width: 100%; background: white; margin: none;    position: relative;
}

.pshow{
  display: none;
}

.bimg:hover +.pshow{
display: block;
}




/* card  */
		
/* start */

.row{
 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
    }
  
 

 
  
  
 
  
  
  .btn{
  
    display: inline-block;
    background: #ff523b;
    color: #fff;
    border-color:#ff523b; 
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
  
  }
  
  
  .btn:hover{
    background: #563434;
    border-color:#563434; 
  } 
  
  
  
  .header{
    background: radial-gradient(#fff ,#ffd6d6)
  }
  
  .header .row{
    margin-top: 70px;
  }
  
  /*////////////////////featured catagories////////////////*/
  
  .catagories{
  
  margin: 70px 0;
  
  }
  /* .catagories .row .col-3 img:hover{
  transform: translateY(-15px);
  } */
  
  /* .col-3{
  flex: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  
  } */
  
  /* .col-3 img{
   width: 310;
   transition:  transform 0.5s;
  } */
  
  .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4 img{
   width: 100%;
   height: 200px;
  }
  h2{
    font-family: 'Cinzel', serif!important;
    color: whitesmoke!important;
  }
  
  .title{
    text-align: center;
    line-height: 1;
   
    font-family: 'Cinzel', serif;
    /* color: #555; */
  }
  
  
  .h4{
    color: #555;
    font-weight: normal;
  
  }
  .col-4 p{
    font-size: 14px;
  }
  
  .rating .fa{
   color: #ff523b;
  }
  
  
  
  .col-4:hover{
    transform: translateY(-5px);
  }
  
  
  .offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  
 
  
  .small{
    color: #555;
  }
  
  
  

/* end */

/* start */

.feature-products{
    background-color:#F3F3F3;
    font-family: 'Cinzel', serif;
    position:relative;
}

.feature-products::before{
    position:absolute;
    left: 50%;
    top:0;
    height:65px;
    content: "";
    display: block;
    width:3px;
    background-color: #000;
    z-index:9999;
}

.product-content .title{
    margin-top:40px;
    text-align:center;
    font-family: 'Cinzel', serif;
    font-size:12px;
    text-transform:uppercase;
}


.feature-title{
    font-weight:600;
    color:#000;
}

.feature-title h2{
    margin-top:120px;
    margin-bottom:50px;
    color: #000;
    font-family: 'Cinzel', serif;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-title a {
    padding: 0 20px;
    font-size:16px;
    color:#bbb;
}

.feature-active{
    color:#000 !important;
    font-weight:700;
}

.price, .rating{
    display:inline-block;
    margin:0 auto;
    width:100%;
    text-align:center;
    margin-bottom:40px;
}



.product-grid .rating{
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.product-grid .rating li{
    color: #FFB14B;
    font-size: 13px;
    display: inline-block;
}


.action-buttons{
    display:inline-block;
    margin-top:50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.action-buttons .btn-outline{
    padding: 6px 20px;
    border-radius:5px;
    border: 2px solid #ccc;
    margin: 0 4px;
}


.action-buttons .btn-outline-icon{
    padding: 6px 10px;
    border-radius:5px;
    border: 2px solid #ccc;
    margin: 0 4px;
}

.action-buttons a{
    color: #000;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:1px;
    cursor:pointer;
  transition: .4s;
}

.action-buttons a:hover{
    color: #fff !important;
    background:#000;
   
}

.product-grid .rating li.disable{ color: #c1c1c1; }
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}
/* end */
.checked {
  color: red; }
  .star-mobile{
      font-size: 10px;
  }
 .unchecked{
    color: white;
 }

.carousel-item img{
  height: 72vh;
  border-radius: 9px;
  width: 100%;
  max-width: 100%;
}
.scroll-item img{

  height: 330px;
  border-radius: 0px!important;
  width: 100%;
  max-width: 100%;
}
.scroll-item{
  padding: 0;
  height: auto;
}
.fa fa-star{
  color: red;
}
.page-item{
  color: white;
  background: white;
}
.page-previous{
  color: white;
  background: white;
}

.page-link{
  cursor: pointer;
}
.more-brands{
 color: lightgray;
 cursor: pointer;
 padding-right: 20px;
}
.more-brands:hover{
  color: #b89d4e;
  transition: 2s;
   padding-right: 0;
  cursor: pointer;
}
.skin-2 .num-in {
	background: green;
	/* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); */
	border-radius: 25px;
	height: 38px;
	width: 110px;
  float: left;
}


.skin-2 .num-in	span {
  width: 40%;
  display: block;
  height: 40px;
  float: left;
  position: relative;
}

.skin-2 .num-in span:before, .skin-2 .num-in span:after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
  transform: rotate(90deg);
}

.skin-2 .num-in input {
		float: left;
    width: 20%;
    color: whitesmoke;
    height: 38px;
    background: green;
		border: none;
		text-align: center;
}

/* / skin 2 */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus{
  outline: none;
  border: none;
}

.outofstockproduct{
  background: #20232859;
  /* top: 11px; */
  font-size: 18px;
  width: 100%;
  /* left: 8px; */
  line-height: 12;
  height: 100%;
  position: absolute;
  font-weight: 600;
  color: red;
  text-shadow: 1.5px -0.5px black;
  text-align: center;
}




.newproduct_box {
  background-color: white;
  position: relative;
  width: 100%;
  height: 360px;
}

.image {
  display: block;
  width: 100%;
  cursor: pointer;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 4px lightgrey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.newproduct_box:hover .overlay {
  height: 35%;
}

.text {
  color: #000000;
  font-size: 20px;
 
}
.add-to-cart_newproduct{
  position: absolute;
  right: 9px;
  top: 7px;
  visibility: hidden;
  /* transition: 2s; */
}
.add-to-cart_newproduct li{
  list-style: none;

}
.add-to-cart_newproduct li a{
  font-size: 19px;
  
}
 .newproduct_box:hover .add-to-cart_newproduct{
   visibility: visible;
   transition: 1s;
 }
 
 .banner-image-box-card{

  height: 220px;  width: auto; padding: 0; overflow: hidden;
  object-fit: fill;
  cursor: pointer;
  transform: scaleX(.99);
}

.banner-image-box-card:hover{
  transition: transform 2s;
  cursor: pointer;
  
}

.banner-image-box-card-mobile{
  height: 140px;  width: auto; padding: 0; overflow: hidden;
  object-fit: fill;
  cursor: pointer;
}
.img-banner{
  height: 100%;
  border-radius: 9px;
  width: 100%;
}

.next-item .page-link {
  width: -webkit-fit-content;
  position: absolute;
  padding: 2px 8px 2px 8px;
  background: none;
  width: -moz-fit-content;
  text-shadow: 0 0 5px #000000;
  top: 150px;
  font-size: 42px;
  right: -19px;
  border: none!important;
  outline: none!important;
  color: whitesmoke;
  z-index: 222;
  cursor: pointer;
}

.prev-item .page-link {
  width: -webkit-fit-content;
    position: absolute;
    padding: 2px 8px 2px 8px;
    background: none;
    left: -19px;
    width: -moz-fit-content;
    text-shadow: 0 0 5px #000000;
    top: 150px;
    font-size: 42px;
    border: none!important;
    outline: none!important;
    color: whitesmoke;
    z-index: 222;
    cursor: pointer;
}





.main-slider{
  margin-left: 1px;
  margin-right: 1px;
}

.main-slider:hover .carousel-control-prev{
  visibility: visible;
}
.main-slider:hover .carousel-control-next{
  visibility: visible;
}






.mobile-login-button{
  border-radius: 9px!important;
  border: solid 1px #a0236e;
  color: #a0236e;
  letter-spacing: 1px;
  border-radius: 12px;
  box-shadow: none;
  outline: none;
  background: #f7f7f77a;
}

.Trending-mobile-product-box{
  border-radius: 5px;
  /* background: -webkit-linear-gradient(45deg,#6c0753, #e58247, #9c1c8b, #d4474d); */
  background: rgb(43,42,42);
}

.mobile-heading-row{
  padding: 2px!important;
  /* border: 1px solid yellow; */
  height: 48px;
}
.banner-image-box-card{

  height: 220px;  width: auto; padding: 0; overflow: hidden;
  object-fit: fill;
  cursor: pointer;
}

.banner-image-box-card:hover{
  transform: scaleX(.99);
  transition: transform 2s;
  cursor: pointer;
  
}

.banner-image-box-card-mobile{
  height: 140px;  width: auto; padding: 0; overflow: hidden;
  object-fit: fill;
  cursor: pointer;
}
.img-banner{
  height: 100%;
  width: 100%;
}
.mobile-product-box-height{
  text-transform: capitalize;
  height: 200px;
  border: 2px solid rgb(43,42,42);
  background:white;
  /* width: 48%!important; */
  border-radius: 6px;
}
/* .col-6{
  width: 48%!important;
} */
.mobile-image-box-height{
  height: 110px;
  padding: 7px;
  background: white;
}
.mobile-view-image{ 
   object-fit: contain;
   min-width: 90%;
   /* min-height: 90%; */
   height: 96px;
   max-width: 100%;
   /* max-height: 170px; */
}
.mobile-product-heading h6{
text-transform: capitalize!important;
font-size: 14px;
line-height: 1;
}
.mobile-seller-price{
  position: relative;
  top: -9px;
}
.mobile-product-price{
      font-weight: 400;
      font-size: 12px;
  /* text-align: center; */
}
.mobile-product-price1{
  font-weight: 600;
  font-size: 13px;
/* text-align: center; */
}
.mobile-review-star ul{
  display: inline;
  font-size: 12px;
  color: orangered;
}
.mobile-review-star ul li{
  display: inline-flex;
  float: left;
}
.mobile-review-star ul li a{
  color: orangered;
}
.mobile-heading{
  font-size: 12px;
  color: #b89d4e;
  /* background: -webkit-linear-gradient(45deg,#6c0753, #e58247, #9c1c8b, #d4474d); */
  /* color: white; */
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  font-size: 14px;
  position: relative;
  top: 7px;
  left: 15px;
}
.checked {
color: #a0236e; }
.star-mobile{
    font-size: 10px;
}
.circular-image-brand-mobile1{
  height: 90px;
  width: 90px;
  background: rgb(43,42,42);
  border: 1px solid goldenrod;
  border-radius: 50%;
  overflow: hidden;
}
.circular-image-brand-mobile{
  height: 90px;
  width: 90px;
  background: white;
  border: 1px solid goldenrod;
  border-radius: 50%;
  overflow: hidden;
}
.brand-image-mobile{
  height: 90px;
  width: 900px;
  border-radius: 50%;
  overflow: hidden;
}
/* .mobile-heading1{
  font-size: 12px;
  color: #b89d4e;
} */
.bg-white{
  background: rgb(43,42,42)!important;
}
.bottom-bar{
  position: fixed;
  bottom: 0;
  background: rgb(43,42,42);
  z-index: 1111;
  width: 100%;
  height: 60px;
}





 
@media all and (min-width: 992px) {
  .navbar{ padding-top: 0; padding-bottom: 0; }
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; padding:10px; background: #202328; border: none; border-radius: .1px; color: white!important;}
  .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

      .megasubmenu{ 
          left:100%; top:0; min-height: 100%; min-width:1000px;
          behavior: smooth;
      }
       .list-unstyled>li:hover .megasubmenu{
          display: block;
          /* transition: 2s; */
          behavior: smooth;
      }


  .list-unstyled >li:hover .submenu{
          display: block;
      }
       .submenu >li:hover .submen{
          display: block;
      }

      .submenu{
          top:50px;
      }

      .form-control:focus {
        box-shadow: none;
      }
      
      /* .form-control-underlined {
        border-width: 0;
        border-bottom-width: 1px;
        border-radius: 0;
        padding-left: 0;
      } */
      .second-category-on{
        display: none!important;
        position: absolute;
        right: 0;
      }
.first-category-on:hover + .second-category-on{
display: block!important;
}
     
      
      .form-control::placeholder {
        font-size: 0.95rem;
        color: #aaa;
        font-style: italic;
      }
      .area{
        background: aliceblue;
        height: 38px;
        border-radius: 2px;
        width: 250px;
      }
   .category-name div p{
     font-size: 15px!important;
     cursor: pointer;
   }
   .category-name div{
     cursor: pointer;
   }


   .search {
    width: 330px!important;
    position: relative;
    z-index: 109;
  }
  .searchFull{
    background: rgb(43, 42, 42);
    /* top: 40px; */
    width: 100%!important;
    position: fixed;
    top: 0;
    z-index: 999909;
  }
  .searchFull .mat-card{
    padding: 9px!important;
    position: relative;
    background: rgb(43, 42, 42)!important;
    top: -10;
    border: none;
    z-index: 899999;
    outline: none;
    box-shadow: none;
  }
  .searchFull input{
    width: 100%;
    font-size: 14px;
    height: 38px;
    border-radius: 9px;
    font-family: 'Raleway', sans-serif!important;
    padding: 5px 40px 5px 40px!important;
  }
  
  .search .mat-card {
    padding: 0;
    position: relative;
    top: -10;
    border: none;
    outline: none;
    box-shadow: none;
  }
  .search input{
    width: 100%;
border: .25px solid #781352;
font-size: 14px;
height: 38px;
border-radius: 3px;
font-family: 'Raleway', sans-serif!important;
padding: 5px 40px 5px 12px;
  
  }
  
  .search input:focus{
  
    outline: none;
  }
  
  .search .mat-card .searchIcon{
    font-size: 15px;
    position: absolute;
    color: #B89D4E;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .searchFull .mat-card .searchIconback{
    font-size: 15px;
    position: absolute;
    color: #B89D4E;background: whitesmoke;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .navbar .profile-dropdown {
    position: absolute !important;
    margin-top: 0;
    left: -63px;
}
.login-button-bar2 a{
color: white!important;
padding: 0;
margin: 0;
line-height: 0;
}
  .searchFull .searchItems{
z-index: 999999;
    position: absolute;
    /* font-family: 'Cinzel', serif!important; */
    font-family: 'Raleway', sans-serif!important;
    top:49px!important;
    color: white!important;
    left: 0;
    background-color: white;
  }
  .search .searchItems{
    z-index: 999999;
            position: absolute;
            /* font-family: 'Cinzel', serif!important; */
            font-family: 'Raleway', sans-serif!important;
            top:37px!important;
            
            color: black;
            left: 0;
            background-color: white;
          }

  .search .mat-card.searchItems > div{
    padding: 0px 0px 0px 10px ;
  }
  .dropdown-toggle:after { content: none }
  .profile-dropdown{
    background: #202328;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    /* background-color: #f8f9fa; */
    background: #202328;
}

/* mobile header css */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Responsive navbar */
.sidenav1 {
height: 100%;
width: 90%;
position: fixed;
z-index: 120;
top: 0;
right: -90%;
color: white;
background:  #202328!important;
overflow-x: hidden;
transition: 0.75s;
padding-top: 0px;
}

.sidenav1 a {
width: -webkit-fill-available;
width: 100%;
text-decoration: none;
font-size: 16px;
padding-left: 17px;
transition: 3s;
/* font-size: 17px; */
}
.nav1{
background:  #202328!important;
}


.sidenav1 .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.sidenav {
background-blend-mode: overlay;
height: 100%;
width: 90%;
position: fixed;
z-index: 120;
color: white;
top: 0;
left: -90%;
background:  #202328!important;
overflow-x: hidden;
transition: 0.5s;
padding-top: 0px;

}
.mobile-menu-search{
/* border: 1px solid #766868; */
padding: 10px;
color: black!important;
border-radius: 23px;
}
.mobile-header-option{
color: #9c1c8b;
}
.opacMenu{
position:fixed;
left:0;
top:0;
width:100%;
height:100vh;
z-index: 101;
background-color: rgba(0,0,0,0.3);
}

.sidenav a {
/* padding: 8px 8px 8px 32px; */
width: -webkit-fill-available;
width: 100%;
text-decoration: none;
font-size: 16px;
/* color: #818181; */
/* display: block; */
transition: 0.3s;
}
#main-nav{
z-index: 11111;  height: 50px;
width: 100%;

position: fixed;
           top:0;
           display: block;
           transition: top 0.3s;
/* margin-bottom: 10px; */

}
.menu-bar-icon{
color: #B89D4E;
padding-top: 6px;
padding-left: 4px;
line-height: 1.5;
}