/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* start */
@media only screen and (max-width: 600px) {
  body {
    background-color: #202328;
  }
}

/* end */


html {
  background-color: #202328;
}

body {
  background-color: #202328;
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  
  max-width: 100%;
  vertical-align: middle;
}




.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 25px;
}

.cards_item {
  display: flex;
  padding: 1rem;
  border-radius: 25px;
  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color:#202328;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 25px;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}


.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/* card  */
		
/* start */

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
  }
  
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding:  74px;
  }
  
  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
  }
  
  
  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  
  }
  
  
  .btn{
  
    display: inline-block;
    background: #ff523b;
    color: #fff;
    border-color:#ff523b; 
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
  
  }
  
  
  .btn:hover{
    background: #563434;
    border-color:#563434; 
  } 
  
  
  
  .header{
    background: radial-gradient(#fff ,#ffd6d6)
  }
  
  .header .row{
    margin-top: 70px;
  }
  
  /*////////////////////featured catagories////////////////*/
  
  .catagories{
  
  margin: 70px 0;
  
  }
  .catagories .row .col-3 img:hover{
  transform: translateY(-15px);
  }
  
  .col-3{
  flex: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  
  }
  
  .col-3 img{
   width: 310;
   transition:  transform 0.5s;
  }
  
  .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4 img{
   width: 100%;
   height: 200px;
  }
  
  
  .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  
  .title:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .h4{
    color: #555;
    font-weight: normal;
  
  }
  .col-4 p{
    font-size: 14px;
  }
  
  .rating .fa{
   color: #ff523b;
  }
  
  
  
  .col-4:hover{
    transform: translateY(-5px);
  }
  
  
  .offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  
  .col-2 .offer-img{
  padding: 30px;
  }
  
  .small{
    color: #555;
  }
  
  
  

/* end */

/* start */
:root{ --main-color: #f368e0; }

.feature-products{
    background-color:#F3F3F3;
    font-family:Roboto;
    position:relative;
}

.feature-products::before{
    position:absolute;
    left: 50%;
    top:0;
    height:65px;
    content: "";
    display: block;
    width:3px;
    background-color: #000;
    z-index:9999;
}

.product-content .title{
    margin-top:40px;
    text-align:center;
    font-family:Roboto;
    font-size:12px;
    text-transform:uppercase;
}


.feature-title{
    font-weight:600;
    color:#000;
}

.feature-title h2{
    margin-top:120px;
    margin-bottom:50px;
    color: #000;
    font-family: Roboto;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-title a {
    padding: 0 20px;
    font-size:16px;
    color:#bbb;
}

.feature-active{
    color:#000 !important;
    font-weight:700;
}

.price, .rating{
    display:inline-block;
    margin:0 auto;
    width:100%;
    text-align:center;
    margin-bottom:40px;
}


.product-grid{
    border:1px solid transparent;
    font-family: 'Roboto', sans-serif;
    padding:10px 10px;
    transition: all 0.5s;
    margin-bottom:80px;
    margin-top:40px;
}

.product-grid .product-image{
    position: relative;
    overflow: hidden;
  
    
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
  border-radius: 5px;
   
}
.product-grid .add-to-cart{
    color: #fff;
    background: #222;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    padding: 0 5px;
    display: block;
    position: absolute;
    bottom: -50px;
    right: 0;
    transition: all ease-in-out 0.35s;
    width:20%;
    opacity: 0;

}
.product-grid:hover .add-to-cart{ opacity:1; }
.product-grid .add-to-cart:after{
    content: "\f101";
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s;
    
}
.product-grid .add-to-cart:hover:after{
    padding-left: 10px;
    opacity: 1;
}
.product-grid .product-content{ position: relative; }
.product-grid .product-stock{
    color: #999;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    border-bottom: 1px solid #c1c1c1;
    display: block;
    margin: 0 0 15px;
}
.product-grid .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: -15px;
    right: 0;
    transition: all ease-in-out 0.35s;
}
.product-grid:hover .icon{
    opacity: 1;
    top: 8px;
}
.product-grid .icon li{ display: inline-block; }
.product-grid .icon li a{
    color: #222;
    font-size: 16px;
    margin: 0 4px;
}
.product-grid .icon li a:hover{ color: var(--main-color); }
.product-grid .title{
     font-family:Roboto;
    font-size:15px;
    text-transform:uppercase;
    font-weight:700;
    line-height:2px;
}
.product-grid .title a{
    color: #222;
    transition: all 0.5s ease-out 0s;
}
.product-grid .title a:hover{ color: var(--main-color); }
.product-grid .category{
    font-size: 18px;
    margin: 0 0 3px;
    display: block;
}
.product-grid .category a{
    color: #222;
    transition: all 0.3s ease 0s;
}
.product-grid .category a:hover{ color: var(--main-color); }
.product-grid .price{
    font-family:Roboto;
    font-size:14px;
    text-transform:uppercase;
    font-weight:700;
    line-height:0px;
    display: inline-block;
    color:#000;
}
.product-grid .rating{
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.product-grid .rating li{
    color: #FFB14B;
    font-size: 13px;
    display: inline-block;
}


.action-buttons{
    display:inline-block;
    margin-top:50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.action-buttons .btn-outline{
    padding: 6px 20px;
    border-radius:5px;
    border: 2px solid #ccc;
    margin: 0 4px;
}


.action-buttons .btn-outline-icon{
    padding: 6px 10px;
    border-radius:5px;
    border: 2px solid #ccc;
    margin: 0 4px;
}

.action-buttons a{
    color: #000;
    font-family:Roboto;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:1px;
    cursor:pointer;
  transition: .4s;
}

.action-buttons a:hover{
    color: #fff !important;
    background:#000;
   
}

.product-grid .rating li.disable{ color: #c1c1c1; }
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}
/* end */
.checked {
  color: red; }
  .star-mobile{
      font-size: 10px;
  }
 .unchecked{
    color: white;
 }

  .button-minus{
    color: #fff;
    width: 27px;
    /* width: 27px; */
    line-height: 1;
    height: 27px;
    border-radius: 20px;
    font-size: 18px;
    /* background-color: #117a8b; */
    background: linear-gradient(45deg, #6c0753, #d4474d);
    /* border-color: #10707f; */
  }
  .Quantity-box{
    background: white;
    position: absolute;
    visibility: hidden;
    bottom: 3px;
    right: 0;
    left: 0;
   
}

.fa fa-star{
  color: red;
}